/* ==================================================
   Style Guide breadcrumb
   ================================================== */
.breadcrumb {
  display: flex;
}
.breadcrumb li {
  position: relative;
  margin: 0 8px;
  display: flex;
}
.breadcrumb li * {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 6px 7px 6px;
  gap: 8px;
}
.breadcrumb li *:not(span) {
  text-decoration: underline;
  line-height: 150%;
}
.breadcrumb li *:not(span):hover {
  background-color: #EDF1F5;
  border-radius: 4px;
}
.breadcrumb li *:not(span):active {
  background-color: #CDD7E4;
  border-radius: 4px;
}
.breadcrumb li:before, .breadcrumb li:after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  position: absolute;
  top: 48%;
  left: -15px;
  transform: translateY(-50%);
}
.breadcrumb li.home:before {
  background-image: url("../assets/icons/home.svg");
  width: 12px;
  height: 12px;
  background-size: 100%;
}
.breadcrumb li.home:after {
  background-image: url("../assets/icons/btn-arrow-right.svg");
  width: 12px;
  height: 12px;
}
.breadcrumb li:last-child:before, .breadcrumb li:before {
  background-image: url("../assets/icons/btn-arrow-right.svg");
  width: 12px;
  height: 12px;
}
.breadcrumb li.home + li a:before {
  display: none;
}
