/* ==================================================
   Style Guide button
   ================================================== */
button[class*=btn], label[class*=btn], a[class*=btn] {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  white-space: nowrap;
}
button[class*=btn].xlarge, label[class*=btn].xlarge, a[class*=btn].xlarge {
  padding: 0 24px;
  height: 64px;
}
button[class*=btn].large, label[class*=btn].large, a[class*=btn].large {
  padding: 0 20px;
  height: 35px;
}
button[class*=btn].medium, label[class*=btn].medium, a[class*=btn].medium {
  padding: 0 16px;
  height: 30px;
}
button[class*=btn].small, label[class*=btn].small, a[class*=btn].small {
  padding: 0 12px;
  height: 25px;
}
button[class*=btn].xsmall, label[class*=btn].xsmall, a[class*=btn].xsmall {
  padding: 0 10px;
  height: 20px;
}
button[class*=btn].primary, label[class*=btn].primary, a[class*=btn].primary {
  background-color: #246BEB;
  border: 1px solid #246BEB;
  color: #fff;
}
button[class*=btn].primary:hover, label[class*=btn].primary:hover, a[class*=btn].primary:hover {
  background-color: #1D56BC;
  border-color: #1D56BC;
}
button[class*=btn].primary:active, label[class*=btn].primary:active, a[class*=btn].primary:active {
  background-color: #16408D;
  border-color: #16408D;
}
button[class*=btn].primary:disabled, label[class*=btn].primary:disabled, a[class*=btn].primary:disabled {
  background-color: #D8D8D8;
  border-color: #D8D8D8;
  color: #717171;
}
button[class*=btn].secondary, label[class*=btn].secondary, a[class*=btn].secondary {
  background-color: #EFF5FF;
  border: 1px solid #246BEB;
  color: #1D56BC;
}
button[class*=btn].secondary:hover, label[class*=btn].secondary:hover, a[class*=btn].secondary:hover {
  background-color: #D3E1FB;
  border-color: #246BEB;
  color: #1D56BC;
}
button[class*=btn].secondary:active, label[class*=btn].secondary:active, a[class*=btn].secondary:active {
  background-color: #A7C4F7;
  border-color: #246BEB;
  color: #16408D;
}
button[class*=btn].tertiary, label[class*=btn].tertiary, a[class*=btn].tertiary {
  background-color: #FFFFFF;
  border: 1px solid #1D1D1D;
}
button[class*=btn].tertiary:hover, label[class*=btn].tertiary:hover, a[class*=btn].tertiary:hover {
  background-color: #F8F8F8;
  border-color: #1D1D1D;
}
button[class*=btn].tertiary:active, label[class*=btn].tertiary:active, a[class*=btn].tertiary:active {
  background-color: #F0F0F0;
  border-color: #1D1D1D;
}
button[class*=btn].text, label[class*=btn].text, a[class*=btn].text {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}
button[class*=btn].text.xlarge, button[class*=btn].text.large, label[class*=btn].text.xlarge, label[class*=btn].text.large, a[class*=btn].text.xlarge, a[class*=btn].text.large {
  height: 40px;
}
button[class*=btn].text.medium, label[class*=btn].text.medium, a[class*=btn].text.medium {
  height: 30px;
}
button[class*=btn].text.small, label[class*=btn].text.small, a[class*=btn].text.small {
  height: 24px;
}
button[class*=btn].text.xsmall, label[class*=btn].text.xsmall, a[class*=btn].text.xsmall {
  height: 20px;
}
button[class*=btn].text:hover, label[class*=btn].text:hover, a[class*=btn].text:hover {
  background-color: #EDF1F5 !important;
}
button[class*=btn].text:active, label[class*=btn].text:active, a[class*=btn].text:active {
  background-color: #CDD7E4 !important;
}
button[class*=btn].text:disabled, label[class*=btn].text:disabled, a[class*=btn].text:disabled {
  background-color: #fff;
  border-color: #fff;
  color: #8E8E8E;
}
button[class*=btn]:disabled, label[class*=btn]:disabled, a[class*=btn]:disabled {
  cursor: default;
  pointer-events: none;
  background-color: #D8D8D8;
  border-color: #D8D8D8;
  color: #717171;
}

.btn-area {
  display: flex;
  gap: 8px;
}
.btn-area.btn-end {
  justify-content: flex-end;
}
.btn-area.btn-center {
  justify-content: center;
}
.btn-area.btn-between {
  justify-content: space-between;
}
.btn-area .align {
  display: flex;
  gap: 8px;
}

[class*=btn-area-type] .align {
  flex-wrap: wrap;
}