/* ==================================================
   Style Guide datepicker
   ================================================== */
.calendar {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 8px;
  gap: 8px;
}
.calendar:has(.calendar-btn:disabled) input {
  background-color: #D8D8D8 !important;
  opacity: 1 !important;
  border-color: #C6C6C6 !important;
  background-color: #D8D8D8 !important;
  border: 1px solid red;
}
.calendar .calendar-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 174px;
  min-width: 10px;
  width: 100%;
  height: 30px;
  background-color: #FFF;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
  overflow: hidden;
}
.calendar .calendar-form input {
  padding: 0 43px 0 16px;
}
.calendar .calendar-form.on {
  outline: 2px solid #246BEB;
  border-color: #246BEB;
}
.calendar input[type=text]:not(.form-group input[type=text]) {
  width: 100%;
  height: 100%;
  border: 0;
}
.calendar .calendar-btn {
  min-width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url("../assets/icons/calendar.svg");
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.calendar .hr {
  min-width: 15px;
  display: flex;
  justify-content: center;
}
.calendar .form-group input[type=text] {
  padding: 0;
  text-align: center;
}

.datepicker {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid #ccc;
  z-index: 9;
  background-color: #fff;
}
@media (max-width: 767px) {
  .datepicker {
    left: 0 !important;
    top: 0 !important;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .datepicker .calendar-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 360px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 480px) {
  .datepicker .calendar-wrap {
    width: calc(100% - 40px);
  }
}
.datepicker .calendar-header {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #edf1f5;
}
.datepicker .calendar-header [class*=btn-] {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}
.datepicker .calendar-header [class*=btn-].btn-prev, .datepicker .calendar-header [class*=btn-].btn-next {
  display: flex;
  font-size: 0;
  width: 16px;
  height: 16px;
  position: relative;
  background-image: url("../assets/icons/calendar-btn.svg");
  background-position: center;
  padding: 0;
}
.datepicker .calendar-header [class*=btn-].btn-prev:disabled, .datepicker .calendar-header [class*=btn-].btn-next:disabled {
  background-image: url("../assets/icons/calendar-btn-d.svg");
}
.datepicker .calendar-header [class*=btn-].btn-next {
  transform: rotate(180deg);
}
.datepicker .calendar-header [class*=btn-].btn-next:disabled {
  transform: rotate(360deg);
}
.datepicker .calendar-header [class*=btn-].btn-year, .datepicker .calendar-header [class*=btn-].btn-month {
  padding: 0 8px;
  width: 90px;
  background-image: url("../assets/icons/btn-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-size: 15px;
}
.datepicker .calendar-header [class*=btn-].btn-year.on, .datepicker .calendar-header [class*=btn-].btn-month.on {
  outline: 1px solid #99B0CB;
}
.datepicker .calendar-header [class*=btn-].btn-month {
  background-position: center right 13px;
}
.datepicker .calendar-content {
  position: relative;
  padding: 0 8px;
}
.datepicker .calendar-content .week-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.datepicker .calendar-content .week-con div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}
.datepicker .calendar-content .day-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.datepicker .calendar-content .day-con .day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.2857142857%;
  height: 25px;  
}
.datepicker .calendar-content .day-con .day button {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.datepicker .calendar-content .day-con .day.today button {
  color: #246BEB;
  border: 1px solid #246BEB;
  background-color: rgba(0, 0, 0, 0);
}
.datepicker .calendar-content .day-con .day.today button:hover {
  background-color: #EDF1F5;
}
.datepicker .calendar-content .day-con .day.active:not(.prev) button {
  background-color: #246BEB !important;
  color: #fff !important;
}
.datepicker .calendar-content .day-con .day.btn:hover:not(.today) {
  background-color: #EDF1F5;
  border-color: #EDF1F5;
}
.datepicker .calendar-content .day-con .day.next button, .datepicker .calendar-content .day-con .day.prev button, .datepicker .calendar-content .day-con .day.disabled button {
  pointer-events: none;
  opacity: 0.5;
  color: #717171;
}
.datepicker .calendar-content .year-con {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
  padding: 8px 0;
}
.datepicker .calendar-content .year-con .btn-year-select {
  display: block;
  text-align: center;
  height: 35px;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.datepicker .calendar-content .year-con .btn-year-select.active {
  color: #fff;
}
.datepicker .calendar-content .year-con .btn-year-select.btn-year-select:hover::before, .datepicker .calendar-content .year-con .btn-year-select.active::before {
  content: "";
  display: block;
  width: 140px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 4px;
}
.datepicker .calendar-content .year-con .btn-year-select.btn-year-select:hover::before {
  background-color: #EDF1F5;
}
.datepicker .calendar-content .year-con .btn-year-select.active::before, .datepicker .calendar-content .year-con .btn-year-select.active:hover::before {
  background-color: #246BEB;
}
.datepicker .calendar-content .month-con {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 8px;
  gap: 8px;
}
.datepicker .calendar-content .month-con .btn-month-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.3333333333% - 8px);
  height: 30px;
  background-color: #fff;
  padding: 0;
  font-size: 15px;
}
.datepicker .calendar-content .month-con .btn-month-select.active, .datepicker .calendar-content .month-con .btn-month-select.active:hover {
  background-color: #246BEB;
  color: #fff;
}
.datepicker .calendar-content .month-con .btn-month-select:hover {
  background-color: #EDF1F5;
}
.datepicker .calendar-content .month-con .btn-month-select:disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #717171;
}
.datepicker .calendar-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #E4E4E4;
}