/* ==================================================
   Style Guide icon
   ================================================== */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.icon.large {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.icon.x-large {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
.icon.xx-large {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}
.icon.xxx-large {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}
.icon.small {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
.icon.x-small {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
}
.icon.check {
  background-image: url("../assets/icons/check.svg");
}
.icon.arrow-right {
  background-image: url("../assets/icons/arrow-right.svg");
}
.icon.close {
  background-image: url("../assets/icons/close.svg");
}
.icon.btn-more {
  background-image: url("../assets/icons/btn-more.svg");
}
.icon.btn-arrow-down {
  background-image: url("../assets/icons/btn-arrow-down.svg");
}
.icon.btn-arrow-top {
  background-image: url("../assets/icons/btn-arrow-top.svg");
}
.icon.btn-arrow-left {
  background-image: url("../assets/icons/btn-arrow-left.svg");
}
.icon.btn-arrow-right {
  background-image: url("../assets/icons/btn-arrow-right.svg");
}
.icon.front {
  background-image: url("../assets/icons/front.svg");
}
.icon.back {
  background-image: url("../assets/icons/back.svg");
}
.icon.stop {
  background-image: url("../assets/icons/stop.svg");
}
.icon.plus {
  background-image: url("../assets/icons/plus.svg");
}
.icon.minus {
  background-image: url("../assets/icons/minus.svg");
}
.icon.close {
  background-image: url("../assets/icons/close.svg");
}
.icon.close-d {
  background-image: url("../assets/icons/close-d.svg");
}
.icon.ellipsis {
  background-image: url("../assets/icons/ellipsis.svg");
}
.icon.search {
  background-image: url("../assets/icons/search.svg");
}
.icon.heart {
  background-image: url("../assets/icons/heart.svg");
}
.icon.lock {
  background-image: url("../assets/icons/lock.svg");
}
.icon.calendar {
  background-image: url("../assets/icons/calendar.svg");
}
.icon.delete {
  background-image: url("../assets/icons/delete.svg");
}
.icon.delete-circle {
  background-image: url("../assets/icons/delete-circle.svg");
}
.icon.exclamation {
  background-image: url("../assets/icons/exclamation.svg");
}
.icon.open-new-window {
  background-image: url("../assets/icons/open-new-window.svg");
}
.icon.upload {
  background-image: url("../assets/icons/upload.svg");
}
.icon.download {
  background-image: url("../assets/icons/download.svg");
}
.icon.refresh {
  background-image: url("../assets/icons/refresh.svg");
}
.icon.refresh-d {
  background-image: url("../assets/icons/refresh-d.svg");
}
.icon.filter {
  background-image: url("../assets/icons/filter.svg");
}
.icon.multi {
  background-image: url("../assets/icons/multi.svg");
}
.icon.share {
  background-image: url("../assets/icons/share.svg");
}
.icon.visibility {
  background-image: url("../assets/icons/visibility.svg");
}
.icon.visibility-off {
  background-image: url("../assets/icons/visibility-off.svg");
}
.icon.setting {
  background-image: url("../assets/icons/setting.svg");
}
.icon.check-circle {
  background-image: url("../assets/icons/check-circle.svg");
}
.icon.info-fill {
  background-image: url("../assets/icons/info-fill.svg");
}
.icon.annotation {
  background-image: url("../assets/icons/annotation.svg");
}
.icon.login {
  background-image: url("../assets/icons/login.svg");
}
.icon.logout {
  background-image: url("../assets/icons/logout.svg");
}
.icon.join {
  background-image: url("../assets/icons/join.svg");
}
.icon.mypage {
  background-image: url("../assets/icons/mypage.svg");
}
.icon.time {
  background-image: url("../assets/icons/time.svg");
}
.icon.expand-less {
  background-image: url("../assets/icons/expand-less.svg");
}
.icon.expand-more {
  background-image: url("../assets/icons/expand-more.svg");
}
.icon.scrap {
  background-image: url("../assets/icons/scrap.svg");
}
.icon.menu {
  background-image: url("../assets/icons/menu.svg");
}
.icon.printer {
  background-image: url("../assets/icons/printer.svg");
}
.icon.mail {
  background-image: url("../assets/icons/mail.svg");
}
.icon.library {
  background-image: url("../assets/icons/library.svg");
}
.icon.basket {
  background-image: url("../assets/icons/basket.svg");
}
.icon.view-all {
  background-image: url("../assets/icons/view-all.svg");
}
.icon.face-smile {
  background-image: url("../assets/icons/face-smile.svg");
}
.icon.face-sad {
  background-image: url("../assets/icons/face-sad.svg");
}
.icon.danger {
  background-image: url("../assets/icons/danger.svg");
}
.icon.home {
  background-image: url("../assets/icons/home.svg");
}
.icon.chips {
  background-image: url("../assets/icons/chips.svg");
}
.icon.chips-chk {
  background-image: url("../assets/icons/chips-chk.svg");
}
.icon.check-a {
  background-image: url("../assets/icons/check-a.svg");
  background-color: #246BEB;
}
.icon.check-d {
  background-image: url("../assets/icons/check-d.svg");
  border-color: #C6C6C6;
  background-color: #D8D8D8;
}
.icon.check-m {
  background-image: url("../assets/icons/check-m.svg");
  background-color: #246BEB;
}
.icon.check-d-m {
  background-image: url("../assets/icons/check-d-m.svg");
  background-color: #246BEB;
  border-color: #C6C6C6;
  background-color: #D8D8D8;
}
.icon.inp-title {
  background-image: url("../assets/icons/inp-title.svg");
}
.icon.step {
  background-image: url("../assets/icons/step.svg");
  background-color: #003675;
}
.icon.tb-turn {
  background-image: url("../assets/icons/tb-turn.svg");
}
.icon.search-type1 {
  background-image: url("../assets/icons/search-type1.svg");
}
.icon.copy {
  background-image: url("../assets/icons/copy.svg");
}
.icon.file {
  background-image: url("../assets/icons/file.svg");
}
.icon.check-circle1 {
  background-image: url("../assets/icons/check-circle1.svg");
}
.icon.info-fill1 {
  background-image: url("../assets/icons/info-fill1.svg");
}
.icon.warning {
  background-image: url("../assets/icons/warning.svg");
}
.icon.voice {
  background-image: url("../assets/icons/voice.svg");
}
.icon.rise {
  background-image: url("../assets/icons/rise.svg");
}
.icon.decrease {
  background-image: url("../assets/icons/decrease.svg");
}