@use "../mixin" as *;

.form-group {
  input[type=text], input[type=password]{border-radius: 4px;background-color: #fff;border-width: 0;border-style: none;border: 1px solid #C6C6C6;padding: 0px 16px;}    
  .form-hint-invalid {color: #555;position: relative;margin-top: 12px;padding-left: 24px;}
  input[type=text],select,textarea, input[type=password]{width:100%;min-width: 10px;}

   &.form-tit-group {border: 1px solid #C6C6C6;display: flex;height: 30px;padding: 0 16px;align-items: center;position: relative;border-radius: 4px;
    input[type=text], input[type=password] {border: 0;background-color: rgba(0, 0, 0, 0);padding: 0;height: 100%;padding-left: 15px;width: 100%;}
    label {position: relative;color:#8E8E8E;      
      &:before {content: "";display: block;position: absolute;top: 50%;right: -8px;width: 1px;height: 16px;background-color: #C6C6C6;transform: translateY(-50%);}
    }
    .form-hint-invalid {margin-top: 0;}
    .form-conts{height:100%;}
  }
  textarea {height: 144px;padding: 16px;border-radius: 4px;border: 1px solid #717171;resize: none;}
  .form-tit-txt label {margin-bottom: 8px;display: block;}
  .textarea-count {display: flex;justify-content: flex-end;margin-top: 9px;
    span {color: #555;}
    .count-now {color: #246BEB;}
  }
  .wrap-textarea-count {display: flex;justify-content: space-between;align-items: center;margin-top: 1px;}
  select {-webkit-appearance: none;-moz-appearance: none;appearance: none;background-image: url("../assets/icons/btn-arrow-down.svg");background-repeat: no-repeat;background-position: center right 14px;background-color: #fff;padding: 0px 35px 0 16px;border-radius: 4px;text-overflow: ellipsis;white-space: nowrap;border-color:#C6C6C6;
    &:invalid {color: #8E8E8E;}
  }
  .form-conts.is-success input[type=text],.form-conts.is-success input[type=password] {outline: 2px solid #246BEB;border-color: #246BEB;}
  &.form-tit-group {
    &.is-success {outline: 2px solid #246BEB;border-color: #246BEB;}
    input[type=text]:focus, input[type=password]:focus {outline: none;}
  }
  .textarea-count .count-now.is-error {color: #D50136;}
  .wrap-textarea-count .form-hint-invalid.txt-error {margin-top: 0;}
  .form-hint-invalid.txt-error:before {background-image: url("../assets/icons/danger.svg");}
  .form-conts.is-error {
    input[type=text], textarea, select, input[type=password] {outline: 2px solid #EB003B;border-color: #EB003B;}
  }
  &.form-tit-group.is-error {outline: 2px solid #EB003B;border-color: #EB003B;}  
  &.form-tit-group:focus-within {outline:2px solid #000;}  
  textarea::placeholder {color: #8E8E8E;}
  input[type=text]::placeholder, input[type=password]::placeholder {color: #8E8E8E;}
  &.form-tit-group input[type=text], &.form-tit-group input[type=password] {
    &::placeholder {color: #8E8E8E;}
  }
  &.large {
    input[type=text], select, input[type=password] {height: 35px;}
  }
  &.medium {
    input[type=text], select, input[type=password] {height: 30px;}
  }
  &.small {
    input[type=text], select, input[type=password] {height: 25px;}
  }

  //비밀번호
  .password-area{position: relative;padding: 0;    
    input[type=password]{overflow: hidden;white-space: nowrap;width:100%;height: 48px;display: flex;align-items: center;padding-top: 6px;}  
    input[type=password]{position: absolute;top:0;left:0;background-color: rgba(0,0,0,0.0);width:100%;height: 100%;color:transparent;border:0;padding: 0 16px;border:0;}
    input[type=password]{font-size:16px}    
  }
}
.wrap-form-group .form-hint-invalid {color: #555;position: relative;margin-top: 12px;padding-left: 24px;}
.form-group .form-hint-invalid:before, .wrap-form-group .form-hint-invalid:before {content: "";display: block;position: absolute;top: 50%;left: 0;width: 20px;height: 20px;transform: translateY(-50%);background-image: url("../assets/icons/inp-title.svg");}
.form-conts.is-success {
  textarea, select {outline: 2px solid #246BEB;border-color: #246BEB;}
}
.wrap-form-group .form-hint-invalid:before {background-image: url("../assets/icons/danger.svg");}
.form-group .form-hint-invalid.txt-error, .wrap-form-group .form-hint-invalid {color: #EB003B;}
.form-select-sort {-webkit-appearance: none;-moz-appearance: none;appearance: none;background-image: url("../assets/icons/btn-arrow-down.svg");background-repeat: no-repeat;border: 0;background-color: #fff;
  &.large {padding: 0 29px 0 5px;height: 27px;background-position: center right 3px;background-size: 18px;}
  &.medium {padding: 0 17px 0 5px;height: 27px;background-position: center right 3px;background-size: 14px;}
}

//disabled
input[type=text]:disabled,textarea:disabled,select:disabled,select:disabled option,.password-input:disabled + input[type=password],.form-tit-group:has(input:disabled){background-color: #D8D8D8 !important;opacity:0.5 !important;border-color:#C6C6C6 !important;}
input[type=text][readonly],textarea[readonly],select[readonly],select[readonly] option,.password-input[readonly] + input[type=password],.form-tit-group:has(input[readonly]){background-color: #f1f1f1;}

//비밀번호
input[data-ui=hidden-input]{line-height:48px}

//비밀번호 눈모양
.form-group.password-eye{position: relative;
  input{padding-right: 45px !important;}
  .eye-btn{display: block;position: absolute;top: 50%;right: 16px;width: 16px;height: 16px;transform: translateY(-50%);background-position: center;background-image: url("../assets/icons/visibility.svg");font-size:0;}
}