/* ==================================================
   Style Guide modal
   ================================================== */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.modal-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  width: 95% !important;
  min-width: 100px;
  max-height: 95%;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding-right: 40px;
}
.modal-header h5 {
  margin-top: 15px;
  line-height: 150%;
}

.modal-body {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 300px);
}
.modal-body .modal-cont {
  line-height: 150%;
  margin-bottom: 25px;
}
.modal-body .modal-cont > *:last-child {
  margin-bottom: 0;
}
.modal-body .modal-cont .cer-txt {
  margin-top: 12px;
}
.modal-body .modal-cont [class*=-type] {
  width: 100%;
  line-height: 150%;
}
.modal-body .modal-cont .tit-type {
  font-size: 21px;
}
.modal-body .modal-cont .txt-box-type .txt-type {
  margin-bottom: 0;
}
.modal-body .modal-cont .txt-type {
  margin-bottom: 14px;
  display: block;
  word-break: break-word;
}
.modal-body .modal-cont .btn-form + .form-btn-area {
  top: 81px !important;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-top: 1px solid #E4E4E4;
  padding-top: 24px;
  flex-wrap: wrap;
}
.modal-footer [class*=form-] {
  margin-right: 15px;
}

.modal .btn-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.modal.type1 .modal-footer {
  border-top: 0;
  padding: 0;
}