@use "../mixin" as *;


input {
  &[type=radio], &[type=checkbox] {width: 0;height: 0;position: absolute;overflow: hidden;top:-10000px;left: -10000px;}
  &[type=radio]:focus + label,&[type=checkbox]:focus + label{outline:2px solid #000;}
}
.form-check {position: relative;  
  label {position: relative;display: flex;align-items: center;white-space: nowrap;cursor: pointer;  
    &:before {content: "";display: block;position: absolute;top: 50%;transform: translateY(-50%);border-radius: 50%;background-color: #fff;}
    &:after {content: "";display: block;position: absolute;top: 50%;transform: translateY(-50%);border-radius: 50%;background-color: #246beb;display: none;}
    &:before {border: 1px solid #717171;padding: 5px;left: 0;}
  }
  input {
    &[type=radio]:checked + label:after, &[type=checkbox]:checked + label:after {display: block;}
    &[type=radio]:checked + label:before, &[type=checkbox]:checked + label:before {border-color: #246beb;}
    &[type=radio]:disabled + label, &[type=checkbox]:disabled + label {color: #8e8e8e;}
    &[type=radio]:disabled + label:before, &[type=checkbox]:disabled + label:before {border: 1px solid #c6c6c6;background-color: #d8d8d8;}
    &[type=radio]:disabled + label:after, &[type=checkbox]:disabled + label:after {background-color: #c6c6c6;}    
  }
  &.large label {font-size: 19px;padding: 0 0 0 32px;height: 24px;
    &:before, &:after {width: 12px;height: 12px;}
    &:after{left: 6px;}
  }
  &.medium label {padding: 0 0 0 29px;height: 20px;
    &:before{width: 8px;height: 8px;}
     &:after {width: 10px;height: 10px;left: 5px;}
  }
}
.form-chip {position: relative;
  label {display: inline-block;border-radius: 4px;border: 1px solid #c6c6c6;background-color: #fff;display: inline-flex;align-items: center;gap: 6px;cursor: pointer}
  input {
    &[type=radio]:checked + label, &[type=checkbox]:checked + label {color: #1d56bc;border-color: #246beb;background-color: #eff5ff;}
    &[type=radio]:checked + label:before, &[type=checkbox]:checked + label:before {content: "";display: block;background-image: url("../assets/icons/chips.svg");background-size: cover;position: absolute;}
    &[type=radio]:disabled + label, &[type=checkbox]:disabled + label {border-color: #c6c6c6;background-color: #d8d8d8;color: #717171;}
  }
  &.large {
    label {padding: 12px 16px;line-height: 22px;}
    input {
      &[type=radio]:checked + label, &[type=checkbox]:checked + label {padding-left: 36px;}
      &[type=radio]:checked + label:before, &[type=checkbox]:checked + label:before {left: 18px;}
    }
    label:before {width: 16px;height: 16px;}
  }

  &.medium {
    label {padding: 12px;line-height: 14px;}
    input {
      &[type=radio]:checked + label, &[type=checkbox]:checked + label {padding-left: 32px;}
      &[type=radio]:checked + label:before, &[type=checkbox]:checked + label:before {left: 14px;}
    }
    label:before {width: 16px;height: 16px;}
  }
  &.small {
    label {padding: 12px 10px;font-size: 15px;line-height: 6px;}
    input {
      &[type=radio]:checked + label, &[type=checkbox]:checked + label {padding-left: 27px;}
      &[type=radio]:checked + label:before, &[type=checkbox]:checked + label:before {left: 12px;}
    }
    label:before {width: 12px;height: 12px;
    }
  }
}
.form-check {
  input[type=checkbox] {
    + label {padding-left: 28px;
      &:before {width: 14px;height: 14px;padding: 2px;border-radius: 4px;}
    }
    &:checked + label:before {background-color: #246BEB;background-repeat: no-repeat;background-position: center;background-image: url('../assets/icons/check-a.svg');z-index: 1;}
  }
  &.check-type1 input[type="checkbox"]:checked + label:before {background-image: url('../assets/icons/check-m.svg');}
  input[type=checkbox]:disabled + label {
    &:before {border-color: #C6C6C6;background-color: #D8D8D8;}
    &:after {background-image: url('../assets/icons/check-d.svg');width: 14px;height: 14px;padding: 2px;border-radius: 0;background-position: center;left: 1px;background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;}
  }
  input[type=checkbox]:checked:disabled + label {color:#1D1D1D;
    &:before {background-image: url('../assets/icons/check-d.svg');}
  }
  &.check-type1 input[type=checkbox]:disabled + label:after {background-image: url('../assets/icons/check-d-m.svg');width: 11px;height: 2px;left: 3px;}
}
.form-chip {
  input[type=checkbox] + label:before {background-image: url(../assets/icons/chips-chk.svg);content: "";display: block;position: absolute;background-size: cover;}
  &.large input {
    &[type=checkbox] + label {padding-left: 36px;
      &:before {left: 14px;}
    }
    &[type=checkbox]:checked + label:before {left: 14px;}
  }
  &.medium input {
    &[type=checkbox] + label {padding-left: 32px;
      &:before {left: 12px;}
    }
    &[type=checkbox]:checked + label:before {left: 12px;}
  }
  &.small input {
    &[type=checkbox] + label {padding-left: 27px;
      &:before {left: 10px;}
    }
    &[type=checkbox]:checked + label:before {left: 10px;}
  }
}