@use "../mixin" as *;

.step-wrap {
  display: flex;

  li span:not(.stop-tit) {
    display: flex;
    flex-direction: column;
  }

  i {
    font-style: normal;
    font-size: 15px;
    color: #555;
  }

  .step-tit {
    font-size: 15px;     
    font-weight: 700;   
  }

  li {
    padding: 32px 32px 0 0;
    position: relative;

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      top: 10px;
      left: 0;
      width: 100%;
      height: 1px;
    }

    &:after {
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    &:before, &:after {
      background-color: #E4E4E4;
    }

    &.done {
      &:before {
        background-color: #003675;
      }

      &:after {
        background-color: #003675;
        background-image: url('../assets/icons/step.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &.active {
      &:before {
        background-color: #C6C6C6;
      }

      &:after {
        border: 1.2px solid #246BEB;
        background-color: #fff;
        background-image: url('../assets/icons/step-ellipsis.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 18px;
        height: 17px;
      }
    }

    &:last-child:before {
      display: none;
    }
  }

  &.step-type1 li {
    min-width: 151px;
  }

  &.step-type2 li {
    min-width: 120px;
  }

  &.step-type3 li {
    min-width: 191px;
  }
}