/* ==================================================
   Style Guide step
   ================================================== */
.step-wrap {
  display: flex;
}
.step-wrap li span:not(.stop-tit) {
  display: flex;
  flex-direction: column;
}
.step-wrap i {
  font-style: normal;
  color: #555;
}
.step-wrap .step-tit {
  font-weight: 700;
}
.step-wrap li {
  padding: 23px 32px 0 0;
  position: relative;
}
.step-wrap li:before, .step-wrap li:after {
  content: "";
  display: block;
  position: absolute;
}
.step-wrap li:before {
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
}
.step-wrap li:after {
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.step-wrap li:before, .step-wrap li:after {
  background-color: #E4E4E4;
}
.step-wrap li.done:before {
  background-color: #003675;
}
.step-wrap li.done:after {
  background-color: #003675;
  background-image: url("../assets/icons/step.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.step-wrap li.active:before {
  background-color: #C6C6C6;
}
.step-wrap li.active:after {
  border: 1.2px solid #246BEB;
  background-color: #fff;
  background-image: url("../assets/icons/step-ellipsis.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}
.step-wrap li:last-child:before {
  display: none;
}
.step-wrap.step-type1 li {
  min-width: 151px;
}
.step-wrap.step-type2 li {
  min-width: 120px;
}
.step-wrap.step-type3 li {
  min-width: 191px;
}