@use "../mixin" as *;

// 테이블 기본 타이틀
.board-top {display: flex;justify-content: space-between;flex-wrap: wrap;
  div[class*=t-box] {display: flex;align-items: center;
    .compulsory-txt{margin: 10px 6px 0 0;}
  }

  .tit {padding-right: 12px;
    strong {color: #1D56BC;margin: 0 3px;}
  }

  .choice {margin: 0 5px 0 11px;}

  .top-txt {position: relative;padding-left: 12px;
    &.tit{padding-left: 0;}
    select{padding-left:0;}
    &:before {content: "";display: block;position: absolute;top: 5px;left: 0;width: 1px;height: 16px;background-color: #E4E4E4;}
  }

  .tit:before {display: none;}

  &.no-wrap{flex-direction: row;
    .right-box{margin-top: 0;
      &:has(button){gap:8px}
    }
  }
}

// 테이블 
.wrap-check-tbl .btn-area{margin-top: 24px;}
.table-wrap {display: table;table-layout: fixed;position: relative;min-width: 100%;width: 100%;word-break: break-all;  

  table {table-layout: fixed;width: 100%;border-spacing: 0;}

  th {font-size: 15px;border-bottom: 1px solid #58616A;vertical-align: middle;background-color: #E6E8EA;position: relative;text-align: center;line-height: 150%;padding: 11px 16px;font-weight: 700;
    *:not(.tooltip-tit *) {font-weight: 700;font-size: 15px;}
    .tooltip-tit{display: flex;justify-content: center;      
      .title{padding-right: 20px;position: relative;}
      .contextual-help{bottom:2px;transform: translateY(0);margin: 0 0;margin-left: 3px;height:auto;
        .tooltip-ico{background-image: url(../assets/icons/tb-exclamation.svg);}
        .tooltip-popover{text-align: left;}
      }
    }        
  }

  td {border-bottom: 1px solid #E4E4E4;vertical-align: middle;text-align: center;line-height: 150%;padding: 12px 16px;} 


  .th-turn {width: 20px;height: 20px;position: absolute;top: 50%;right: 0;background-image: url(../assets/icons/tb-turn.svg);background-position: center;background-color: rgba(0, 0, 0, 0);transition: all 0.3s;transform: translateY(-50%);padding: 0;
    &.active {transform: rotate(180deg);}
  }

  .arr-ico {position: relative;padding-right: 25px;display: inline-block;}

  a.txt {display: block;width: 100%;height: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

  .file-down {width: 24px;height: 24px;font-size: 0;background-image: url("../assets/icons/file.svg");background-position: center;background-color: #fff;}  


  // 체크박스,라디오박스
  &.mo{
    .header{
      .form-check{
        label{padding-left: 28px;}
      }      
    }
  }
  .form-check{width:20px;height:15px;display: inline-block;
    input[type=checkbox] + label, 
    input[type=radio] + label {padding: 0;}
    /*&:before {position: relative;top: 0;left: 0;transform: translateY(0);background-color: #fff;}*/
  }  
}

// 단순형 테이블
.wrap-cont-tbl{position: relative;    
  
  a{text-decoration: underline;}

  // 단순형 선 
  table.cont {    
    tr {
      &.line1 th {background-color: #CDD1D5;border-bottom: 0;border-top: 1px solid #58616A;        
        &:first-child {border-left: 1px solid #CDD1D5;}
        &:last-child {border-right: 1px solid #CDD1D5;}
      }
      th {border: 1px solid #B1B8BE;border-top: none;}
    }
    td {border: 1px solid #E4E4E4;border-top: none;border-right:none;}


    &.type1{
      &::after{display: none;}
      tr{                                
        th{border-right:0;}
        td{border-right:0;text-align: center;border-left:0;}
        &.last-tr td,td.number{border-bottom:1px solid #C6C6C6;}
      }
    }
  }

  // 단순형 배경
  &.bg-tbl{
    tr:nth-child(odd) td{background-color: #F8F8F8;}
    tr:nth-child(even) td{background-color: #fff;}
  }


  &.scorll{overflow-x: auto;overflow-y: hidden;}  
  
  .table-wrap{
    table{position: relative;
      &::after{content:"";display: block;position: absolute;top:0;right:0;background-color: #E4E4E4;width: 1px;height:100%;z-index: 1;}
      &::before{content:"";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 1px;background-color: #24282B;z-index: 1;}
    }          
  }       
} 



