/* ==================================================
   Style Guide tabmenu
   ================================================== */
[class*=tabmenu-] {
  position: relative;
}
[class*=tabmenu-] .tabmenu-wrap {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
[class*=tabmenu-] .tabmenu-wrap::-webkit-scrollbar {
  display: none;
}
[class*=tabmenu-] button {
  font-size: 19px;
  color: #555;
  background-color: rgba(0, 0, 0, 0);
  line-height: 150%;
  width: 100%;
  font-weight: 700;
}
[class*=tabmenu-] button:hover {
  background-color: #EDF1F5;
}
[class*=tabmenu-] button:disabled {
  color: #8E8E8E;
  pointer-events: none;
}
[class*=tabmenu-] .btn-next, [class*=tabmenu-] .btn-prev {
  position: absolute;
  border: 1px solid #D8D8D8;
  top: 12px;
  width: 32px;
  height: 32px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[class*=tabmenu-] .btn-prev {
  left: 0;
}
[class*=tabmenu-] .btn-next {
  right: 0;
}

[class*=tabmenu-line] button.active {
  color: #003675;
  position: relative;
}
[class*=tabmenu-line] button.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #003675;
  z-index: 2;
}

.tabmenu-line1::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #D8D8D8;
  z-index: 1;
}
.tabmenu-line1 button {
  height: 56px;
  padding: 0 20px;
  white-space: nowrap;
}

.tabmenu-line2 {
  display: flex;
  gap: 16px;
}
.tabmenu-line2 button {
  min-width: 41px;
  height: 48px;
  padding: 0 4px;
}

.tabmenu-bg1 button {
  min-width: 48px;
  height: 56px;
  padding: 0 16px;
  border: 1px solid #B4C4D6;
  border-radius: 4px;
  margin-left: -1px;
}
.tabmenu-bg1 button.active {
  background-color: #003675;
  color: #fff;
}