/* ==================================================
   Style Guide Grid
   ================================================== */
.board-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.board-top div[class*=t-box] {
  display: flex;
  align-items: center;
}
.board-top div[class*=t-box] .compulsory-txt {
  margin: 10px 6px 0 0;
}
.board-top .tit {
  padding-right: 12px;
}
.board-top .tit strong {
  color: #1D56BC;
  margin: 0 3px;
}
.board-top .choice {
  margin: 0 5px 0 11px;
}
.board-top .top-txt {
  position: relative;
  padding-left: 12px;
}
.board-top .top-txt.tit {
  padding-left: 0;
}
.board-top .top-txt select {
  padding-left: 0;
}
.board-top .top-txt:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 1px;
  height: 16px;
  background-color: #E4E4E4;
}
.board-top .tit:before {
  display: none;
}
.board-top.no-wrap {
  flex-direction: row;
}
.board-top.no-wrap .right-box {
  margin-top: 0;
}
.board-top.no-wrap .right-box:has(button) {
  gap: 8px;
}

.wrap-check-tbl .btn-area {
  margin-top: 24px;
}

.table-wrap {
  display: table;
  table-layout: fixed;
  position: relative;
  min-width: 100%;
  width: 100%;
  word-break: break-all;
}
.table-wrap table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}
.table-wrap th {
  border-bottom: 1px solid #58616A;
  vertical-align: middle;
  background-color: #E6E8EA;
  position: relative;
  text-align: center;
  line-height: 120%;
  padding: 10px 5px;
  font-weight: 700;
}
.table-wrap th *:not(.tooltip-tit *) {
  font-weight: 700;
}
.table-wrap th .tooltip-tit {
  display: flex;
  justify-content: center;
}
.table-wrap th .tooltip-tit .title {
  padding-right: 20px;
  position: relative;
}
.table-wrap th .tooltip-tit .contextual-help {
  bottom: 2px;
  transform: translateY(0);
  margin: 0 0;
  margin-left: 3px;
  height: auto;
}
.table-wrap th .tooltip-tit .contextual-help .tooltip-ico {
  background-image: url(../assets/icons/tb-exclamation.svg);
}
.table-wrap th .tooltip-tit .contextual-help .tooltip-popover {
  text-align: left;
}
.table-wrap td {
  border-bottom: 1px solid #E4E4E4;
  vertical-align: middle;
  text-align: center;
  line-height: 150%;
  padding: 5px;
}
.table-wrap .th-turn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  background-image: url(../assets/icons/tb-turn.svg);
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  transform: translateY(-50%);
  padding: 0;
}
.table-wrap .th-turn.active {
  transform: rotate(180deg);
}
.table-wrap .arr-ico {
  position: relative;
  padding-right: 25px;
  display: inline-block;
}
.table-wrap a.txt {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-wrap .file-down {
  width: 24px;
  height: 24px;
  font-size: 0;
  background-image: url("../assets/icons/file.svg");
  background-position: center;
  background-color: #fff;
}
.table-wrap.mo .header .form-check label {
  padding-left: 28px;
}
.table-wrap .form-check {
  width: 20px;
  height: 15px;
  display: inline-block;  
}
.table-wrap .form-check input[type=checkbox] + label,
.table-wrap .form-check input[type=radio] + label {
  padding: 0;
}

.wrap-cont-tbl {
  position: relative;
}
.wrap-cont-tbl a {
  text-decoration: underline;
}
.wrap-cont-tbl table.cont tr.line1 th {
  background-color: #CDD1D5;
  border-bottom: 0;
  border-top: 1px solid #58616A;
}
.wrap-cont-tbl table.cont tr.line1 th:first-child {
  border-left: 1px solid #CDD1D5;
}
.wrap-cont-tbl table.cont tr.line1 th:last-child {
  border-right: 1px solid #CDD1D5;
}
.wrap-cont-tbl table.cont tr th {
  border: 1px solid #B1B8BE;
  border-top: none;
}
.wrap-cont-tbl table.cont td {
  border: 1px solid #E4E4E4;
  border-top: none;
  border-right: none;
}
.wrap-cont-tbl table.cont.type1::after {
  display: none;
}
.wrap-cont-tbl table.cont.type1 tr th {
  border-right: 0;
}
.wrap-cont-tbl table.cont.type1 tr td {
  border-right: 0;
  text-align: center;
  border-left: 0;
}
.wrap-cont-tbl table.cont.type1 tr.last-tr td, .wrap-cont-tbl table.cont.type1 tr td.number {
  border-bottom: 1px solid #C6C6C6;
}
.wrap-cont-tbl.bg-tbl tr:nth-child(odd) td {
  background-color: #F8F8F8;
}
.wrap-cont-tbl.bg-tbl tr:nth-child(even) td {
  background-color: #fff;
}
.wrap-cont-tbl.scorll {
  overflow-x: auto;
  overflow-y: hidden;
}
.wrap-cont-tbl .table-wrap table {
  position: relative;
}
.wrap-cont-tbl .table-wrap table::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #E4E4E4;
  width: 1px;
  height: 100%;
  z-index: 1;
}
.wrap-cont-tbl .table-wrap table::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #24282B;
  z-index: 1;
}