/* ==================================================
   Style Guide tooltip
   ================================================== */
.contextual-help .tooltip-btn-area {
  display: inline-block;
  position: relative;
}
.contextual-help .tooltip-action {
  display: none;
}
.contextual-help .tooltip-action.active {
  display: block;
}
.contextual-help.bottom .tooltip-action:before {
  top: -12px;
  transform: rotate(180deg);
}
.contextual-help.top .tooltip-action:before {
  bottom: -12px;
}
.contextual-help.bottom.left .tooltip-action:before {
  right: 24px;
}
.contextual-help.bottom.center .tooltip-action:before {
  left: 50%;
}
.contextual-help.bottom.right .tooltip-action:before {
  left: 24px;
}
.contextual-help.top.left .tooltip-action:before {
  right: 24px;
}
.contextual-help.top.center .tooltip-action:before {
  right: 47%;
}
.contextual-help.top.right .tooltip-action:before {
  left: 24px;
}
.contextual-help.top .tooltip-action {
  bottom: 32px;
}
.contextual-help.bottom .tooltip-action {
  top: 45px;
}
.contextual-help.top.right .tooltip-action {
  left: -27px;
}
.contextual-help.top.center .tooltip-action {
  right: -171px;
}
.contextual-help.top.left .tooltip-action {
  right: -27px;
}
.contextual-help.bottom.right .tooltip-action {
  left: -27px;
}
.contextual-help.bottom.center .tooltip-action {
  right: -161px;
}
.contextual-help.bottom.left .tooltip-action {
  right: -27px;
}

.tooltip-action {
  padding: 24px;
  width: 360px;
  border: 1px solid #C6C6C6;
  position: relative;
  border-radius: 12px;
  background-color: #FFF;
  position: absolute;
  z-index: 1;
}
.tooltip-action:before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 12px;
  background-image: url("../assets/icons/tooltip-arr.svg");
}
.tooltip-action .tooltip-contents {
  margin-top: 22px;
}
.tooltip-action .tooltip-contents p {
  line-height: 150%;
}
.tooltip-action .tooltip-contents .btn.link {
  position: relative;
}
.tooltip-action .tooltip-contents .btn.link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -20px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background-image: url("../assets/icons/btn-arrow-right.svg");
  background-position: center;
  background-size: 16px;
}
.tooltip-action .tooltip-btn-area {
  display: inline-block;
}
.tooltip-action .btn-wrap {
  margin-top: 25px;
}
.tooltip-action .tooltip-close {
  position: absolute;
  top: 17px;
  right: 24px;
  width: 16px;
  height: 16px;
  border-radius: 0;
  background-image: url("../assets/icons/close.svg");
  background-position: center;
  background-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}