@use "../mixin" as *;

.contextual-help {
  .tooltip-btn-area {display: inline-block;position: relative;}
  .tooltip-action {display: none;
    &.active {display: block;}
  }
  &.bottom .tooltip-action:before {top: -12px;transform: rotate(180deg);}
  &.top .tooltip-action:before {bottom: -12px;}
  &.bottom {
    &.left .tooltip-action:before {right: 24px;}
    &.center .tooltip-action:before {left: 50%;}
    &.right .tooltip-action:before {left: 24px;}
  }

  &.top {
    &.left .tooltip-action:before {right: 24px;}
    &.center .tooltip-action:before {right: 47%;}
    &.right .tooltip-action:before {left: 24px;}
    .tooltip-action {bottom: 32px;}
  }
  &.bottom .tooltip-action {top: 45px;}
  &.top {
    &.right .tooltip-action {left: -27px;}
    &.center .tooltip-action {right: -171px;}
    &.left .tooltip-action {right: -27px;}
  }
  &.bottom {
    &.right .tooltip-action {left: -27px;}
    &.center .tooltip-action {right: -161px;}
    &.left .tooltip-action {right: -27px;}
  }
}
.tooltip-action {padding: 24px;width: 360px;border: 1px solid #C6C6C6;position: relative;border-radius: 12px;background-color: #FFF;position: absolute;z-index: 1;
  &:before {content: "";display: block;position: absolute;width: 22px;height: 12px;background-image: url("../assets/icons/tooltip-arr.svg");}
  .tooltip-title {}  
  .tooltip-contents {margin-top: 22px;
    p {line-height: 150%;}
    .btn.link {position: relative;      
      &:before {content: "";display: block;position: absolute;top: 50%;right: -20px;width: 16px;height: 16px;transform: translateY(-50%);background-image: url("../assets/icons/btn-arrow-right.svg");background-position: center;background-size: 16px;}
    }
  }
  .tooltip-btn-area {display: inline-block;}
  .btn-wrap {margin-top: 25px;}
  .tooltip-close {position: absolute;top: 17px;right: 24px;width: 16px;height: 16px;border-radius: 0;background-image: url("../assets/icons/close.svg");background-position: center;background-size: 16px;background-color: rgba(0, 0, 0, 0);border: 0;}
}