/* ========================================================================
   PAGE: Pages-Modal   
   ======================================================================== */
.modal-body .reforwarding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-body .reforwarding .txt-type {
  padding-right: 20px;
  margin-bottom: 0;
}
.modal-body .effective-time {
  color: #E71825;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 11px;
}
.modal-body .certification-number {
  display: flex;
  justify-content: center;
}
.modal-body .certification-number .number {
  display: flex;
  gap: 8px;
}
.modal-body .certification-number .number input {
  width: 100%;
  min-width: 1px;
  max-width: 42px;
  height: 48px;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
  text-align: center;
}
.modal-body .wrap-form-area {
  margin: 24px 0;
}
.modal-body .wrap-form-area:first-child {
  margin: 0;
}
.modal-body .wrap-form-area li p.txt.disabled {
  color: #8E8E8E;
}
.modal-body .total-area {
  border-top: 1px solid #717171;
  margin-top: 24px;
  padding-top: 24px;
  display: flex;
}
.modal-body .population-list li:first-child .title-type3 {
  margin-top: 0;
}
.modal-body .population-list img {
  width: 100%;
  height: auto;
}
.modal-body .population-list strong {
  color: #246BEB;
}
.modal-body .population-list p {
  margin-top: 12px;
  display: flex;
  gap: 13px;
  margin-bottom: 25px;
}
.modal-body.wrap-add-modal {
  height: 642px;
}
.modal-body.wrap-add-modal .form-group {
  position: relative;
}
.modal-body.wrap-add-modal .form-group input {
  padding-right: 80px;
}
.modal-body.wrap-add-modal .form-group button.sach, .modal-body.wrap-add-modal .form-group button.sch-delete {
  position: absolute;
  top: 0;
  right: 16px;
  width: 24px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}
.modal-body.wrap-add-modal .form-group button.sach i, .modal-body.wrap-add-modal .form-group button.sch-delete i {
  font-size: 0;
  height: 100%;
  display: block;
}
.modal-body.wrap-add-modal .form-group button.sch-delete {
  right: 47px;
  width: 20px;
  display: none;
}
.modal-body.wrap-add-modal .wrap-form-area {
  border-top: 1px solid #58616A;
  margin-top: 0;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form {
  border: 0;
  padding: 0;
  border-radius: 0;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul {
  margin: 0;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li {
  margin: 0;
  padding: 0;
  display: flex;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li .tit {
  min-width: 97px;
  width: 97px;
  padding: 5px 16px;
  background-color: #E6E8EA;
  height: 100%;
  border-bottom: 1px solid #CDD1D5;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li .inp-box {
  width: calc(100% - 97px);
  padding: 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  height: 100%;
  border-bottom: 1px solid #E4E4E4;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li .inp-box input {
  padding-right: 16px;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li .inp-box [class*=box] {
  display: flex;
  width: 100%;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li .inp-box .box1 {
  gap: 24px;
}
.modal-body.wrap-add-modal .wrap-form-area .inp-form ul li .inp-box .box2 {
  gap: 8px;
  margin: 15px 0 4px 0;
}

.modal-wrap:has(.address-list) {
  padding: 24px;
}
.modal-wrap:has(.address-list) .inp-form {
  border: 0;
  padding: 60px 0 0 0;
  border-top: 1px solid #E4E4E4;
  border-radius: 0;
}
.modal-wrap:has(.address-list) .inp-form .address-list .inp-box {
  flex-wrap: wrap;
}
.modal-wrap:has(.address-list) .inp-form .address-list .inp-box .first-add {
  max-width: 152px;
}
.modal-wrap:has(.address-list) .inp-form .address-list .inp-box .add-btn {
  width: 150px;
  margin-right: 0;
}
.modal-wrap:has(.address-list) .inp-form .form-btn-area {
  right: 0;
}
.modal-wrap:has(.address-list) .compulsory-txt {
  margin-bottom: 14px;
}