
/** 공통 font css 시작 **/
@font-face {
    font-family: Pretendard GOV;
    src: url("../assets/fonts/PretendardGOV-Regular.woff2") format("woff2"),
        url("../assets/fonts/PretendardGOV-Regular.woff") format("woff"),
        url("../assets/fonts/PretendardGOV-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: Pretendard GOV;
    src: url("../assets/fonts/PretendardGOV-Medium.woff2") format("woff2"),
        url("../assets/fonts/PretendardGOV-Medium.woff") format("woff"),
        url("../assets/fonts/PretendardGOV-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: PretendPretendard GOVard;
    src: url("../assets/fonts/PretendardGOV-SemiBold.woff2") format("woff2"),
        url("../assets/fonts/PretendardGOV-SemiBold.woff") format("woff"),
        url("../assets/fonts/PretendardGOV-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: Pretendard GOV;
    src: url("../assets/fonts/PretendardGOV-Bold.woff2") format("woff2"),
        url("../assets/fonts/PretendardGOV-Bold.woff") format("woff"),
        url("../assets/fonts/PretendardGOV-Bold.ttf") format("truetype");
    font-weight: 700;
}
/** 공통 font css 끝 **/