<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <!-- 로그인전 - login / 로그인후 - logout -->
   <div id="wrap" class="main logout">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
         </div>      
         <div id="main">
            <div class="area1">
               <div class="slide-box">            
                  <div class="swiper" id="images-slide">            
                     <div class="swiper-wrapper">               
                        <div class="swiper-slide">
                           <img src="../assets/image/slide01.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide02.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide03.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide04.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide05.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE</p>
                        </div>
                     </div>                   
                  </div>    
                  <div class="wrap-swiper-btn">
                     <div class="swiper-pagination"></div>        
                     <button class="swiper-stop">정지</button>    
                     <button class="swiper-button-prev"></button>
                     <button class="swiper-button-next"></button>                                    
                  </div>     
               </div>                                          
               <div class="login-box">
                  <!-- 로그인전 -->
                  <div class="login1">
                     <strong>Korea Customs Service</strong>
                     <button class="btn login primary medium">Log In</button>
                     <button class="btn signup medium">Sign Up</button>
                  </div>
                  <!-- // 로그인전 -->

                  <!-- 로그인 후 -->
                  <div class="login2">
                     <div class="txt-box">
                        <strong class="txt1">e-Commerce Business Code</strong>
                        <strong class="txt2">F25123456</strong>
                     </div>
                     <div class="num-box">
                        <strong class="tit">Days Valid</strong>
                        <p class="num1">+ 850</p>
                     </div>
                     <div class="num-box dotted-line-top">
                        <strong class="tit">Purchase Info.</strong>                              
                        <a href="#none" class="num2">2,345</a>
                     </div>
                  </div>
                  <!-- // 로그인 후 -->
               </div>                  
            </div>
            <div class="wrap-box2">
               <div class="area2">
                  <ul class="list">
                     <li>
                        <a href="#none" class="ico1">
                           <strong class="tit">Email<br>Verification <i class="icon btn-arrow-right medium"></i></strong>
                           <p class="tb-title">Email verification is the process of confirming the authenticity of user’s email address. Thpically, after registering or applying for a service, a verification link or …</p>
                        </a>
                     </li>
                     <li>
                        <a href="#none" class="ico2">
                           <strong class="tit">Application for<br> e-Commerce Business Code <i class="icon btn-arrow-right medium"></i></strong>
                           <p class="tb-title">Email verification is the process of confirming the authenticity of user’s email address. Thpically, after registering or applying for a service, a verification link or …</p>
                        </a>
                     </li>
                     <li>
                        <a href="#none" class="ico3">
                           <strong class="tit">Issuance of<br> e-Commerce Business Code <i class="icon btn-arrow-right medium"></i></strong>
                           <p class="tb-title">Email verification is the process of confirming the authenticity of user’s email address. Thpically, after registering or applying for a service, a verification link or …</p>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="area3">
               <ul class="list">
                  <li>
                     <strong class="tit">e-Commerce Business Code</strong>
                     <div class="txt-box">
                        <a href="#none">e-Commerce Business Code <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
                  <li>
                     <strong class="tit">Purchase Information</strong>
                     <div class="txt-box">
                        <a href="#none">Submission Status <i class="icon btn-arrow-right medium"></i></a>
                        <a href="#none">Error Status <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
                  <li>
                     <strong class="tit">Personal customs clearance code</strong>
                     <div class="txt-box">
                        <a href="#none">Check validity of personal customs clearance code <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
                  <li>
                     <strong class="tit">Management</strong>
                     <div class="txt-box">
                        <a href="#none">API Management <i class="icon btn-arrow-right medium"></i></a>
                        <a href="#none">Downloads <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
               </ul>
            </div>            
         </div>
      </div>
      <!-- //content-wrap -->      
   </div>
</body>
</html>