<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">Personal customs clearance code/New/Code changed</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 3</span><i>/</i>Step 4</strong>
                  <h4 class="tit">Notification consent</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="done">
                        <span>                              
                              <i class="step">Step 1</i>
                              <span class="step-tit">Enter basic<br>information</span>
                        </span>
                     </li>
                     <li class="done">
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">Register delivery<br>address</span>
                        </span>
                     </li>
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 3</i>
                              <span class="step-tit">Notification<br>consent</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">Verification and<br>registration</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="txt-box-type end">
                   <div class="form-check">
                     <input type="checkbox" name="all_chk" id="all_chk">
                     <label for="all_chk">전체동의</label>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><strong class="info-txt cl-3">[필수]</strong>Notification of issuance of one-time authentication code</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">일회용 인증번호발급 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">일회용 인증번호발급 알림</strong>
                           <div class="tooltip-contents">
                              <p>일회용 인증번호발급 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>I agree to receive notifications via email of the issuance of a one-time authentication number issued when ordering overseas direct purchase.</p>
                     <div class="box">
                        <div class="form-check medium">
                           <input type="radio" name="chk-agree" id="agree1">
                           <label for="agree1">동의하지 않음</label>
                        </div>
                        <div class="form-check medium">
                           <input type="radio" name="chk-agree" id="agree2">
                           <label for="agree2">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>If you do not Receive notification of the issuance of a one-time authentication code, overseas direct purchase customs clearance may not proceed properly.</p>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><strong class="info-txt cl-1">[선택]</strong>Overseas direct purchase customs clearance notification</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">해외직구통관 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">해외직구통관 알림</strong>
                           <div class="tooltip-contents">
                              <p>해외직구통관 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>I agree to sending notifications of overseas direct purchase customs clearance results to the user via email.</p>
                     <div class="box">
                         <div class="form-check">
                           <input type="checkbox" id="chk_1">
                           <label for="chk_1">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>If you do not agree, you will not able to receive notification of overseas direct purchase customs clearance resulys.</p>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><strong class="info-txt cl-1">[선택]</strong>Overseas direct purchase report/application result notification</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">해외직구통관 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">해외직구통관 알림</strong>
                           <div class="tooltip-contents">
                              <p>해외직구통관 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>I agree to sending notifications of overseas direct purchase customs clearance results to the user via email.</p>
                     <div class="box">
                         <div class="form-check">
                           <input type="checkbox" id="chk_2">
                           <label for="chk_2">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>If you do nor agree, you will not be able to receive notifications of overseas direcr purchase report/application results.</p>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><strong class="info-txt cl-1">[선택]</strong>Personal customs clearance code usage notification</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">해외직구통관 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">해외직구통관 알림</strong>
                           <div class="tooltip-contents">
                              <p>해외직구통관 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>I agree to receive notifications via email regarding the use of my personal customs clearance code when ordering from overseas.</p>
                     <div class="box">
                         <div class="form-check">
                           <input type="checkbox" id="chk_3">
                           <label for="chk_3">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>If you do not agree, you will not be able to receive notifications regarding the use of your personal customs clearance code.</p>
                  </div>
               </div>
               <div class="btn-area btn-between">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">이전</button>                 
                  </div>
                  <div class="align">                            
                     <button type="button" class="btn primary large" disabled>다음</button>                 
                  </div>
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 일회용 인증번호 발급 알림 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">Issuance of one-time authentication number</button>
                  <div id="modal1" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>Issuance of one-time authentication number</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">                                    
                              <p class="txt-type">You have not agreed to the notification for issuing a one-time authentication number. In order to renew your personal customs clearance code, you must agree to the notification for issuing a one-time authentication number in order to</p>
                           </div>                                  
                        </div>
                        <div class="modal-footer">                        
                           <button type="button" class="btn primary medium">Check</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 일회용 인증번호 발급 알림 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>