<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <!-- 로그인전 - login / 로그인후 - logout -->
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">Personal customs clearance code/New/Code changed</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 1</span><i>/</i>Step 4</strong>
                  <h4 class="tit">Enter basic information</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 1</i>
                              <span class="step-tit">Enter basic<br>information</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">Register delivery<br>address</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 3</i>
                              <span class="step-tit">Notification<br>consent</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">Verification and<br>registration</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <p class="compulsory-txt"><i class="compulsory">필수</i> Indicates required fields.</p>      
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2">
                           <label for="ex1" class="tit">Nationailty</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-389">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex1" required title="국적을 확인할수있습니다">
                                       <option value="" disabled hidden selected>대한민국</option>
                                       <option value="대한민국">대한민국</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                           </div>  
                        </li>
                        <li class="col2">
                           <label for="ex2" class="tit">Alien Registration No.</label>
                           <div class="inp-box nowrap-list">
                              <div class="form-group medium mw-185">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex2" placeholder="991231" title="첫번쨰 번호를 확인할수있습니다">
                                 </div>                           
                              </div>   
                              <i class="hy">-</i>
                              <div class="form-group medium mw-185">                     
                                 <div class="form-conts">                                    
                                    <input type="text" class="input" placeholder="1******" title="두번째 번호를 확인할수있습니다" data-ui="hidden-input" data-props="showNum: 1;numberOnly: true">     
                                 </div>                           
                              </div>   
                           </div>
                        </li>
                        <li class="col2">
                           <strong class="tit">In Korea <i class="compulsory">필수</i></strong>
                           <div class="inp-box nowrap-list">
                              <div class="wrap-form-group mw-190">
                                 <div class="form-group form-tit-group">  
                                    <label for="tit1" class="form-title">성</label>                   
                                    <div class="form-conts">
                                       <input type="text" id="tit1" class="input" placeholder="홍" title="성을 입력해주세요">
                                    </div>                     
                                 </div>                  
                              </div>
                              <div class="wrap-form-group mw-190">
                                 <div class="form-group form-tit-group">  
                                    <label for="tit2" class="form-title">이름</label>                   
                                    <div class="form-conts">
                                       <input type="text" id="tit2" class="input" placeholder="길동" title="이름을 입력해주세요">
                                    </div>                     
                                 </div>                  
                              </div>
                           </div>
                        </li>
                        <li class="col2">
                           <strong class="tit">In English <i class="compulsory">필수</i></strong>
                           <div class="inp-box">
                              <div class="wrap-form-group mw-227">
                                 <div class="form-group form-tit-group">  
                                    <label for="tit3" class="form-title">Last</label>                   
                                    <div class="form-conts">
                                       <input type="text" id="tit3" class="input" placeholder="GilDong" title="마지막 이름을 입력해주세요">
                                    </div>                     
                                 </div>                  
                              </div>                              
                              <div class="wrap-form-group mw-227">
                                 <div class="form-group form-tit-group">  
                                    <label for="tit5" class="form-title">First</label>                   
                                    <div class="form-conts">
                                       <input type="text" id="tit5" class="input" placeholder="Hong" title="첫번째 이름을 입력해주세요">
                                    </div>                     
                                 </div>                  
                              </div>
                           </div>
                        </li>
                        <li class="col2">
                           <label for="ex3" class="tit">Phone Number</label>
                           <div class="inp-box nowrap-list-type1">
                              <div class="form-group medium mw-147">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex3" required title="첫번쨰 번호를 선택해주세요">
                                    <option value="" disabled hidden selected>02</option>
                                    <option value="02">02</option>                              
                                    </select>
                                 </div>                           
                              </div>
                              <i class="hy">-</i>
                              <div class="form-group medium mw-147">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" placeholder="1234" title="두번쨰 번호를 입력해주세요">
                                 </div>                           
                              </div>     
                              <i class="hy">-</i>
                              <div class="form-group medium mw-147">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" placeholder="1234" title="마지막 번호를 입력해주세요">
                                 </div>                           
                              </div>     
                           </div>
                        </li>
                        <li class="col2">
                           <label for="ex4" class="tit">Mobile Phone Number</label>
                           <div class="inp-box nowrap-list-type1">
                              <div class="form-group medium mw-147">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex4" required disabled title="첫번쨰 번호를 확인해주세요">
                                       <option value="" disabled hidden>휴대전화번호를 선택해주세요</option>
                                       <option value="010" selected>010</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                              <i class="hy">-</i>
                              <div class="form-group medium mw-147">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" value="1234" title="두번째 번호를 확인해주세요" disabled>
                                 </div>                           
                              </div>     
                              <i class="hy">-</i>
                              <div class="form-group medium mw-147">                     
                                 <div class="form-conts">
                                 <input type="text" class="input" value="1234" title="세번째 번호를 확인해주세요" disabled>
                                 </div>                          
                              </div>   
                           </div>                            
                        </li>
                        <li class="col1">
                           <label for="ex5" class="tit">Email Address <i class="compulsory">필수</i></label>
                           <div class="inp-box nowrap-list-type2">
                              <div class="form-group medium mw-283">                     
                                 <div class="form-conts">
                                    <input type="text" id="ex5" class="input" placeholder="hongGilDong" title="아이디를 입력해주세요">
                                 </div>                           
                              </div>
                              <i class="hy">@</i>
                              <div class="form-group medium mw-283">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" placeholder="naver.com" title="메일을 입력해주세요">
                                 </div>                           
                              </div>
                              <div class="form-group medium mw-283">                  
                                 <div class="form-conts">
                                    <select class="form-select" required title="메일을 선택해주세요">
                                       <option value="" disabled hidden selected>직접입력</option>                                 
                                       <option value="naver.com">naver.com</option>
                                    </select>
                                 </div>                           
                              </div>
                              <button type="button" class="btn secondary medium">Email Verification</button>                                 
                           </div>                        
                        </li>
                     </ul>                  
                  </div>   
               </div> 
               <div class="btn-area btn-end">
                  <div class="align">                            
                     <button type="button" class="btn primary large" disabled>Next</button>                 
                  </div>
               </div>  
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 이메일 인증 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">Email Verification</button>
                  <div id="modal1" class="modal d-none" data-ui="modal">
                     <div class="modal-wrap mw-560">
                        <div class="modal-header">
                              <h5>Email Verification</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <h5 class="tit-type">Please enter your authentication number</h5>
                              <p class="txt-type cer-txt">
                                 A 6-digit verification number has been sent to <strong class="cl-7">hongGildong@naver.com.</strong> Please check your email address, enter the verification number, and click the Complete Verification button.
                              </p>
                           </div>
                           <div class="modal-cont">
                              <div class="txt-box-type certification-number">
                                 <ul class="number">
                                    <li><input type="text" title="인증번호를 입력해주세요"></li>
                                    <li><input type="text" title="인증번호를 입력해주세요"></li>
                                    <li><input type="text" title="인증번호를 입력해주세요"></li>
                                    <li><input type="text" title="인증번호를 입력해주세요"></li>
                                    <li><input type="text" title="인증번호를 입력해주세요"></li>
                                    <li><input type="text" title="인증번호를 입력해주세요"></li>
                                 </ul>                                               
                              </div>
                              <span class="effective-time">유효시간 09:30</span>
                           </div>
                           <div class="modal-cont">                                       
                              <div class="reforwarding">
                                 <p class="txt-type">If you do not receive the verification number, click the resend button.</p>
                                 <button type="button" class="btn secondary medium">Resend</button>
                              </div>
                           </div>                                       
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">Close</button>
                           <button type="button" class="btn primary medium">Verification complete</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 이메일 인증 -->                   
                  <!-- 이메일 인증 완료 -->
                  <button type="button" data-modal-target="#modal2" style="width:100%;height:50px;margin-bottom:20px">Email Verification</button>
                  <div id="modal2" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>Email Verification</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">                                    
                              <p class="txt-type">Email verification has been completed. Please complete the remaining personal customs clearance code information changes.</p>
                           </div>                                
                        </div>
                        <div class="modal-footer">                        
                           <button type="button" class="btn primary medium">Check</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 이메일 인증 완료 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>