<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <!-- 로그인전 - login / 로그인후 - logout -->
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">Personal customs clearance code/New/Code changed</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 2</span><i>/</i>Step 4</strong>
                  <h4 class="tit">Register delivery address</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="done">
                        <span>                              
                              <i class="step">Step 1</i>
                              <span class="step-tit">Enter basic<br>information</span>
                        </span>
                     </li>
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 2</i>
                              <span class="step-tit">Register delivery<br>address</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 3</i>
                              <span class="step-tit">Notification<br>consent</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">Verification and<br>registration</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="txt-box-type type1">
                  <p>You can register up to 20 addresses. <strong><strong class="cl-4">3개</strong><i>/</i>20개</strong></p>
                  <button type="button" class="btn secondary medium">Addition</button>
               </div>
               <p class="compulsory-txt pc"><i class="compulsory">필수</i> Indicates required fields.</p>
               <div class="wrap-form-area pc">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col1">
                           <label for="ex1" class="tit">Delivery address <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-298">                     
                                 <div class="form-conts">
                                    <input type="text" class="input mw-298" id="ex1" title="배송지명을 입력해주세요" value="우리집">
                                 </div>                              
                              </div>
                           </div>   
                        </li>
                        <li class="col1 address-list">
                           <label for="ex2" class="tit">Basic Address <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium first-add mw-140">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex2" disabled title="우편번호를 확인해주세요" value="123456">
                                 </div>                              
                              </div>
                              <button type="button" class="btn secondary medium ico">우편번호 검색 <i class="icon search-type1 medium"></i></button>
                              <div class="form-group medium last-add mw-695">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" disabled title="주소를 확인해주세요" value="대전시 서구 도안동123">
                                 </div>                              
                              </div>
                           </div>  
                        </li>
                        <li class="col1">
                           <label for="ex3" class="tit">Detailed Address <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-1009">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex3" title="상세주소를 입력해주세요" value="123동 456호">
                                 </div>                             
                              </div>
                           </div>  
                        </li>
                     </ul>
                     <div class="form-btn-area">
                        <button class="refresh-btn text"><i class="icon refresh medium"></i>Reset</button>
                        <button class="close-btn text"><i class="icon close medium"></i>Delete</button>
                     </div>
                  </div>
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col1">
                           <label for="ex1-1" class="tit">Delivery address <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-298">                     
                                 <div class="form-conts">
                                    <input type="text" class="input mw-298" id="ex1-1" title="배송지명을 입력해주세요" value="우리집">
                                 </div>                              
                              </div>
                           </div>   
                        </li>
                        <li class="col1 address-list">
                           <label for="ex2-1" class="tit">Basic Address <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium first-add mw-140">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex2-1" disabled title="우편번호를 확인해주세요" value="123456">
                                 </div>                              
                              </div>
                              <button type="button" class="btn secondary medium ico">우편번호 검색 <i class="icon search-type1 medium"></i></button>
                              <div class="form-group medium last-add mw-695">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" disabled title="주소를 확인해주세요" value="대전시 서구 도안동123">
                                 </div>                              
                              </div>
                           </div>  
                        </li>
                        <li class="col1">
                           <label for="ex3-1" class="tit">Detailed Address <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-1009">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex3-1" title="상세주소를 입력해주세요" value="123동 456호">
                                 </div>                             
                              </div>
                           </div>  
                        </li>
                     </ul>
                     <div class="form-btn-area">
                        <button class="refresh-btn text"><i class="icon refresh medium"></i>Reset</button>
                        <button class="close-btn text"><i class="icon close medium"></i>Delete</button>
                     </div>
                  </div>
               </div>
               <div class="wrap-form-area type1 mo">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="add-tit">우리집(세종)  <button class="add-modify-btn"><i class="icon btn-arrow-right medium"></i>주소수정</button></strong>
                           <div class="inp-box">
                              <p class="add-txt">(30068) 세종특별자치시 마음로 999</p>
                              <p class="add-txt">가락마을 10단지, 1234-5678</p>
                           </div>                        
                        </li>
                     </ul>
                     <div class="form-btn-area">                        
                        <button class="close-btn text"><i class="icon close medium"></i>Delete</button>
                     </div>
                  </div>                  
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="add-tit">우리집(세종)  <button class="add-modify-btn"><i class="icon btn-arrow-right medium"></i>주소수정</button></strong>
                           <div class="inp-box">
                              <p class="add-txt">(30068) 세종특별자치시 마음로 999</p>
                              <p class="add-txt">가락마을 10단지, 1234-5678</p>
                           </div>                        
                        </li>
                     </ul>
                     <div class="form-btn-area">                        
                        <button class="close-btn text"><i class="icon close medium"></i>Delete</button>
                     </div>
                  </div>                  
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="add-tit">우리집(세종)  <button class="add-modify-btn"><i class="icon btn-arrow-right medium"></i>주소수정</button></strong>
                           <div class="inp-box">
                              <p class="add-txt">(30068) 세종특별자치시 마음로 999</p>
                              <p class="add-txt">가락마을 10단지, 1234-5678</p>
                           </div>                        
                        </li>
                     </ul>
                     <div class="form-btn-area">                        
                        <button class="close-btn text"><i class="icon close medium"></i>Delete</button>
                     </div>
                  </div>                  
               </div>
               <div class="btn-area btn-between">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">Before</button>                 
                  </div>
                  <div class="align">                            
                     <button type="button" class="btn primary large" disabled>Next</button>                 
                  </div>
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 주소 입력 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">Register delivery address</button>
                  <div id="modal1" class="modal d-none" data-ui="modal">
                     <div class="modal-wrap mw-358">
                        <div class="modal-header">
                              <h5>Register delivery address</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="compulsory-txt"><i class="compulsory">필수</i> Indicates required fields.</p>
                              <div class="wrap-form-area">
                                 <div class="inp-form">
                                    <ul>                                                         
                                       <li class="col1">
                                          <label for="p-ex1" class="tit">Delivery address <i class="compulsory">필수</i></label>
                                          <div class="inp-box">
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" class="input mw-298" id="p-ex1" title="배송지명을 입력해주세요" value="우리집">
                                                </div>                              
                                             </div>
                                          </div>  
                                       </li>
                                       <li class="col1 address-list">
                                          <label for="p-ex2" class="tit">Basic Address <i class="compulsory">필수</i></label>
                                          <div class="inp-box">
                                             <div class="nowrap-box">
                                                <div class="form-group medium">                     
                                                   <div class="form-conts">
                                                      <input type="text" class="input" id="p-ex2" disabled title="우편번호를 확인해주세요" value="123456">
                                                   </div>                              
                                                </div>
                                                <button type="button" class="btn secondary medium ico add-btn">우편번호 검색 <i class="icon search-type1 medium"></i></button>
                                             </div>
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" class="input" disabled title="주소를 확인해주세요" value="대전시 서구 도안동123">
                                                </div>                              
                                             </div>
                                          </div>  
                                       </li>
                                       <li class="col1">
                                          <label for="p-ex3" class="tit">Detailed Address <i class="compulsory">필수</i></label>
                                          <div class="inp-box">
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" class="input" id="p-ex3" title="상세주소를 입력해주세요" value="123동 456호">
                                                </div>                             
                                             </div>
                                          </div>  
                                       </li>

                                    </ul>
                                    <div class="form-btn-area">
                                       <button class="refresh-btn text"><i class="icon refresh medium"></i>Reset</button>
                                       <button class="close-btn text"><i class="icon close medium"></i>Delete</button>
                                    </div>
                                 </div>
                              </div>
                           </div>                           
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">Close</button>
                           <button type="button" class="btn primary medium">Addition</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 주소 입력 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>