<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">Personal customs cleance code report details inquiry</h3>      
            <h4 class="sr-only">빈텍스트</h4>      
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <h5 class="title-type3">Reporter’s information</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">Personal customs clearance code of the stolen person</strong>
                           <div class="inp-box">
                              <p class="txt">P2400000000000</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">Reporter's name</strong>
                           <div class="inp-box">
                              <p class="txt">홍길동</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">Reporter's contact information</strong>
                           <div class="inp-box">
                              <p class="txt">010-1234-1234</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">Reporter's email</strong>
                           <div class="inp-box">
                              <p class="txt">Hong123@naver.com</p>
                           </div>                        
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">waybill number</strong>
                           <div class="inp-box">
                              <p class="txt">123456789101</p>
                           </div>                        
                        </li>
                        <li class="col1 txt-list dotted-line-top line-break">
                           <strong class="tit">Report details</strong>   
                           <div class="inp-box">
                              <p class="txt">신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.</p>
                              <p class="txt">신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.</p>
                              <p class="txt">신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.신고 내용이 출력 됩니다.</p>
                           </div>                                                                     
                        </li>
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">Action taken</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">Customs processing</strong>
                           <div class="inp-box">
                              <p class="txt">인천공항세관</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">Processing Department</strong>
                           <div class="inp-box">
                              <p class="txt">홍길동</p>
                           </div>                        
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">Customs phone number</strong>
                           <div class="inp-box">
                              <p class="txt">010-1234-1234</p>
                           </div>                        
                        </li>                     
                        <li class="col1 txt-list dotted-line-top line-break">
                           <strong class="tit">Action taken</strong>   
                           <div class="inp-box">
                              <p class="txt">조시사항이 출력됩니다. 조시사항이 출력됩니다. 조시사항이 출력됩니다. 조시사항이 출력됩니다.</p>
                              <p class="txt">조시사항이 출력됩니다. 조시사항이 출력됩니다. 조시사항이 출력됩니다. 조시사항이 출력됩니다.</p>
                              <p class="txt">조시사항이 출력됩니다. 조시사항이 출력됩니다. 조시사항이 출력됩니다. 조시사항이 출력됩니다.</p>
                           </div>                                                                     
                        </li>
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">Attachment</h5>
               <div class="file-upload line list">                              
                  <div class="file-list">                     
                     <ul class="upload-list">                                               
                        <li>
                           <div class="file-info m-column file-down">
                              <div class="file-name">위임장(주민등록법 시행령 별지 제15호의2호서식) [hwp, 17KB] </div>
                              <div class="btn-wrap">
                                 <button type="button" class="text">Download <i class="icon download medium"></i></button>                                 
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="file-info m-column file-down">
                              <div class="file-name">위임장(주민등록법 시행령 별지 제15호의2호서식) [hwp, 17KB] </div>
                              <div class="btn-wrap">
                                 <button type="button" class="text">Download <i class="icon download medium"></i></button>                                 
                              </div>
                           </div>
                        </li>
                     </ul>                     
                  </div>  
               </div>
               <div class="btn-area btn-end">
                  <div class="align">                            
                     <button type="button" class="btn primary large">목록</button>                 
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>