<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <!-- 로그인전 - login / 로그인후 - logout -->
   <div id="wrap" class="main logout">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/kr-header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
         </div>      
         <div id="main">
            <div class="area1">
               <div class="slide-box">            
                  <div class="swiper">            
                     <div class="swiper-wrapper">               
                        <div class="swiper-slide">
                           <img src="../assets/image/slide01.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE1</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide02.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE2</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide03.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE3</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide04.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE4</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide05.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE5</p>
                        </div>
                        <div class="swiper-slide">
                           <img src="../assets/image/slide05.png" alt="KOREA CUSTOMS SERVICE">
                           <p class="txt"><span>KOREA</span>CUSTOMS<br> SERVICE6</p>
                        </div>
                     </div>                   
                  </div>                      
               </div>                                          
               <div class="login-box">
                  <!-- 로그인전 -->
                  <div class="login1">
                     <strong>Korea Customs Service</strong>
                     <!-- <button class="btn login primary medium">Log In</button>
                     <button class="btn signup medium">Sign Up</button> -->

                     <a href="#none" class="btn login primary medium">Log In</a>
                     <a href="#none" class="btn signup medium">Sign Up</a>
                  </div>
                  <!-- // 로그인전 -->

                  <!-- 로그인 후 -->
                  <div class="login2">
                     <div class="txt-box">
                        <strong class="txt1">전자상거래업자부호</strong>
                        <strong class="txt2">F25123456</strong>
                     </div>
                     <div class="num-box">
                        <strong class="tit">유효일자</strong>
                        <p class="num1">+ 850</p>
                     </div>
                     <div class="num-box dotted-line-top">
                        <strong class="tit">거래정보 제출건수</strong>                              
                        <a href="#none" class="num2">2,345</a>
                     </div>
                  </div>
                  <!-- // 로그인 후 -->
               </div>                  
            </div>
            <div class="wrap-box2">
               <div class="area2">
                  <ul class="list">
                     <li class="list1">
                        <div class="box">
                           <strong class="tit">e-Commerce<br>Business Code</strong>
                           <p>You can check the status of your e-commerce business code correction, renewal, and application through the e-Commerce Business Code menu.</p>
                           <!-- <span class="go"><i class="icon arrow-right"></i></span> -->
                        </div>
                     </li>
                     <li class="list2">
                        <div class="box">
                           <strong class="tit">Purchase<br>Information</strong>
                           <p>You can check the transaction information submission status and status details, as well as transaction information 1st/2nd verification error details, through the Purchase Information menu.</p>
                           <!-- <span class="go"><i class="icon arrow-right"></i></span> -->
                        </div>
                     </li>
                     <li class="list3">
                        <div class="box">
                           <strong class="tit">Personal customs<br>clearance code</strong>
                           <p>You can verify the validity of your personal customs clearance code through the Personal customs clearance code menu, and after verification of validity, an authentication number will be automatically sent to the consignee.</p>
                           <!-- <span class="go"><i class="icon arrow-right"></i></span> -->
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- <div class="area3">
               <ul class="list">
                  <li>
                     <strong class="tit">e-Commerce Business Code</strong>
                     <div class="txt-box">
                        <a href="#none">e-Commerce Business Code <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
                  <li>
                     <strong class="tit">Purchase Information</strong>
                     <div class="txt-box">
                        <a href="#none">Submission Status <i class="icon btn-arrow-right medium"></i></a>
                        <a href="#none">Error Status <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
                  <li>
                     <strong class="tit">Personal customs clearance code</strong>
                     <div class="txt-box">
                        <a href="#none">Check validity of personal customs clearance code <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
                  <li>
                     <strong class="tit">Management</strong>
                     <div class="txt-box">
                        <a href="#none">API Management <i class="icon btn-arrow-right medium"></i></a>
                        <a href="#none">Downloads <i class="icon btn-arrow-right medium"></i></a>
                     </div>
                  </li>
               </ul>
            </div>             -->
         </div>
      </div>
      <!-- //content-wrap -->      
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/kr-footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>