<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>   
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/kr-header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit sr-only">빈텍스트</h3>            
            <h4 class="head-tit sr-only">빈텍스트</h4>            
         </div>
         <div class="signup">        
            <div class="content-wrap">
               <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-login">                  
                  <strong class="title">로그인</strong>
                  <div class="wrap-form-area">
                     <div class="inp-form">
                        <ul>                                                         
                           <li class="col1 id-inp">
                              <label for="ex1" class="tit">사용자 ID</label>
                              <div class="inp-box">
                                 <div class="form-group large">                  
                                    <div class="form-conts">
                                       <input type="text" id="ex1" class="input ico" placeholder="Enter ID">
                                    </div>  

                                 </div>
                              </div>  
                           </li>
                           <li class="col1 pass-inp">
                              <label for="ex2" class="tit">Password</label>
                              <div class="inp-box">
                                 <div class="form-group large">                  
                                    <div class="form-conts">                                       
                                       <input type="text" id="ex2" class="input ico" placeholder="Enter Password" data-ui="hidden-input">
                                    </div>                           
                                 </div>
                              </div>  
                              <p class="mt-5">* 인증번호는 유니패스에서 등록된 메일주소로발송됩니다.</p>                                              
                           </li>                           
                           <li class="col1 vc-list">
                           <label for="ex3" class="tit">인증번호 입력</label>
                           <div class="inp-box">
                              <div class="form-group large">                     
                                 <div class="form-conts">
                                    <input type="text" id="ex3" class="input" placeholder="Enter number">                                    
                                 </div>                           
                                 <p class="advice-txt info-txt time">05:00</p>
                              </div>                              
                              <button type="button" class="btn secondary large">Send</button>                                 
                           </div>                                
                        </li>
                        </ul>                  
                     </div>
                  </div>
                  <div class="btn-box">
                     <button type="button" class="btn primary large">로그인</button>
                     <button type="button" class="btn primary large signup">유니패스 회원가입</button>                     
                     <p>* 유니패스에서 회원가입 후 로그인해 주시기 바랍니다.</p>                                              
                  </div>                  
                  <p class="bot-txt">Having trouble logging in? <a href="#none">Contact us</a></p>
               </div>
            </div>
            <!--// 내용 -->
         </div>
            </div>
         </div>         
      </div>
      <!-- //content-wrap -->
       <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/kr-footer.html', 'utf8'))({}) %>
      <!-- //footer -->

      
   </div>
</body>
</html>