<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 방문발급사전신청 조회</h3>     
            <h4 class="sr-only">빈텍스트</h4>       
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <h5 class="title-type3">조회정보</h5>   
               <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>     
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>    
                        <li class="col1">
                           <label for="ex1" class="tit">국적</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-390">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex1" required="" title="국적을 선택해주세요">
                                       <option value="" disabled="" hidden="">대한민국</option>
                                       <option value="대한민국" selected="">대한민국</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                           </div>  
                        </li>                                       
                        <li class="col1">
                           <strong class="tit">영문성명 <i class="compulsory">필수</i></strong>
                           <div class="inp-box">
                              <div class="wrap-form-group mw-232">
                                 <div class="form-group form-tit-group">  
                                    <label for="tit3" class="form-title">Last</label>                   
                                    <div class="form-conts">
                                       <input type="text" id="tit3" class="input" value="GilDong" title="마지막 이름을 입력해주세요">
                                    </div>                     
                                 </div>                  
                              </div>                              
                              <div class="wrap-form-group mw-232">
                                 <div class="form-group form-tit-group">  
                                    <label for="tit5" class="form-title">First</label>                   
                                    <div class="form-conts">
                                       <input type="text" id="tit5" class="input" value="Hong" title="첫번쨰 이름을 입력해주세요">
                                    </div>                     
                                 </div>                  
                              </div>
                           </div>
                        </li>
                        <li class="col1 sub-form dotted-line-top dotted-line-bottom">
                           <strong class="sub-tit">개인식별번호 <i class="compulsory">필수</i></strong>
                           <div class="sub-form-box">
                              <ul>
                                 <li class="col2">
                                    <div class="form-check medium tit">
                                       <input type="radio" name="rdo_11" id="radio5">
                                       <label for="radio5">외국인 등록번호</label>
                                    </div>
                                    <div class="sub-box nowrap-list">
                                       <div class="form-group medium mw-186">                     
                                          <div class="form-conts">
                                             <input type="text" class="input" title="외국인 등록번호 앞자리를 입력해주세요">
                                          </div>                           
                                       </div>
                                       <i class="hy">-</i>
                                       <div class="form-group medium mw-186">                     
                                          <div class="form-conts">                                    
                                             <input type="text" class="input" title="외국인 등록번호 뒷자리를 입력해주세요" data-ui="hidden-input" data-props="showNum: 1;numberOnly: true">  
                                          </div>                           
                                       </div>
                                    </div>
                                 </li>
                                 <li class="col2">      
                                    <div class="sub-list-wrap">
                                       <div class="sub-list-box mw-274">
                                          <div class="form-check medium tit">
                                             <input type="radio" name="rdo_11" id="radio6">
                                             <label for="radio6">여권번호</label>
                                          </div>
                                          <div class="sub-box">
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" class="input" disabled="" title="여권번호를 입력해주세요">
                                                </div>                           
                                             </div>
                                          </div>
                                       </div>
                                       <div class="sub-list-box">
                                          <strong class="tit">여권만료일</strong>
                                          <div class="sub-box">
                                             <div class="calendar w100per">
                                                <div class="calendar-form mw-172" data-ui="datepicker">
                                                   <input type="text" title="여권만료일을 입력해주세요" disabled="" placeholder="YYYY-MM-DD" maxlength="10">
                                                   <button class="calendar-btn" disabled="">여권만료일 달력보기</button>
                                                </div>                        
                                             </div>
                                          </div>
                                       </div>
                                    </div>                           
                                 </li>
                              </ul>    
                           </div>                       
                        </li>                        
                        <li class="col1">
                           <label for="ex3" class="tit">사전신청 비밀번호 <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-390">                  
                                 <div class="form-conts">
                                    <input type="text" id="ex3" class="input" value="1234567" title="사전신청 비밀번호를 입력해주세요" data-ui="hidden-input">
                                 </div>                           
                              </div>
                           </div>  
                           <p class="advice-txt">특수문자를 포함하여 8자리 이상</p>
                        </li>
                        <li class="col1 vc-list">
                           <label for="ex5" class="tit">인증번호 입력 <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-158">                     
                                 <div class="form-conts">
                                    <input type="text" id="ex5" class="input" value="12345" title="인증번호를 입력해주세요">
                                 </div>                  
                                 <p class="advice-txt info-txt cl-4"><i class="icon check-circle small mr-5"></i>확인되었습니다</p>         
                              </div>                                                            
                              <button type="button" class="btn secondary medium" disabled>등록 이메일로 인증번호 발송</button>                                 
                           </div>                                                   
                        </li> 
                     </ul>                  
                  </div>   
               </div> 
               <div class="btn-area btn-end">
                  <div class="align">
                     <button type="button" class="btn primary large">사전신청정보 조회</button>
                  </div>
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 사전신청 조회 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">사전신청 조회</button>   
                  <div id="modal1" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>사전신청 조회</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              조건에 해당하는 [개인통관고유부호 방문발급사전<br>신청]정보를 찾을 수 없습니다.
                           </div>                           
                        </div>
                        <div class="modal-footer">                              
                           <button type="button" class="btn primary medium">확인</button>
                        </div>
                     </div>
                  </div>
                  <!-- 사전신청 조회 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>