
<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 방문발급 사전신청</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 3</span><i>/</i>Step 4</strong>
                  <h4 class="tit">알림동의</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="done">
                        <span>                              
                              <i class="step">Step 1</i>
                              <span class="step-tit">기본정보 입력</span>
                        </span>
                     </li>
                     <li class="done">
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">배송지 주소 등록</span>
                        </span>
                     </li>
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 3</i>
                              <span class="step-tit">알림 동의</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">확인 및 등록</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="txt-box-type end">
                   <div class="form-check">
                     <input type="checkbox" name="all_chk" id="all_chk">
                     <label for="all_chk">전체동의</label>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><strong class="info-txt cl-3">[필수]</strong>일회용 인증번호발급 알림</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">일회용 인증번호발급 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">일회용 인증번호발급 알림</strong>
                           <div class="tooltip-contents">
                              <p>일회용 인증번호발급 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>해외직구 주문 시 발급된 일회용 인증번호 발급 내역을 사용자의 이메일을 통해 알림 전송하는 것을 동의합니다.</p>
                     <div class="box">
                        <div class="form-check medium">
                           <input type="radio" name="chk-agree" id="agree1">
                           <label for="agree1">동의하지 않음</label>
                        </div>
                        <div class="form-check medium">
                           <input type="radio" name="chk-agree" id="agree2">
                           <label for="agree2">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>일회용 인증부호 발급 내역을 알림 받지 않을 경우 해외직구통관이 정상적으로 진행되지 않을 수 있습니다.</p>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><strong class="info-txt cl-1">[선택]</strong>해외직구통관 알림</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">해외직구통관 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">해외직구통관 알림</strong>
                           <div class="tooltip-contents">
                              <p>해외직구통관 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>해외직구 통관 결과 정보를 사용자의 이메일을 통해 알림을 전송하는 것을 동의 합니다.</p>
                     <div class="box">
                         <div class="form-check">
                           <input type="checkbox" id="chk_1">
                           <label for="chk_1">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>동의하지 않는 경우 해외직구 통관 결과 알림을 받을 수 없습니다.</p>
                  </div>
               </div>
               <div class="btn-area btn-between">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">이전</button>                 
                  </div>
                  <div class="align">                            
                     <button type="button" class="btn primary large" disabled>다음</button>                 
                  </div>
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 일회용 인증번호 발급 알림 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">일회용 인증번호 발급 알림 미동의 안내</button>
                  <div id="modal1" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>일회용 인증번호 발급 알림 미동의 안내</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">                                    
                              <p class="txt-type">일회용 인증번호 발급 알림에 미동의 하셨습니다.<br> 개인통관고유부호 갱신을 위해서는 일회용 인증번<br>호발급 알림 동의에 동의를 해주셔야 신규 발급이<br> 가능합니다.</p>
                           </div>                                  
                        </div>
                        <div class="modal-footer">                        
                           <button type="button" class="btn primary medium">확인</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 일회용 인증번호 발급 알림 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>