<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 도용신고</h3> 
            <h4 class="sr-only">빈텍스트</h4>           
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="board-top no-wrap title-top">
                  <div class="left-box">
                     <h5 class="title-type">신고인 정보</h5>      
                  </div>   
                  <div class="right-box">
                     <button type="button" class="btn tertiary  medium">초기화</button>
                  </div>               
               </div>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2">
                           <label for="ex1" class="tit">피도용 개인통관고유부호</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-389">                  
                                 <div class="form-conts">
                                    <input type="text" id="ex1" class="input" value="P240000000000(사용)" title="피도용 개인통관고유부호를 확인해주세요" disabled>
                                 </div>                           
                              </div>
                           </div>  
                        </li>
                        <li class="col2">
                           <label for="ex2" class="tit">신고인 이름</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-389">                  
                                 <div class="form-conts">
                                    <input type="text" id="ex2" class="input" value="홍길동" title="신고인 이름을 확인해주세요" disabled>
                                 </div>                           
                              </div>
                           </div>  
                        </li>
                        <li class="col1">
                           <label for="ex3" class="tit">신고인 연락처</label>
                           <div class="inp-box nowrap-list-type1">
                              <div class="form-group medium mw-147">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex3" required="" title="첫번쨰 번호를 선택해주세요">
                                    <option value="" disabled="" hidden="" selected="">없음</option>
                                    <option value="042">042</option>                              
                                    </select>
                                 </div>                           
                              </div>
                              <i class="hy">-</i>
                              <div class="form-group medium mw-147">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" placeholder="1234" title="두번쨰 번호를 입력해주세요">
                                 </div>                           
                              </div>     
                              <i class="hy">-</i>
                              <div class="form-group medium mw-147">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" placeholder="1234" title="마지막 번호를 입력해주세요">
                                 </div>                           
                              </div>     
                           </div>
                        </li>
                        <li class="col1">
                           <label for="ex5" class="tit">신고인 이메일</label>
                           <div class="inp-box nowrap-list-type2">
                              <div class="form-group medium mw-283">                     
                                 <div class="form-conts">
                                    <input type="text" id="ex5" class="input" value="hongGilDong" title="아이디를 입력해주세요">
                                 </div>                           
                              </div>
                              <i class="hy">@</i>
                              <div class="form-group medium mw-283">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" value="naver.com" title="이메일을 입력해주세요">
                                 </div>                           
                              </div>
                              <div class="form-group medium mw-283">                  
                                 <div class="form-conts">
                                    <select class="form-select" required="" title="이메일을 선택해주세요">
                                       <option value="" disabled="" hidden="">조건을선택해주세요</option>                                 
                                       <option value="직접입력" selected="">직접입력</option>
                                    </select>
                                 </div>                           
                              </div>
                              <button type="button" class="btn secondary medium">이메일 인증</button>                                 
                           </div>  
                           <p class="advice-txt">입력하신 신고인 정보는 도용 신고 처리 결과를 안내하기 위한 용도로만 사용되며, 개인통관고유부호 개인정보에는 반영되지 않습니다.</p>                      
                        </li>
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">신고정보 입력</h5>                             
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">운송장번호</strong>
                           <div class="inp-box">
                              <p class="txt">12345678910</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">주문번호</strong>
                           <div class="inp-box">
                              <p class="txt">Abc123456789</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">판매자명</strong>
                           <div class="inp-box">
                              <p class="txt">네이버</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">물품명</strong>
                           <div class="inp-box">
                              <p class="txt">물품명이들어갑니다다</p>
                           </div>                        
                        </li>
                        <li class="col1 dotted-line-top">
                           <label for="textarea1" class="tit">상세신고내용</label>
                           <div class="inp-box">
                              <div class="form-group">                              
                                 <div class="form-conts">
                                    <div class="textarea-wrap">
                                       <textarea class="input" placeholder="신고내용을 입력합니다." id="textarea1" title="상세신고내용을 입력해주세요"></textarea>
                                       <p class="textarea-count"><span class="count-now">0</span><span class="count-total">/100</span></p>
                                    </div>
                                 </div>
                              </div>
                           </div>  
                        </li>    
                        <li class="col1 txt-list solid-line-top3">                           
                           <div class="batch-list">                              
                              <p class="txt">입력하신 상세신고내용을 모든 영역에 일괄 적용합니다.</p>
                              <button type="button" class="btn secondary medium">일괄적용</button>
                           </div>
                        </li>
                     </ul>
                     <div class="form-btn-area">                     
                        <button class="btn text medium"><i class="icon close medium"></i>삭제</button>
                     </div>
                  </div> 
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">운송장번호</strong>
                           <div class="inp-box">
                              <p class="txt">12345678910</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">주문번호</strong>
                           <div class="inp-box">
                              <p class="txt">Abc123456789</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">판매자명</strong>
                           <div class="inp-box">
                              <p class="txt">네이버</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">물품명</strong>
                           <div class="inp-box">
                              <p class="txt">물품명이들어갑니다다</p>
                           </div>                        
                        </li>
                        <li class="col1 dotted-line-top">
                           <label for="textarea2" class="tit">상세신고내용</label>
                           <div class="inp-box">
                              <div class="form-group">                              
                                 <div class="form-conts">
                                    <div class="textarea-wrap">
                                       <textarea class="input" placeholder="신고내용을 입력합니다." id="textarea2" title="상세신고내용을 입력해주세요"></textarea>
                                       <p class="textarea-count"><span class="count-now">0</span><span class="count-total">/100</span></p>
                                    </div>
                                 </div>
                              </div>
                           </div>  
                        </li>                     
                     </ul>
                     <div class="form-btn-area">                     
                        <button class="btn text medium"><i class="icon close medium"></i>삭제</button>
                     </div>
                  </div>
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">운송장번호</strong>
                           <div class="inp-box">
                              <p class="txt">12345678910</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">주문번호</strong>
                           <div class="inp-box">
                              <p class="txt">Abc123456789</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">판매자명</strong>
                           <div class="inp-box">
                              <p class="txt">네이버</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">물품명</strong>
                           <div class="inp-box">
                              <p class="txt">물품명이들어갑니다다</p>
                           </div>                        
                        </li>
                        <li class="col1 dotted-line-top">
                           <label for="textarea3" class="tit">상세신고내용</label>
                           <div class="inp-box">
                              <div class="form-group">                              
                                 <div class="form-conts">
                                    <div class="textarea-wrap">
                                       <textarea class="input" placeholder="신고내용을 입력합니다." id="textarea3" title="상세신고내용을 입력해주세요"></textarea>
                                       <p class="textarea-count"><span class="count-now">0</span><span class="count-total">/100</span></p>
                                    </div>
                                 </div>
                              </div>
                           </div>  
                        </li>                     
                     </ul>
                     <div class="form-btn-area">                     
                        <button class="btn text medium"><i class="icon close medium"></i>삭제</button>
                     </div>
                  </div>
               </div>               
               <h5 class="title-type3">첨부파일</h5>               
               <div class="file-upload line pc">            
                  <div class="file-upload">
                     <p class="txt">첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.</p>
                     <div class="file-upload-btn-wrap">
                        <input type="file" id="fileu-upload">
                        <label for="fileu-upload" class="btn secondary medium">
                           파일선택
                        </label>
                     </div>
                  </div>               
                  <div class="file-list">
                     <div class="total"><span class="current">3개</span> / 10개</div>
                     <ul class="upload-list">
                        <li>
                        <div class="file-info">
                           <div class="file-name">위임장(주민등록법 시행령 별지 제15호의2호서식) [hwp, 17KB] </div>
                           <div class="btn-wrap">
                              <span class="spinner" role="status">
                              <span class="sr-only">업로드 중</span>
                              </span>
                           </div>
                        </div>
                        </li>
                        <li>
                        <div class="file-info">
                           <div class="file-name">위임장(주민등록법 시행령 별지 제15호의2호서식) [hwp, 17KB] </div>
                           <div class="btn-wrap">
                              <span class="ico-invalid complete">
                              <em class="sr-only">업로드 완료</em>
                              </span>
                           </div>
                        </div>
                        </li>
                        <li>
                        <div class="file-info">
                           <div class="file-name">위임장(주민등록법 시행령 별지 제15호의2호서식) [hwp, 17KB] </div>
                           <div class="btn-wrap">
                              <button type="button" class="btn text medium"><i class="icon delete medium"></i> 삭제</button>
                           </div>
                        </div>
                        </li>
                        <li class="is-error">
                        <div class="file-info">
                           <div class="file-name">전입재등록신고서 [주민등록법 시행령 : 별지서식 15, 15호의2호] [hwp, 17KB]</div>
                           <div class="btn-wrap">
                              <button type="button" class="btn text medium"><i class="icon delete medium"></i> 삭제</button>
                           </div>
                        </div>
                        <p class="file-hint-invalid">
                           <i class="icon danger medium"></i>
                           <span class="txt">
                              등록 가능한 파일 용량을 초과하였습니다. 20MB 미만의 파일만 등록할 수 있습니다.
                           </span>
                        </p>
                        </li>
                        <li>
                           <div class="file-info m-column file-down">
                              <div class="file-name">위임장(주민등록법 시행령 별지 제15호의2호서식) [hwp, 17KB] </div>
                              <div class="btn-wrap">                                 
                                 <button type="button" class="btn text medium"><i class="icon download medium"></i> 다운로드</button>
                                 <a href="#" target="_blank" class="btn text medium" title="pdf파일로 새창 바로보기">바로보기 <i class="icon open-new-window medium"></i></a>
                              </div>
                           </div>
                        </li>
                     </ul>
                     <div class="upload-delete-btn">
                        <button type="button" class="btn text medium"> <i class="icon delete medium"></i> 전체 파일 삭제</button>
                     </div>
                  </div>  
               </div>
               <!-- 파일첨부 모바일 -->                
               <div class="file-upload-mobile mo">
                  <div class="btn-area btn-between">
                     <div class="align">                            
                        <button type="button" class="btn tertiary medium">사진</button>                 
                     </div>
                     <div class="align">                            
                        <button type="button" class="btn tertiary medium">카메라</button>                 
                     </div>
                  </div>
                  <div class="file-list">
                     <ul>
                        <li><a href="#none"><img src="a" alt="이미지1"></a><button class="close">삭제<i class="icon delete-circle small"></i></button></li>
                        <li><a href="#none"><img src="a" alt="이미지1"></a><button class="close">삭제<i class="icon delete-circle small"></i></button></li>
                        <li><a href="#none"><img src="a" alt="이미지1"></a><button class="close">삭제<i class="icon delete-circle small"></i></button></li>
                        <li><a href="#none"><img src="a" alt="이미지1"></a><button class="close">삭제<i class="icon delete-circle small"></i></button></li>
                        <li><a href="#none"><img src="a" alt="이미지1"></a><button class="close">삭제<i class="icon delete-circle small"></i></button></li>
                     </ul>
                  </div>
               </div>
               <!-- // 파일첨부 모바일 -->
               <div class="btn-area btn-between">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">목록</button>                 
                  </div>
                  <div class="align">                            
                     <button type="button" class="btn primary large">도용신고</button>                 
                  </div>
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">                  
                  <!-- 상세신고내용 일괄적용 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">상세신고내용 일괄적용</button>   
                  <div id="modal1" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>상세신고내용 일괄적용</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="txt-type">입력하신 상세신고내용을 모든 영역의 상세신고내<br>용 입력 항목에 일괄 적용 하시겠습니까?</p>
                           </div>                        
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn tertiary medium">아니요</button>
                              <button type="button" class="btn primary medium">예</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 상세신고내용 일괄적용 -->
                  <!-- 개인통관고유부호 도용신고 -->
                  <button type="button" data-modal-target="#modal2" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 도용신고</button>   
                  <div id="modal2" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>개인통관고유부호 도용신고</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="txt-type">개인통관고유부호 도용신고를 하시겠습니까?</p>
                           </div>                        
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn tertiary medium">아니요</button>
                              <button type="button" class="btn primary medium">예</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 개인통관고유부호 도용신고 -->
                  <!-- 개인통관고유부호 도용신고 -->
                  <button type="button" data-modal-target="#modal3" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 도용신고</button>   
                  <div id="modal3" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>개인통관고유부호 도용신고</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="txt-type">
                                 개개인통관고유부호 도용신고가 정상적으로 접수 되었습니다.<br>
                                 확인버튼 클릭 시 목록으로 이동합니다.
                              </p>
                           </div>                        
                        </div>
                        <div class="modal-footer">                           
                              <button type="button" class="btn primary medium">확인</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 개인통관고유부호 도용신고 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>