<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">환급신청 처리결과 상세조회</h3> 
            <h4 class="sr-only">빈텍스트</h4>           
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">기본정보</button>
                  <button class="tab-menu active" title="선택됨">물품정보</button>
                  <button class="tab-menu">환급세액</button>
                  <button class="tab-menu">제출서류</button>                  
               </div>  
               <h5 class="title-type3">환급신청 란사항 정보</h5>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>환급신청 란사항 정보에 대한 표로 선택,란번호,품명,수입신고번호,관세,부가세등,환급신청수량 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 60px;">                           
                           <col style="width: 80px;">                                             
                           <col style="width: 43.75%;">     
                           <col style="width: 17.1875%;">                                             
                           <col style="width: 9.375%;">                                             
                           <col style="width: 9.375%;">                                             
                           <col style="width: 9.375%;">                                                                                                                                                                                      
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">선택</th>
                              <th scope="col">란번호</th>
                              <th scope="col">품명</th>
                              <th scope="col">수입신고번호</th>
                              <th scope="col">관세</th>
                              <th scope="col">부가세등</th>
                              <th scope="col">환급신청수량</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio1" name="radio">
                                    <label for="radio1"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>001</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio2" name="radio">
                                    <label for="radio2"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>002</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio3" name="radio">
                                    <label for="radio3"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>003</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio4" name="radio">
                                    <label for="radio4"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>004</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio5" name="radio">
                                    <label for="radio5"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>005</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio6" name="radio">
                                    <label for="radio6"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>006</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio7" name="radio">
                                    <label for="radio7"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>007</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio8" name="radio">
                                    <label for="radio8"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>008</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio9" name="radio">
                                    <label for="radio9"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>009</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="radio10" name="radio">
                                    <label for="radio10"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>010</td>
                              <td class="text-left">TELEVISION 1234567890 TELEVISION 1234567890</td>
                              <td>434124231M</td>
                              <td>113,421</td>
                              <td>113,421</td>
                              <td class="text-right">1</td>
                           </tr>                                                                                                                                    
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                              
                              <li>
                                 <div class="form-check medium">
                                    <input type="radio" id="chk1" name="e">
                                    <label for="chk1"><span class="sr-only">선택</span></label>
                                 </div>
                              </li>
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">품명</strong>
                                 <span class="txt">TELEVISION 1234567890 TELEVISION 1234567890</span>
                              </li>
                              <li>
                                 <strong class="title">수입신고번호</strong>
                                 <span class="txt">434124231M</span>
                              </li>
                              <li>
                                 <strong class="title">관세</strong>
                                 <span class="txt">113,421</span>
                              </li>
                              <li>
                                 <strong class="title">부가세등</strong>
                                 <span class="txt">113,421</span>
                              </li>
                              <li>
                                 <strong class="title">환급신청수량</strong>
                                 <span class="txt">1</span>
                              </li>
                           </ul>
                        </li>       
                        <li>
                           <ul class="body">                              
                              <li>
                                 <div class="form-check medium">
                                    <input type="radio" id="chk2" name="e">
                                    <label for="chk2"><span class="sr-only">선택</span></label>
                                 </div>
                              </li>
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">품명</strong>
                                 <span class="txt">TELEVISION 1234567890 TELEVISION 1234567890</span>
                              </li>
                              <li>
                                 <strong class="title">수입신고번호</strong>
                                 <span class="txt">434124231M</span>
                              </li>
                              <li>
                                 <strong class="title">관세</strong>
                                 <span class="txt">113,421</span>
                              </li>
                              <li>
                                 <strong class="title">부가세등</strong>
                                 <span class="txt">113,421</span>
                              </li>
                              <li>
                                 <strong class="title">환급신청수량</strong>
                                 <span class="txt">1</span>
                              </li>
                           </ul>
                        </li>                   
                     </ul>
                  </div>
               </div>               
               <h5 class="title-type3">환급신청 규격 정보</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col1 txt-list">
                           <strong class="tit">번호</strong>
                           <div class="inp-box">
                              <p class="txt">00101</p>
                           </div>                        
                        </li>                      
                        <li class="col1 txt-list">
                           <strong class="tit">모델 및 규격</strong>
                           <div class="inp-box">
                              <p class="txt">RSG UHD 65 SEREIES 65 INCH CLASS 4K SMART UHD TV</p>
                           </div>                        
                        </li>                      
                        <li class="col2 txt-list">
                           <strong class="tit">신고단가</strong>
                           <div class="inp-box">
                              <p class="txt">1,525.57</p>
                           </div>                        
                        </li>                      
                        <li class="col2 txt-list">
                           <strong class="tit">신고금액</strong>
                           <div class="inp-box">
                              <p class="txt">1,525.57</p>
                           </div>                        
                        </li>                      
                        <li class="col2 txt-list">
                           <strong class="tit">환급가능수량</strong>
                           <div class="inp-box">
                              <p class="txt">1(PC)</p>
                           </div>                        
                        </li>                      
                        <li class="col2 txt-list">
                           <strong class="tit">잔여수량</strong>
                           <div class="inp-box">
                              <p class="txt">0</p>
                           </div>                        
                        </li>                      
                     </ul>                  
                  </div>
               </div>
               <div class="btn-area btn-end">
                  <div class="align">                                          
                     <button type="button" class="btn tertiary medium">환급통지서 출력</button>
                     <button type="button" class="btn tertiary medium">보완서류 등록</button>
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>