<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">환율 정보 조회</h3>        
            <h4 class="sr-only">빈텍스트</h4>    
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="search-box">
                  <ul>
                     <li class="col2">
                        <strong class="tit">기준일자 <i class="compulsory">필수</i></strong>
                        <div class="search-area">
                           <div class="calendar w100per">
                              <div class="calendar-form mw-328" data-ui="datepicker">
                                 <input type="text" title="기준일자를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn">기준일자 달력보기</button>
                              </div>                        
                           </div>                                                        
                        </div>                        
                     </li>                     
                     <li class="col2">
                        <label class="tit" for="ex00">국가명</label>
                        <div class="search-area">
                           <div class="form-group medium mw-328">                  
                              <div class="form-conts">
                                 <select class="form-select" id="ex00" required="" title="국가명 선택해주세요">
                                 <option value="" disabled="" hidden="">국가명 선택해주세요</option>
                                 <option value="아랍에미리트 연합" selected="" >아랍에미리트 연합</option>                                 
                                 </select>
                              </div>                              
                           </div>
                        </div>                        
                     </li>                     
                  </ul>
                  <div class="btn-area btn-end">
                     <div class="align">
                        <button type="button" class="btn tertiary medium">초기화</button>
                        <button type="button" class="btn secondary medium">조회</button>                        
                     </div>
                  </div>
               </div>
               <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>
               <div class="board-top tbl-top">
                  <div class="left-box">
                     <strong class="tit top-txt">전체<strong>240</strong>개</strong>
                     <div class="top-txt">
                        <select class="form-select-sort large" title="정보 구분 선택">                           
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                        </select>
                     </div>                     
                  </div>                  
               </div>
               <div class="txt-box-type type3">
                  <div><strong>적용기간</strong> <span>2025-01-01 ~ 2025-01-07</span></div>
                  <button type="button" class="btn tertiary medium">다운로드</button>
               </div>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>환율 정보 조회 표로 NO,국가명,통화부호,환율,전주환율,증감,화폐단위 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">
                           <col style="width: 28.125%;">                           
                           <col style="width: 9.375%;">                           
                           <col style="width: 15.625%;">                           
                           <col style="width: 15.625%;">                           
                           <col style="width: 9.375%;">                           
                           <col style="width: 15.625%;">                           
                        </colgroup>
                        <thead>
                           <tr>                                                                              
                              <th scope="col">NO</th>                              
                              <th scope="col"><span class="arr-ico">국가명 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>                              
                              <th scope="col">통화부호</th>                              
                              <th scope="col"><span class="arr-ico">환율 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>                              
                              <th scope="col"><span class="arr-ico">전주환율 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>                              
                              <th scope="col"><span class="arr-ico">증감 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>                              
                              <th scope="col">화폐단위</th>                              
                           </tr>
                        </thead>
                        <tbody>
                           <tr>                              
                              <td>1</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>                                                                                                                                    
                           <tr>                              
                              <td>2</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>3</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>4</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>5</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>6</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>7</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>8</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>9</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>
                           <tr>                              
                              <td>10</td>                              
                              <td>아랍에미리트 연합</td>                              
                              <td>AED</td>                              
                              <td>382.67</td>                              
                              <td>360.12</td>                              
                              <td>-7.96</td>                              
                              <td>UAE Dirham</td>                              
                           </tr>                                                                                                                                    
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">10</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">국가명</strong>
                                 <span class="txt">아랍에미리트 연합</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">통화부호</strong>
                                 <span class="txt">AED</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">환율</strong>
                                 <span class="txt">382.67</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">전주환율</strong>
                                 <span class="txt">360.12</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">증감</strong>
                                 <span class="txt">-7.96</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">화폐단위</strong>
                                 <span class="txt">UAE Dirham</span>
                              </li>                                                            
                           </ul>
                        </li>                                                  
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">10</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">국가명</strong>
                                 <span class="txt">아랍에미리트 연합</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">통화부호</strong>
                                 <span class="txt">AED</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">환율</strong>
                                 <span class="txt">382.67</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">전주환율</strong>
                                 <span class="txt">360.12</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">증감</strong>
                                 <span class="txt">-7.96</span>
                              </li>                                                            
                              <li>
                                 <strong class="title">화폐단위</strong>
                                 <span class="txt">UAE Dirham</span>
                              </li>                                                            
                           </ul>
                        </li>                                                  
                     </ul>
                  </div>
               </div>
               <div class="pagination pagination-type1">               
                  <button class="page-navi prev" disabled="">이전</button>
                  <div class="page-links">
                     <a class="page-link mobile-link" href="#">1</a>
                     <span class="page-link link-dot mobile-dot"></span>
                     <a class="page-link" href="#">2</a>
                     <a class="page-link" href="#">3</a>
                     <a class="page-link" href="#">4</a>
                     <a class="page-link mobile-link" href="#">5</a>
                     <a class="page-link active mobile-link" href="#"><span class="sr-only">현재페이지 </span>6</a>                  
                     <a class="page-link mobile-link" href="#">7</a>
                     <a class="page-link" href="#">8</a>
                     <a class="page-link" href="#">9</a>
                     <span class="page-link link-dot"></span>
                     <a class="page-link mobile-link" href="#">120</a>
                  </div>
                  <button class="page-navi next">다음</button>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>