<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">전자상거래 신고 보완서류 등록</h3>     
            <h4 class="sr-only">빈텍스트</h4>       
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <h5 class="title-type3">신고사항</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                                 
                        <li class="col2 txt-list">
                           <strong class="tit">수입신고번호</strong>
                           <div class="inp-box">
                              <p class="txt">11014-16-123456M</p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">보완통구구분</strong>
                           <div class="inp-box">
                              <p class="txt">정정보완</p>
                           </div>                        
                        </li>                                           
                        <li class="col1 txt-list">
                           <strong class="tit">신고인</strong>
                           <div class="inp-box">
                              <p class="txt">‘관세법인제일인천공항지점’, ‘박중석’</p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">납세자</strong>
                           <div class="inp-box">
                              <p class="txt">(주)황금복</p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">신고일자</strong>
                           <div class="inp-box">
                              <p class="txt">2016-01-15</p>
                           </div>                        
                        </li>                                           
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">품목사항</h5>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>품목사항에 대한 표로 란번호,HS부호,품명,원산지,관세과세가격미화금액 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">
                           <col style="width: 15.625%;">
                           <col style="width: 46.875%;">
                           <col style="width: 15.625%;">
                           <col style="width: 15.625%;">                           
                        </colgroup>
                        <thead>
                           <tr>                                                                                                         
                              <th scope="col">란번호</th>                              
                              <th scope="col">HS부호</th>                              
                              <th scope="col">품명</th>                              
                              <th scope="col">원산지</th>                              
                              <th scope="col">관세과세가격미화금액</th>                              
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>001</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>002</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>003</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>004</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>005</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>006</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>007</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>008</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>009</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>
                           <tr>
                              <td>010</td>                              
                              <td>0303.89-8002</td>
                              <td class="text-left">FUGU XANTHOPTERUS</td>
                              <td>중국</td>
                              <td class="text-right">2,729</td>
                           </tr>                                                                                                                                                               
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>                              
                              <li>
                                 <strong class="title">HS부호</strong>
                                 <span class="txt">0303.89-8002</span>
                              </li>                              
                              <li>
                                 <strong class="title">상품명</strong>
                                 <span class="txt">FUGU XANTHOPTERUS</span>
                              </li>                              
                              <li>
                                 <strong class="title">원산지</strong>
                                 <span class="txt">중국</span>
                              </li>                              
                              <li>
                                 <strong class="title">관세과세가격미화금액</strong>
                                 <span class="txt">2,729</span>
                              </li>                              
                           </ul>
                        </li>  
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>                              
                              <li>
                                 <strong class="title">HS부호</strong>
                                 <span class="txt">0303.89-8002</span>
                              </li>                              
                              <li>
                                 <strong class="title">상품명</strong>
                                 <span class="txt">FUGU XANTHOPTERUS</span>
                              </li>                              
                              <li>
                                 <strong class="title">원산지</strong>
                                 <span class="txt">중국</span>
                              </li>                              
                              <li>
                                 <strong class="title">관세과세가격미화금액</strong>
                                 <span class="txt">2,729</span>
                              </li>                              
                           </ul>
                        </li>                                                       
                     </ul>
                  </div>
               </div>
               <div class="pagination pagination-type1">               
                  <button class="page-navi prev" disabled>이전</button>
                  <div class="page-links">
                     <a class="page-link mobile-link" href="#">1</a>
                     <span class="page-link link-dot mobile-dot"></span>
                     <a class="page-link" href="#">2</a>
                     <a class="page-link" href="#">3</a>
                     <a class="page-link" href="#">4</a>
                     <a class="page-link mobile-link" href="#">5</a>
                     <a class="page-link active mobile-link" href="#"><span class="sr-only">현재페이지 </span>6</a>                  
                     <a class="page-link mobile-link" href="#">7</a>
                     <a class="page-link" href="#">8</a>
                     <a class="page-link" href="#">9</a>
                     <span class="page-link link-dot"></span>
                     <a class="page-link mobile-link" href="#">120</a>
                  </div>
                  <button class="page-navi next" >다음</button>
               </div>
               <h5 class="title-type3">보완기간</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                                 
                        <li class="col2 txt-list">
                           <strong class="tit">문서번호</strong>
                           <div class="inp-box">
                              <p class="txt">030-11-보완-16-00375</p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">연락처 전화</strong>
                           <div class="inp-box">
                              <p class="txt">051-620-6239</p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">보완요구기한</strong>
                           <div class="inp-box">
                              <p class="txt">2025-01-01</p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">보완승인일자</strong>
                           <div class="inp-box">
                              <p class="txt"></p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">보완이행일자</strong>
                           <div class="inp-box">
                              <p class="txt"></p>
                           </div>                        
                        </li>                                           
                        <li class="col2 txt-list">
                           <strong class="tit">보완통보일자</strong>
                           <div class="inp-box">
                              <p class="txt"></p>
                           </div>                        
                        </li>                                           
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">정정보완 요구사항</h5>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>정정보완 요구사항에 대한 표로 란번호,항목코드,항목명 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">
                           <col style="width: 15.625%;">
                           <col style="width: 78.125%;">   
                        </colgroup>
                        <thead>
                           <tr>                                                                                                         
                              <th scope="col">란번호</th>                              
                              <th scope="col">항목코드</th>                              
                              <th scope="col">항목명</th>                                                            
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>001</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>002</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>003</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>004</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>005</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>006</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>007</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>008</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>009</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>
                           <tr>
                              <td>010</td>                              
                              <td>008</td>
                              <td class="text-left">HS 코드 정정</td>
                           </tr>                                                                                                                                                               
                        </tbody>
                     </table>
                  </div>                 
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">항목코드</strong>
                                 <span class="txt">008</span>
                              </li>
                              <li>
                                 <strong class="title">항목명</strong>
                                 <span class="txt">HS 코드 정정</span>
                              </li>                              
                           </ul>
                        </li>                                                       
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">항목코드</strong>
                                 <span class="txt">008</span>
                              </li>
                              <li>
                                 <strong class="title">항목명</strong>
                                 <span class="txt">HS 코드 정정</span>
                              </li>                              
                           </ul>
                        </li>                                                       
                     </ul>
                  </div>
               </div>
                <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                                 
                        <li class="col1 txt-list">
                           <strong class="tit">보완요구내용</strong>
                           <div class="inp-box">
                              <p class="txt">정확한 용도, 작동 방식 확인 후 HS 코드 세분류 필요</p>
                           </div>                        
                        </li>                                           
                        <li class="col1 txt-list">
                           <strong class="tit">보완안내내용</strong>
                           <div class="inp-box">
                              <p class="txt">HS CODE가 너무 일반적으로 신고됨 (기계류, 부품 등)</p>
                           </div>                        
                        </li>                                                                   
                     </ul>                  
                  </div>
               </div>
               <div class="board-top no-wrap title-top">
                  <div class="left-box">
                     <h5 class="title-type">첨부파일</h5>      
                  </div>   
                  <div class="right-box">                     
                     <button type="button" class="btn primary medium">서류 업로드</button>
                  </div>               
               </div>
               <div class="wrap-crud-tbl">                  
                  <div class="table-wrap pc">
                     <table class="tbl col crud">
                        <caption>첨부파일에 대한 표로 NO,란번호,파일형식,첨부서류부호,첨부파일 구성되어있다.</caption>
                        <colgroup>
                           <col style="width:52px">
                           <col style="width:80px">
                           <col style="width: 120px;">
                           <col style="width: 120px;">
                           <col style="width: 180px;">                           
                           <col style="width: 56.875%;">                           
                        </colgroup>
                        <thead>
                           <tr>                                                                                                         
                              <th scope="col">
                                 <div class="form-check medium">
                                    <input type="checkbox" id="all-chk">
                                    <label for="all-chk"><span class="sr-only">전체선택</span></label>
                                 </div>
                              </th>                              
                              <th scope="col">NO</th>                              
                              <th scope="col">란번호</th>                              
                              <th scope="col">파일형식</th>                              
                              <th scope="col">첨부서류부호</th>                              
                              <th scope="col">첨부파일</th>  
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk1">
                                    <label for="chk1"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>1</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr>   
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk2">
                                    <label for="chk2"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>2</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk3">
                                    <label for="chk3"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>3</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk4">
                                    <label for="chk4"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>4</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk5">
                                    <label for="chk5"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>5</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk6">
                                    <label for="chk6"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>6</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk7">
                                    <label for="chk7"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>7</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk8">
                                    <label for="chk8"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>8</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk9">
                                    <label for="chk9"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>9</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk10">
                                    <label for="chk10"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>                              
                              <td>10</td>
                              <td>123456</td>
                              <td>PDF</td>
                              <td>123456789</td>
                              <td class="text-left">123456ABCD.pdf</td>
                           </tr>                                                                                                                                  
                        </tbody>
                     </table>
                  </div>

                  <div class="table-wrap mo">
                     <div class="header">
                        <div class="form-check medium">
                           <input type="checkbox" id="m-all-chk">
                           <label for="m-all-chk">전체선택</label>
                        </div>
                     </div>
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">
                              <li>
                                 <div class="title">
                                    <div class="form-check medium">
                                       <input type="checkbox" id="m-chk1">
                                       <label for="m-chk1"><span class="sr-only">선택</span></label>
                                    </div>
                                 </div>                                 
                              </li>
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">1</span>
                              </li>                              
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">123456</span>
                              </li>                              
                              <li>
                                 <strong class="title">파일형식</strong>
                                 <span class="txt">PDF</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부서류부호</strong>
                                 <span class="txt">123456789</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부파일</strong>
                                 <span class="txt">123456ABCD.pdf</span>
                              </li>                              
                           </ul>
                        </li>  
                        <li>
                           <ul class="body">
                              <li>
                                 <div class="title">
                                    <div class="form-check medium">
                                       <input type="checkbox" id="m-chk2">
                                       <label for="m-chk2"><span class="sr-only">선택</span></label>
                                    </div>
                                 </div>                                 
                              </li>
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">1</span>
                              </li>                              
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">123456</span>
                              </li>                              
                              <li>
                                 <strong class="title">파일형식</strong>
                                 <span class="txt">PDF</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부서류부호</strong>
                                 <span class="txt">123456789</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부파일</strong>
                                 <span class="txt">123456ABCD.pdf</span>
                              </li>                              
                           </ul>
                        </li>                       
                     </ul>
                  </div>
               </div>
               <div class="btn-area btn-end">
                  <div class="align">                                          
                     <button type="button" class="btn tertiary large">목록</button>
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>