<!DOCTYPE html>
<html lang="en">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit sr-only">빈텍스트</h3>            
            <h4 class="head-tit sr-only">빈텍스트</h4>            
         </div>
         <div class="signup">        
            <div class="content-wrap">
               <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">Application completed</button>               
               <div id="modal1" class="modal type1 d-none" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>Application completed</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">                        
                        <div class="modal-cont">
                           Your e-commerce business code application has been completed. You can use it after approval from the responsible official.
                        </div>
                     </div>
                     <div class="modal-footer">                           
                        <button type="button" class="btn modal-close primary medium">close</button>
                     </div>
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
            </div>
         </div>         
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->

   </div>
</body>
</html>