<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">해외직구 예상세액 조회</h3>  
            <h4 class="sr-only">빈텍스트</h4>          
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <h5 class="title-type3">자가사용물품 면세기준(물품가격 미화150달러) 국가별 환산금액</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col1 dotted-line-bottom">
                           <label for="ex1" class="tit">국가</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-389">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex1" required="" title="국가를 선택해주세요">
                                       <option value="" disabled="" hidden="">선택해주세요</option>
                                       <option value="아랍에미리트" selected="">아랍에미리트</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                           </div>  
                        </li>                        
                        <li class="col2 txt-list">
                           <strong class="tit">환산금액</strong>
                           <div class="inp-box">
                              <p class="txt">550.95 AED</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">적용기간</strong>
                           <div class="inp-box">
                              <p class="txt">2025-04-28 ~ 2025-05-04</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">국가명</strong>
                           <div class="inp-box">
                              <p class="txt">아랍에미리트 연합</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">통화부호</strong>
                           <div class="inp-box">
                              <p class="txt">AED</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">환율</strong>
                           <div class="inp-box">
                              <p class="txt">376.69</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">전주환율</strong>
                           <div class="inp-box">
                              <p class="txt">389.26</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">증감</strong>
                           <div class="inp-box">
                              <p class="txt">-1.57</p>
                           </div>  
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">화폐단위</strong>
                           <div class="inp-box">
                              <p class="txt">UAE Dirham</p>
                           </div>  
                        </li>
                     </ul>                  
                  </div>
               </div>
               <p class="advice-txt">금일 수입신고 과세환율이며, 환산에 따른 오차 있음</p>
               <h5 class="title-type3">예상세액 조회</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col1 dotted-line-bottom">
                           <label for="ex2" class="tit">구입물품</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-389">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex2" required="" title="구입물품을 선택해주세요">
                                       <option value="" disabled="" hidden="">선택해주세요</option>
                                       <option value="식품/의약품 볶은커피" selected="">식품/의약품 볶은커피</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                           </div>  
                        </li>                        
                        <li class="col1 txt-list dotted-line-bottom line-break">
                           <strong class="tit">물품설명</strong>
                           <div class="inp-box">
                              <p class="txt">조회하실 물품을 선택하시면 물품에 대한 설명이 나옵니다.</p>
                           </div>  
                        </li>    
                        <li class="col1">
                           <label for="ex3" class="tit">세율종류</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-389">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex3" required="" title="세율종류를 선택해주세요">
                                       <option value="" disabled="" hidden="">기본관세</option>
                                       <option value="기본관세" selected="">기본관세</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                           </div>  
                        </li>     
                        <li class="col1">
                           <label for="ex4" class="tit">총과세가격</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-200">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex4" required="" title="총과세가격 선택해주세요">
                                       <option value="" disabled="" hidden="">대한민국</option>
                                       <option value="대한민국" selected="">대한민국</option>                                       
                                    </select>
                                 </div>                                 
                              </div>
                              <div class="area-group">
                                 <div class="form-group medium mw-335">                     
                                    <div class="form-conts">
                                       <input type="text" class="input text-right" value="10,000" placeholder="금액을 입력해주세요" title="총과세가격을 입력해주세요">
                                    </div>                           
                                 </div>   
                                 <p>KRW</p>
                              </div>
                           </div>
                        </li>  
                     </ul>                  
                  </div>
               </div>
               <div class="board-top no-wrap title-top">
                  <div class="left-box">
                     <p class="advice-txt">총과세가격은 물품가격 + 국제 배송료+ 보험 등을 포함한 가격입니다.</p>  
                  </div>   
                  <div class="right-box">
                     <button type="button" class="btn tertiary medium">초기화</button>
                     <button type="button" class="btn primary medium">입력한 예상세액(조회)추가</button>
                  </div>               
               </div>
               <h5 class="title-type3">해외직구물품 예상세액결과보기</h5>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>해외직구물품 예상세액결과보기에 대한 물품명,구입가,총 세액,관세율,관세(원),개별소비세(원),주세(원),교육세(원),부가세(원),선택취소, 표로 로 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 14.84375%">                          
                           <col style="width: 10.9375%">                          
                           <col style="width: 12%">       
                           <col style="width: 7.8125%;">                          
                           <col style="width: 7.8125%;">                          
                           <col style="width: 10%;">                          
                           <col style="width: 7.8125%;">                          
                           <col style="width: 7.8125%">                          
                           <col style="width: 7.8125%">                          
                           <col style="width: 14.84375%">                          
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">물품명</th>                                                     
                              <th scope="col">구입가</th>                                                     
                              <th scope="col">총 세액 <p class="cl-3">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</p></th>                                                     
                              <th scope="col">관세율 <p>(%)</p></th>                                                     
                              <th scope="col">관세(원) <p class="cl-3">ⓐ</p></th>                                                     
                              <th scope="col">개별소비세(원) <p class="cl-3">ⓑ</p></th>                                                     
                              <th scope="col">주세(원) <p class="cl-3">ⓒ</p></th>                                                     
                              <th scope="col">교육세(원) <p class="cl-3">ⓓ</p></th>                                                     
                              <th scope="col">부가세(원) <p class="cl-3">ⓔ</p></th>                                                     
                              <th scope="col">선택취소</th>                                                     
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>식품/의약품</td>                          
                              <td>100,000원</td>                          
                              <td>18,800원</td>                          
                              <td>8</td>                          
                              <td>8,000</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td>10,800</td>                          
                              <td>식품/의약품_볶은커피</td>                          
                           </tr>                                                                                                                                                                                                                                         
                           <tr>
                              <td>합계</td>                          
                              <td>400000원</td>                          
                              <td>75200원</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td>-</td>                          
                              <td></td>                          
                           </tr>                                                                                                                                                                                                                                         
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                              
                              <li class="dotted-line-bottom">
                                 <strong class="title">합계</strong>                                 
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">구입가</strong>
                                 <span class="txt">50,000원</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">총세액</strong>
                                 <span class="txt">5,000원</span>
                              </li>                                                                                                                    
                           </ul>
                        </li>                                                                                                                                                                                                                 
                     </ul>
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                              
                              <li>
                                 <strong class="title">물품명</strong>
                                 <span class="txt">식품/의약품_녹차</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">구입가</strong>
                                 <span class="txt">33,334원</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">총세액 <span class="cl-3">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</span></strong>
                                 <span class="txt">17,999원</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">관세율(%)</strong>
                                 <span class="txt">40</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">관세(원) <span class="cl-3">ⓐ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">개별소비세(원) <span class="cl-3">ⓑ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">주세(원) <span class="cl-3">ⓒ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                                                                                                                                          
                              <li>
                                 <strong class="title">교육세(원) <span class="cl-3">ⓓ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">부가세(원) <span class="cl-3">ⓔ</span></strong>
                                 <span class="txt">4,666</span>
                              </li>                            
                              <li>
                                 <button type="button" class="btn tertiary medium">해당항목 삭제</button>
                              </li>                                                                                                                    
                           </ul>
                        </li>     
                        <li>
                           <ul class="body">                              
                              <li>
                                 <strong class="title">물품명</strong>
                                 <span class="txt">식품/의약품_녹차</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">구입가</strong>
                                 <span class="txt">33,334원</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">총세액 <span class="cl-3">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</span></strong>
                                 <span class="txt">17,999원</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">관세율(%)</strong>
                                 <span class="txt">40</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">관세(원) <span class="cl-3">ⓐ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">개별소비세(원) <span class="cl-3">ⓑ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">주세(원) <span class="cl-3">ⓒ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                                                                                                                                          
                              <li>
                                 <strong class="title">교육세(원) <span class="cl-3">ⓓ</span></strong>
                                 <span class="txt">0</span>
                              </li>                                                                                                                    
                              <li>
                                 <strong class="title">부가세(원) <span class="cl-3">ⓔ</span></strong>
                                 <span class="txt">4,666</span>
                              </li>                            
                              <li>
                                 <button type="button" class="btn tertiary medium">해당항목 삭제</button>
                              </li>                                                                                                                    
                           </ul>
                        </li>                                                                                                                                                                                                              
                     </ul>
                  </div>
               </div>
               <div class="txt-box-type type2">
                  <strong class="title-type font-2 dotted-line-bottom">세율안내</strong>
                  <ul class="top-list-box"> 
                     <li>해외직구 예상세액 면세금액은 물품가역 213,594원 이하입니다.</li>
                     <li>개별소비세 = (과세가격 + 관세) * 개별소비세율/100</li>
                     <li>고급핸드백 개별 소비세 = (과세가격 + 관세-2,000,000) * 개별소비세율/100</li>
                     <li>농어촌특별세 = 개별소비세 * 농어촌특별세율 / 100</li>
                     <li>주세 = (과세가격 + 관세) * 주세율/ 100</li>
                     <li>교육세 = 교육세율* 주세/100 or 개별소비세 * 교육세율/ 100</li>
                     <li>부가세 = (과세가격 + 관세 + 개별소비세 +교육세 + 주세 + 농특세) / 10</li>
                     <li>주류는 150달러 이하 면세이면 관세, 부가세만 면세이고, 주세, 교육세는 부과</li>
                  </ul>
               </div>
               <div class="txt-box-type type2">
                  <strong class="title-type font-2 dotted-line-bottom">세율종류</strong>
                  <ul class="top-list-box"> 
                     <li>(기본세율) 기본관세율 입니다.</li>
                     <li>품목분류에 따라 세율은 달라지며, 기타 세율 종류에 따라 세액은 달라질 수 있습니다.</li>
                  </ul>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>