<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">세관, 발송국별 전자상거래 물품 수입통관 현황</h3>  
            <h4 class="sr-only">빈텍스트</h4>          
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="search-box">
                  <ul>
                     <li class="col1">
                        <strong class="tit">조회 기간선택</strong>
                        <div class="search-area">
                           <div class="calendar">
                              <div class="calendar-form" data-ui="datepicker" data-props="maxInput: '#endDate'">
                                 <input id="startDate" type="text" title="시작날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn">시작 달력보기</button>
                              </div>
                              <i class="hy">~</i>
                              <div class="calendar-form" data-ui="datepicker" data-props="minInput: '#startDate'">
                                 <input id="endDate" type="text" title="종료날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn">종료 달력보기</button>
                              </div>
                           </div>                           
                        </div>                        
                     </li>
                     <li class="col2">
                        <strong class="tit">X 축 조건</strong>
                        <div class="search-area check-area">
                           <div class="form-check medium">
                              <input type="radio" name="radio1" id="radio1">
                              <label for="radio1">발송국</label>
                           </div>                          
                           <div class="form-check medium">
                              <input type="radio" name="radio1" id="radio2">
                              <label for="radio2">세관</label>
                           </div>                                                     
                        </div>                           
                     </li>
                     <li class="col2">
                        <strong class="tit">Y 축 조건</strong>
                        <div class="search-area check-area">
                           <div class="form-check medium">
                              <input type="radio" name="radio2" id="radio3">
                              <label for="radio3">금액합계</label>
                           </div>                          
                           <div class="form-check medium">
                              <input type="radio" name="radio2" id="radio4">
                              <label for="radio4">수입건수</label>
                           </div>                                                                               
                        </div>                           
                     </li>
                  </ul>                  
               </div>
               <div class="wrap-graph">
                  <strong class="title-type font-2">세관별 전자상거래 물품 수입통관 현황</strong>
                  <div class="graph-box">
                     그래프 영역
                  </div>
               </div>
               <p class="advice-txt type1">실제 통계데이터와 약간의 오차가 있을 수 있습니다.</p>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>