<!DOCTYPE html>
<html lang="en">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit sr-only">빈텍스트</h3>            
            <h4 class="head-tit sr-only">빈텍스트</h4>            
         </div>
         <div class="signup">        
            <div class="content-wrap">
               <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-signup w-1280">
                  <div class="header">
                     <h5 class="pages-logo">Welcome to KOREA CUSTOMS SERVICE</h5>   
                     <ol class="step-wrap step-type3">
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="active"></li>                        
                     </ol>                                      
                  </div>
                  <div class="body type1 bg-white">                     
                     <div class="cont">
                        <h5 class="title-type3">Basic Information</h5>
                        <div class="wrap-form-area">
                           <div class="inp-form">
                              <ul>                                                         
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Company Name</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">SHUHAN LTD.</p>
                                    </div>   
                                 </li>
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Country Code</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">CN</p>
                                    </div>   
                                 </li>          
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Business<br> Registration Number</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">202438961G</p>
                                    </div>   
                                 </li>                                 
                                 <li class="col2 txt-list">
                                    <strong class="tit">
                                       <strong>D-U-N-S Number</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">202438961G</p>
                                    </div>   
                                 </li>
                                 <li class="col2 txt-list">
                                    <strong class="tit">
                                       <strong>LEI Number</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt"></p>
                                    </div>   
                                 </li>          
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Zipcode</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">1234567</p>
                                    </div>   
                                 </li>
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Address #1</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">51 BRAS BASAH ROAD, #01-21, LAZADA ONE, SINGAPORE</p>
                                    </div>   
                                 </li>
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Address #2</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt"></p>
                                    </div>   
                                 </li>
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Corporate Phone</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">1533-6727</p>
                                    </div>   
                                 </li>
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Corporate Fax</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt"></p>
                                    </div>   
                                 </li>          
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Major Business Type</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt"></p>
                                    </div>   
                                 </li>
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Minor Business Type</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <div class="form-check">
                                          <input type="checkbox" id="chk_1" disabled checked>
                                          <label for="chk_1">Mail-order Sales</label>
                                       </div>
                                       <div class="form-check">
                                          <input type="checkbox" id="chk_2" disabled checked>
                                          <label for="chk_2">e-Commerce intermediation</label>
                                       </div>
                                       <div class="form-check">
                                          <input type="checkbox" id="chk_3" disabled>
                                          <label for="chk_3">Shipping Agency</label>
                                       </div>
                                       <div class="form-check">
                                          <input type="checkbox" id="chk_4" disabled>
                                          <label for="chk_4">Buying Agency</label>
                                       </div>
                                    </div>   
                                 </li>                                 
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Remark</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">remark</p>
                                    </div>   
                                 </li>                                   
                              </ul>                  
                           </div>   
                        </div>    
                        <h5 class="title-type3">CEO Information</h5>
                        <div class="wrap-form-area">
                           <div class="inp-form">
                              <ul>                                                         
                                 <li class="col2 txt-list">
                                    <strong class="tit">
                                       <strong>CEO Name</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">Liu Bei</p>
                                    </div>   
                                 </li>                                                       
                                 <li class="col2 txt-list">
                                    <strong class="tit">
                                       <strong>CEO Birth</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <p class="txt">1969-02-01</p>
                                    </div>   
                                 </li>                                                       
                              </ul>                  
                           </div>                              
                        </div>                        
                        <h5 class="title-type3">Domain Information</h5>
                        <div class="wrap-form-area">
                           <div class="inp-form">
                              <ul>                                                         
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Company Domain</strong>
                                    </strong>
                                    <div class="inp-box">
                                       <ul class="addmore-list">
                                          <li>
                                             <p class="title">01. Direct Operation</p>
                                             <p class="txt">https://www.shuhan.com</p>
                                          </li>                                          
                                          <li>
                                             <p class="title">02. Store Entry</p>
                                             <p class="txt">https://shopping.naver.com/shuhan</p>
                                          </li>                                                                                   
                                       </ul>                                       
                                    </div>   
                                 </li>                                                                   
                              </ul>                  
                           </div>   
                        </div>
                        <h5 class="title-type3">Attatchment</h5>
                        <div class="wrap-form-area">
                           <div class="inp-form">
                              <ul>                                                         
                                 <li class="col1 txt-list">
                                    <strong class="tit">
                                       <strong>Attatchment</strong>
                                    </strong>
                                    <div class="inp-box line-box">
                                       <p class="txt">01. Business Registration Certificate</p>                                       
                                       <p class="txt">01. Business Registration Certificate</p>                                       
                                    </div>
                                 </li>                                                                   
                              </ul>                  
                           </div>                                                         
                        </div>  
                        <div class="btn-area btn-between">
                           <div class="align">
                              <button type="button" class="btn tertiary large">Previous</button>
                           </div>
                           <div class="align">
                              <button type="button" class="btn primary large">Submit</button>
                           </div>
                        </div>                                              
                     </div>                           
                  </div>                     
               </div>
            </div>
            <!--// 내용 -->
         </div>
            </div>
         </div>         
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->

   </div>
</body>
</html>