<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">해외직구 등록업체 조회</h3>      
            <h4 class="sr-only">빈텍스트</h4>      
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">전자상거래 업체</button>
                  <button class="tab-menu active" title="선택됨">관세사</button>
                  <button class="tab-menu">특송업체</button>                  
               </div>
               <div class="search-box"> 
                  <ul>                     
                     <li class="col2">
                        <label class="tit" for="ex1">관세사명</label>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                     
                              <div class="form-conts">
                                 <input type="text" class="input" id="ex1" placeholder="내용을 입력해주세요" title="관세사명 입력해주세요">
                              </div>                           
                           </div>
                        </div>                        
                     </li>                                                                                       
                     <li class="col2">
                        <label class="tit" for="ex2">사업자 등록번호</label>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                     
                              <div class="form-conts">
                                 <input type="text" class="input" id="ex2" placeholder="내용을 입력해주세요" title="사업자 등록번호 입력해주세요">
                              </div>                           
                           </div>
                        </div>                        
                     </li>                                                                                       
                     <li class="col2">
                        <label class="tit" for="ex3">관할세관명</label>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                     
                              <div class="form-conts">
                                 <input type="text" class="input" id="ex3" placeholder="내용을 입력해주세요" title="관할세관명 입력해주세요">
                              </div>                           
                           </div>
                        </div>                        
                     </li>                                                                                       
                     <li class="col2">
                        <label class="tit" for="ex4">관세사 전화번호</label>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                     
                              <div class="form-conts">
                                 <input type="text" class="input" id="ex4" placeholder="내용을 입력해주세요" title="관세사 전화번호 입력해주세요">
                              </div>                           
                           </div>
                        </div>                        
                     </li>                                                                                       
                  </ul>
                  <div class="btn-area btn-end">
                     <div class="align">
                        <button type="button" class="btn tertiary medium">초기화</button>
                        <button type="button" class="btn secondary medium">조회</button>                        
                     </div>
                  </div>
               </div>
               <div class="board-top tbl-top">
                  <div class="left-box">
                     <strong class="tit top-txt">전체<strong>240</strong>개</strong>
                     <div class="top-txt">
                        <select class="form-select-sort large" title="정보 구분 선택">                           
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                        </select>
                     </div>                     
                  </div>                  
               </div>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>해외직구 등록업체 조회 대한 NO,관세사,관할세관명,사업자 등록번호,관세사 전화번호,주소,신고인부호,신고인구분  표로 로 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">                                                      
                           <col style="width: 14.0625%;">
                           <col style="width: 15.625%;">
                           <col style="width:12.5%;">
                           <col style="width: 12.5%;">
                           <col style="width: 20.3125%;">
                           <col style="width:120px;">
                           <col style="width: 9.375%;">                                                                                 
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">NO</th>                                                                                          
                              <th scope="col">관세사</th>                                                                                          
                              <th scope="col">관할세관명</th>                                                                                          
                              <th scope="col">사업자 등록번호</th>                                                                                          
                              <th scope="col">관세사 전화번호</th>                                                                                          
                              <th scope="col">주소</th>                                                                                                                        
                              <th scope="col">
                                 <!-- 타이틀 툴팁 -->
                                 <div class="tooltip-tit tit">
                                    <div class="title">
                                       <strong>신고인부호</strong>
                                       <div class="contextual-help top left" data-ui="tooltip">                              
                                          <div class="tooltip-btn-area">                                 
                                             <button class="tooltip-ico">전화번호 도움말</button>
                                             <div class="tooltip-action">                  
                                                <div class="tooltip-popover">
                                                <strong class="tooltip-title">전화번호</strong>
                                                <div class="tooltip-contents">
                                                   <p>042-1234-1234</p>
                                                   <div class="btn-wrap">
                                                      <a href="#;" class="btn link">바로가기</a>
                                                   </div>
                                                </div>
                                                <button type="button" class="btn tooltip-close">
                                                   <span class="sr-only">닫기</span>                        
                                                </button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- 타이틀 툴팁 -->
                              </th>                                
                              <th scope="col">신고인구분</th>                                                                                        
                           </tr>
                        </thead>
                        <tbody>                           
                           <tr>
                              <td>1</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>2</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>3</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>4</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>5</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>6</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>7</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>8</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>9</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>
                           <tr>
                              <td>10</td>                                                                                          
                              <td>부산삼정관세사무소</td>
                              <td>서울세관 구로지원센터</td>
                              <td>11111111111</td>
                              <td>052-111-1111</td>
                              <td>부산시 중구 해관로65, 412호</td>
                              <td>10508</td>
                              <td>개인관세사</td>
                           </tr>                                                                                                                                                               
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                              
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">10</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">관세사</strong>
                                 <span class="txt">부산삼정관세사무소</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">관할세관명</strong>
                                 <span class="txt">서울세관 구로지원센터</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">사업자 등록번호</strong>
                                 <span class="txt">11111111111</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">관세사 전화번호</strong>
                                 <span class="txt">052-111-1111</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">주소</strong>
                                 <span class="txt">부산시 중구 해관로65, 412호</span>
                              </li>                                                                                                                        
                              <li>
                                 <div class="title">
                                    <!-- 타이틀 툴팁 -->
                                    <div class="tooltip-tit tit">
                                       <div class="title">
                                          <strong>신고인부호</strong>
                                          <div class="contextual-help top left" data-ui="tooltip">                              
                                             <div class="tooltip-btn-area">                                 
                                                <button class="tooltip-ico">전화번호 도움말</button>
                                                <div class="tooltip-action">                  
                                                   <div class="tooltip-popover">
                                                   <strong class="tooltip-title">전화번호</strong>
                                                   <div class="tooltip-contents">
                                                      <p>042-1234-1234</p>
                                                      <div class="btn-wrap">
                                                         <a href="#;" class="btn link">바로가기</a>
                                                      </div>
                                                   </div>
                                                   <button type="button" class="btn tooltip-close">
                                                      <span class="sr-only">닫기</span>                        
                                                   </button>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- 타이틀 툴팁 -->
                                 </div>
                                 <span class="txt">10508</span>
                              </li>
                              <li>
                                 <strong class="title">신고인구분</strong>
                                 <span class="txt">개인관세사</span>
                              </li>                                                                                                                                                                                    
                           </ul>
                        </li>    
                        <li>
                           <ul class="body">                              
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">10</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">관세사</strong>
                                 <span class="txt">부산삼정관세사무소</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">관할세관명</strong>
                                 <span class="txt">서울세관 구로지원센터</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">사업자 등록번호</strong>
                                 <span class="txt">11111111111</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">관세사 전화번호</strong>
                                 <span class="txt">052-111-1111</span>
                              </li>                                                                                                                        
                              <li>
                                 <strong class="title">주소</strong>
                                 <span class="txt">부산시 중구 해관로65, 412호</span>
                              </li>                                                                                                                        
                              <li>
                                 <div class="title">
                                    <!-- 타이틀 툴팁 -->
                                    <div class="tooltip-tit tit">
                                       <div class="title">
                                          <strong>신고인부호</strong>
                                          <div class="contextual-help top left" data-ui="tooltip">                              
                                             <div class="tooltip-btn-area">                                 
                                                <button class="tooltip-ico">전화번호 도움말</button>
                                                <div class="tooltip-action">                  
                                                   <div class="tooltip-popover">
                                                   <strong class="tooltip-title">전화번호</strong>
                                                   <div class="tooltip-contents">
                                                      <p>042-1234-1234</p>
                                                      <div class="btn-wrap">
                                                         <a href="#;" class="btn link">바로가기</a>
                                                      </div>
                                                   </div>
                                                   <button type="button" class="btn tooltip-close">
                                                      <span class="sr-only">닫기</span>                        
                                                   </button>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- 타이틀 툴팁 -->
                                 </div>
                                 <span class="txt">10508</span>
                              </li>
                              <li>
                                 <strong class="title">신고인구분</strong>
                                 <span class="txt">개인관세사</span>
                              </li>                                                                                                                                                                                    
                           </ul>
                        </li>                           
                     </ul>
                  </div>
               </div>
               <div class="pagination pagination-type1">               
                  <button class="page-navi prev" disabled="">이전</button>
                  <div class="page-links">
                     <a class="page-link mobile-link" href="#">1</a>
                     <span class="page-link link-dot mobile-dot"></span>
                     <a class="page-link" href="#">2</a>
                     <a class="page-link" href="#">3</a>
                     <a class="page-link" href="#">4</a>
                     <a class="page-link mobile-link" href="#">5</a>
                     <a class="page-link active mobile-link" href="#"><span class="sr-only">현재페이지 </span>6</a>                  
                     <a class="page-link mobile-link" href="#">7</a>
                     <a class="page-link" href="#">8</a>
                     <a class="page-link" href="#">9</a>
                     <span class="page-link link-dot"></span>
                     <a class="page-link mobile-link" href="#">120</a>
                  </div>
                  <button class="page-navi next">다음</button>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>