<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">전자상거래 신고 상세 조회</h3>    
            <h4 class="sr-only">빈텍스트</h4>        
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">수입신고공통사항</button>
                  <button class="tab-menu">수입신고 거래내역</button>
                  <button class="tab-menu active" title="선택됨">제출서류내역</button>                                                                                                                                          
               </div>  
               <h5 class="title-type3 pc">첨부파일</h5>
               <div class="txt-box-type type1 fpc">
                  <p>선택된 파일을 다운로드 합니다. <strong><strong class="cl-4">3개</strong><i>/</i>20개</strong></p>
                  <button type="button" class="btn secondary medium">다운로드</button>
               </div>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>전자상거래 신고 상세 조회에 대한 표로 NO,란번호,파일형식,첨부서류부호,첨부파일 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 52px;">                           
                           <col style="width: 80px;">                           
                           <col style="width: 9.375%;">                           
                           <col style="width: 9.375%;">                           
                           <col style="width: 14.0625%;">                           
                           <col style="width: 56.875%;">                           
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">
                                 <div class="form-check medium">
                                    <input type="checkbox" id="all-chk">
                                    <label for="all-chk"><span class="sr-only">전체선택</span></label>
                                 </div>
                              </th>
                              <th scope="col">NO</th>                              
                              <th scope="col">란번호</th>                              
                              <th scope="col">파일형식</th>                              
                              <th scope="col">첨부서류부호</th>                              
                              <th scope="col">첨부파일</th>                              
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk1">
                                    <label for="chk1"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>1</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr>  
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk2">
                                    <label for="chk2"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>2</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk3">
                                    <label for="chk3"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>3</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk4">
                                    <label for="chk4"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>4</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk5">
                                    <label for="chk5"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>5</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk6">
                                    <label for="chk6"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>6</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk7">
                                    <label for="chk7"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>7</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk8">
                                    <label for="chk8"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>8</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk9">
                                    <label for="chk9"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>9</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr> 
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk10">
                                    <label for="chk10"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>10</td>                              
                              <td>123456</td>                              
                              <td>PDF</td>                              
                              <td>123456789</td>                              
                              <td class="text-left">123456ABCD.pdf</td>                              
                           </tr>                                                                                                                                   
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">No</strong>
                                 <span class="txt">001</span>
                              </li>                              
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>                              
                              <li>
                                 <strong class="title">파일형식</strong>
                                 <span class="txt">PDF</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부서류부호</strong>
                                 <span class="txt">0000000000</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부파일</strong>
                                 <span class="txt">보완서류001.PDF</span>
                              </li>                              
                              <li>
                                 <button type="button" class="btn tertiary medium">다운로드</button>
                              </li>                              
                           </ul>
                        </li>  
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">No</strong>
                                 <span class="txt">001</span>
                              </li>                              
                              <li>
                                 <strong class="title">란번호</strong>
                                 <span class="txt">001</span>
                              </li>                              
                              <li>
                                 <strong class="title">파일형식</strong>
                                 <span class="txt">PDF</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부서류부호</strong>
                                 <span class="txt">0000000000</span>
                              </li>                              
                              <li>
                                 <strong class="title">첨부파일</strong>
                                 <span class="txt">보완서류001.PDF</span>
                              </li>                              
                              <li>
                                 <button type="button" class="btn tertiary medium">다운로드</button>
                              </li>                              
                           </ul>
                        </li>                              
                     </ul>
                  </div>
               </div>
               <div class="pagination pagination-type1">               
                  <button class="page-navi prev" disabled>이전</button>
                  <div class="page-links">
                     <a class="page-link mobile-link" href="#">1</a>
                     <span class="page-link link-dot mobile-dot"></span>
                     <a class="page-link" href="#">2</a>
                     <a class="page-link" href="#">3</a>
                     <a class="page-link" href="#">4</a>
                     <a class="page-link mobile-link" href="#">5</a>
                     <a class="page-link active mobile-link" href="#"><span class="sr-only">현재페이지 </span>6</a>                  
                     <a class="page-link mobile-link" href="#">7</a>
                     <a class="page-link" href="#">8</a>
                     <a class="page-link" href="#">9</a>
                     <span class="page-link link-dot"></span>
                     <a class="page-link mobile-link" href="#">120</a>
                  </div>
                  <button class="page-navi next" >다음</button>
               </div>
               <div class="btn-area btn-end">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">목록으로</button>                 
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>