<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">질의응답</h3>   
            <h4 class="sr-only">빈텍스트</h4>         
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">문의등록</button>
                  <button class="tab-menu active" title="선택됨">문의 내역</button>                  
               </div>
               <div class="wrap-detail">
                  <h5 class="title">예상오류 통보 기준 추가 알림(3.14)</h5>
                  <div class="detail-area">
                     <ul class="detail-list">                        
                        <li>
                           <strong>등록일</strong>
                           <span>2025-05-30</span>
                        </li>
                        <li>
                           <strong>상태구분</strong>
                           <span>답변완료</span>
                        </li>
                     </ul>
                     <div class="detail-txt solid-line-bottom4 pb-0">
                        그러나, 겨울이 지나고 나의 별에도 봄이 오면, 무덤 위에 파란 잔디가 피어나듯이 내 이름자 묻힌 언덕 위에도 자랑처럼 풀이 무성할 거외다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다. 별 하나에 추억과 별 하나에 사랑과 별 
                        하나에 쓸쓸함과 별 하나에 동경과 별 하나에 시와 별 하나에 어머니, 어머니, 어머님, 나는 별 하나에 아름다운 말 한 마디씩 불러 봅니다.

                        <div class="wrap-reply">
                           <div class="reply-box">
                              <strong class="tit">답변대기중입니다.</strong>                             
                           </div>                           
                        </div>
                     </div>                     
                  </div>
                  <div class="wrap-pages-move">
                     <ul class="pages-move">  
                        <li class="prev">
                           <a href="#none">
                              <strong><i class="icon btn-arrow-left x-small"></i> 이전글</strong>
                              <p>관세법 개정에 따른 관세 감면률 변경관세법 개정에 따른 관세 감면률 변경관세법 개정에 따른 관세 감면률 변경관세법 개정에 따른 관세 감면률 변경관세법 개정에 따른 관세 감면률 변경</p>
                           </a>
                        </li>
                        <li class="next">
                           <a href="#none">                           
                              <p>관세법 개정에 따른 관세 감면률 변경</p>
                              <strong>다음글 <i class="icon btn-arrow-right x-small"></i></strong>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>               
               <div class="btn-area btn-end">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">목록</button>
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>