<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">전자상거래 신고 상세 조회</h3>       
            <h4 class="sr-only">빈텍스트</h4>     
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu active" title="선택됨">수입신고공통사항</button>
                  <button class="tab-menu">수입신고 거래내역</button>
                  <button class="tab-menu">제출서류내역</button>                                                                                                                                          
               </div>  
               <h5 class="title-type3">수입신고공통사항</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">신고번호</strong>   
                           <div class="inp-box">
                              <p class="txt">4062025000001M</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">신고일자</strong>   
                           <div class="inp-box">
                              <p class="txt">2025-04-28</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">신고인 상호 및 성명</strong>   
                           <div class="inp-box">
                              <p class="txt">‘관세법인제일인천공항지점’, ‘박중석’</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">신고인 전화번호</strong>   
                           <div class="inp-box">
                              <p class="txt">0327166152</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">징수형태</strong>   
                           <div class="inp-box">
                              <p class="txt">신고,수리전납부</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">M B/L-H B/L</strong>   
                           <div class="inp-box">
                              <p class="txt">HDFC25E6902111A – 598941000000</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">입항일자</strong>   
                           <div class="inp-box">
                              <p class="txt">2025-01-01</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">특송업체명</strong>   
                           <div class="inp-box">
                              <p class="txt">(주)제빅스로지스틱스</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">운송용기</strong>   
                           <div class="inp-box">
                              <p class="txt">벌크</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">선(기)명</strong>   
                           <div class="inp-box">
                              <p class="txt">OZ588</p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">국내도착함</strong>   
                           <div class="inp-box">
                              <p class="txt">제주항</p>
                           </div>                                                                     
                        </li>                        
                        <li class="col2 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>처리상태</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico">전화번호 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">전화번호</strong>
                                          <div class="tooltip-contents">
                                             <p>042-1234-1234</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <strong class="txt cl-1">신고수리</strong>
                           </div>                         
                        </li>              
                     </ul>                  
                  </div>
               </div>
               <div class="btn-area btn-end btn-area-type">
                  <div class="align">
                     <button type="button" class="btn tertiary medium">필증출력</button>
                     <button type="button" class="btn tertiary medium">보완서류등록</button>
                     <div class="full-btn">
                        <button type="button" class="btn tertiary medium">수입신고 정정이력</button>
                     </div>
                  </div>
               </div>    
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>