<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">전자상거래 수입신고 정정이력 조회</h3>    
            <h4 class="sr-only">빈텍스트</h4>        
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="search-box"> 
                  <ul>
                     <li class="col1">
                        <strong class="tit">정정신청일자</strong>
                        <div class="search-area">
                           <div class="calendar">
                              <div class="calendar-form" data-ui="datepicker" data-props="maxInput: '#endDate'">
                                 <input id="startDate" type="text" title="시작날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn">시작 달력보기</button>
                              </div>
                              <i class="hy">~</i>
                              <div class="calendar-form" data-ui="datepicker" data-props="minInput: '#startDate'">
                                 <input id="endDate" type="text" title="종료날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn">종료 달력보기</button>
                              </div>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_1">
                              <label class="form-chip-outline" for="chk_chip_1">당일</label>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_2">
                              <label class="form-chip-outline" for="chk_chip_2">1개월</label>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_3">
                              <label class="form-chip-outline" for="chk_chip_3">6개월</label>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_4">
                              <label class="form-chip-outline" for="chk_chip_4">1년</label>
                           </div>
                        </div>                        
                     </li>       
                     <li class="col2">
                        <label class="tit" for="ex1">수입신고번호</label>
                        <div class="search-area">
                            <div class="form-group medium mw-360">                     
                              <div class="form-conts">
                                 <input type="text" class="input" id="ex1" placeholder="내용을 입력해주세요." title="수입신고번호 입력해주세요">
                              </div>                              
                           </div> 
                        </div>                        
                     </li>                     
                    <li class="col2">
                        <label class="tit" for="ex3">정정신청구분</label>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                  
                              <div class="form-conts">
                                 <select class="form-select" id="ex3" required="" title="정정신청구분 선택해주세요">
                                 <option value="" selected="" disabled="" hidden="">전체</option>
                                 <option value="항목1">항목1</option>
                                 <option value="항목2">항목2</option>
                                 <option value="항목3">항목3</option>
                                 </select>
                              </div>                              
                           </div>
                        </div>                        
                     </li>
                   <li class="col2">
                        <label class="tit" for="ex4">신고처리상태</label>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                  
                              <div class="form-conts">
                                 <select class="form-select" id="ex4" required="" title="신고처리상태 선택해주세요">
                                 <option value="" selected="" disabled="" hidden="">전체</option>
                                 <option value="항목1">항목1</option>
                                 <option value="항목2">항목2</option>
                                 <option value="항목3">항목3</option>
                                 </select>
                              </div>                              
                           </div>
                        </div>                        
                     </li>                     
                  </ul>
                  <div class="btn-area btn-end">
                     <div class="align">
                        <button type="button" class="btn tertiary medium">초기화</button>
                        <button type="button" class="btn secondary medium">조회</button>                        
                     </div>
                  </div>
               </div>                     
               <div class="board-top tbl-top">
                  <div class="left-box">
                     <strong class="tit top-txt">전체<strong>240</strong>개</strong>
                     <div class="top-txt">
                        <select class="form-select-sort large" title="정보 구분 선택">                           
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                        </select>
                     </div>                     
                  </div>                  
               </div>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>전자상거래 수입신고 정정이력 조회에 대한 표로 수입신고번호,정정신청구분,신고처리상태,귀책사유 대상,정정신청사유 로 구성되어있다.</caption>
                        <colgroup>
                           <col style="width:14.0625%;">                                                      
                           <col style="width:9.375%;">                                                      
                           <col style="width:9.375%;">                                                      
                           <col style="width:9.375%;">                                                      
                           <col style="width:57.8125%;">                                                      
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">수입신고번호</th>                                                                                        
                              <th scope="col">정정신청구분</th>                                                                                        
                              <th scope="col">신고처리상태</th>                                                                                        
                              <th scope="col">귀책사유 대상</th>                                                                                        
                              <th scope="col">정정신청사유</th>                                                                                        
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>수입신고오류(HS오류, 수량ㆍ단위오류, 품명정정, 검역증번호오류 등)</td>                                                            
                           </tr>                                                                                                                                                                                                                                                                                                 
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>
                           <tr>
                              <td>2347814901791U</td>                                                            
                              <td>일반정정</td>                                                            
                              <td>처리완료</td>                                                            
                              <td>신고인</td>                                                            
                              <td>징수형태변경</td>                                                            
                           </tr>                                                                                                                                                                                                                                                                                                 
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">수입신고번호</strong>
                                 <span class="txt">2512814901791U</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">정정신청구분</strong>
                                 <span class="txt">일반정정</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">판매업체 상호</strong>
                                 <span class="txt">아마존글로벌스토어 등</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">신고처리상태</strong>
                                 <span class="txt">처리완료</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">귀책사유대상</strong>
                                 <span class="txt">신고인</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">정정신청사유</strong>
                                 <span class="txt">수입신고오류(HS오류, 수량·단위오류, 품명정정, 검역증번호오류 등)</span>
                              </li>                                                                                                                                                                                                               
                           </ul>
                        </li>  
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <strong class="title">수입신고번호</strong>
                                 <span class="txt">2512814901791U</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">정정신청구분</strong>
                                 <span class="txt">일반정정</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">판매업체 상호</strong>
                                 <span class="txt">아마존글로벌스토어 등</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">신고처리상태</strong>
                                 <span class="txt">처리완료</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">귀책사유대상</strong>
                                 <span class="txt">신고인</span>
                              </li>                                                                                                                                                                                                               
                              <li>
                                 <strong class="title">정정신청사유</strong>
                                 <span class="txt">수입신고오류(HS오류, 수량·단위오류, 품명정정, 검역증번호오류 등)</span>
                              </li>                                                                                                                                                                                                               
                           </ul>
                        </li>                                               
                     </ul>
                  </div>
               </div>
               <div class="pagination pagination-type1">               
                  <button class="page-navi prev" disabled="">이전</button>
                  <div class="page-links">
                     <a class="page-link mobile-link" href="#">1</a>
                     <span class="page-link link-dot mobile-dot"></span>
                     <a class="page-link" href="#">2</a>
                     <a class="page-link" href="#">3</a>
                     <a class="page-link" href="#">4</a>
                     <a class="page-link mobile-link" href="#">5</a>
                     <a class="page-link active mobile-link" href="#"><span class="sr-only">현재페이지 </span>6</a>                  
                     <a class="page-link mobile-link" href="#">7</a>
                     <a class="page-link" href="#">8</a>
                     <a class="page-link" href="#">9</a>
                     <span class="page-link link-dot"></span>
                     <a class="page-link mobile-link" href="#">120</a>
                  </div>
                  <button class="page-navi next">다음</button>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>