<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">해외직구 환급신청</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 1</span><i>/</i>Step 3</strong>
                  <h4 class="tit">환급신청 기본정보</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 1</i>
                              <span class="step-tit">기본정보 입력</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">환급물품 정보</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 3</i>
                              <span class="step-tit">제출서류 등록</span>
                        </span>
                     </li>                     
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>
                        <li class="col2">
                           <label for="ex1" class="tit">이름 <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-390">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex1" value="홍길동" disabled="" title="이름 확인할수있습니다">
                                 </div>                           
                              </div>
                           </div>  
                        </li>
                        <li class="col2">
                           <label for="ex2" class="tit">개인통관고유부호 <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-390">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex2" value="P123456789123" disabled="" title="개인통관고유부호 확인할수있습니다">
                                 </div>                           
                              </div>
                           </div>  
                        </li>
                        <li class="col1">
                           <label for="ex3" class="tit">휴대전화번호</label>
                           <div class="inp-box nowrap-list-type1">
                              <div class="form-group medium mw-140">                  
                                 <div class="form-conts">
                                    <select class="form-select" id="ex3" required="" title="첫번쨰 번호를 선택해주세요">
                                       <option value="" disabled="" hidden="" selected="">없음</option>
                                       <option value="010">010</option>                                 
                                    </select>
                                 </div>                           
                              </div>
                              <i class="hy">-</i>
                              <div class="form-group medium mw-140">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" placeholder="1234" title="두번째 번호를 입력해주세요">
                                 </div>                           
                              </div>     
                              <i class="hy">-</i>
                              <div class="form-group medium mw-140">                     
                                 <div class="form-conts">
                                 <input type="text" class="input" placeholder="1234" title="세번째 번호를 입력해주세요">
                                 </div>                          
                              </div>   
                           </div>                            
                        </li>
                        <li class="col1 address-list">
                           <label for="ex4" class="tit">기본 주소 <i class="compulsory">필수</i></label>
                           <div class="inp-box nowrap-list">
                              <div class="form-group medium first-add mw-140">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex4" disabled="" title="우편번호를 확인해주세요" placeholder="우편번호">
                                 </div>                              
                              </div>
                              <button type="button" class="btn secondary medium ico">우편번호 검색 <i class="icon search-type1 medium"></i></button>
                              <div class="form-group medium last-add mw-704">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" disabled="" title="주소를 확인해주세요" placeholder="시도/시/군/구">
                                 </div>                              
                              </div>
                           </div>  
                        </li>
                        <li class="col1">
                           <label for="ex5" class="tit">상세 주소 <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-1018">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex5" title="상세주소를 입력해주세요" placeholder="상세주소">
                                 </div>                             
                              </div>
                           </div>  
                        </li>
                        <li class="col2 address-list">
                           <label for="ex6" class="tit">환급 지급은행 <i class="compulsory">필수</i></label>
                           <div class="inp-box nowrap-list">
                              <div class="form-group medium first-add mw-140">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex6" title="환급 지급은행 입력해주세요" value="032">
                                 </div>                              
                              </div>
                              <button type="button" class="btn secondary medium ico"><i class="icon search-type1 medium"></i></button>
                              <div class="form-group medium last-add mw-372">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" disabled="" title="환급 지급은행 확인해주세요" value="하나은행">
                                 </div>                              
                              </div>
                           </div>  
                           <p class="advice-txt">본인 명의 통장만 환급금 지급이 가능합니다.</p>
                        </li>
                        <li class="col2">
                           <label for="ex7" class="tit">계좌번호 <i class="compulsory">필수</i></label>
                           <div class="inp-box">
                              <div class="form-group medium mw-390">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex7" placeholder="1234123-1234123" title="계좌번호 입력해주세요">
                                 </div>                           
                              </div>
                           </div>  
                        </li>
                        <li class="col1">
                           <label for="ex8" class="tit">지급계좌 실명번호</label>
                           <div class="inp-box">
                              <div class="form-group medium mw-390">                     
                                 <div class="form-conts">
                                    <input type="text" class="input" id="ex8" placeholder="1234123-1234123" title="지급계좌 실명번호1 입력해주세요">
                                 </div>                           
                              </div>
                           </div>  
                           <p class="advice-txt">주민등록번호, 외국인등록번호(Alien Number)</p>
                        </li>                        
                     </ul>                  
                  </div>   
               </div>
               <div class="btn-area btn-between btn-area-type">
                  <div class="align">            
                     <div class="full-btn">
                        <button type="button" class="btn tertiary large">목록</button>               
                     </div>                
                  </div>
                  <div class="align">      
                     <div class="full-btn">
                        <button type="button" class="btn secondary large">임시저장</button>
                        <button type="button" class="btn primary large btn-margin" disabled>다음</button>                 
                     </div>                                           
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>