
<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->      
            <h3 class="head-tit">개인통관고유부호 조회</h3>    
            <h4 class="sr-only">빈텍스트</h4>        
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">               
               <h5 class="title-type1">홍길동님의 개인통관고유부호는<strong class="cl-7">P240000000000</strong>이고 유효기간 만료일은<strong class="cl-7">2026.01.01</strong>까지 입니다.</h5>           
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">개인통관고유부호</strong>   
                           <div class="inp-box">
                              <p class="txt"><a href="#none" title="개인통관고유부호 복사" class="copy">P2400000000000 <i class="icon copy small"></i></a></p>
                           </div>                                                                     
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">유효기간</strong>
                           <div class="inp-box">
                              <p class="txt">2025.01.01 ~ 2026.01.01</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">국적</strong>
                           <div class="inp-box">
                              <p class="txt">대한민국</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">주민등록번호</strong>
                           <div class="inp-box">
                              <p class="txt">921230-1******</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">한글성명</strong>
                           <div class="inp-box">
                              <p class="txt">홍길동</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">영문성명</strong>
                           <div class="inp-box">
                              <p class="txt">Hong Gil Dong</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>전화번호</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico">전화번호 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">전화번호</strong>
                                          <div class="tooltip-contents">
                                             <p>042-1234-1234</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <p class="txt">042-1234-1234</p>
                           </div>                         
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">휴대전화번호</strong>
                           <div class="inp-box">
                              <p class="txt">010-1234-1234</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>이메일 주소</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico">이메일 주소 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">이메일 주소</strong>
                                          <div class="tooltip-contents">
                                             <p>hong123@naver.com</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <p class="txt">hong123@naver.com</p>
                           </div>                         
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">부호상태</strong>
                           <div class="inp-box">
                              <p class="txt">사용</p>
                           </div>                        
                        </li>                     
                        <li class="col2 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>재발급 횟수</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico">재발급 횟수 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">재발급 횟수</strong>
                                          <div class="tooltip-contents">
                                             <p>텍스트</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <p class="txt">3회</p>
                           </div>                         
                        </li>
                        <li class="col2 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>일회용인증부호 발급알림</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico">일회용인증부호 발급알림 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">재발급 횟수</strong>
                                          <div class="tooltip-contents">
                                             <p>텍스트</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <p class="txt">동의함</p>
                           </div>                         
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">해외직구신고/신청 결과 알림</strong>
                           <div class="inp-box">
                              <p class="txt">동의함</p>
                           </div>                        
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">해외직구 통관알림</strong>
                           <div class="inp-box">
                              <p class="txt">동의하지 않음</p>
                           </div>                        
                        </li>                     
                        <li class="col1 txt-list">
                           <strong class="tit">개인통관고유부호 사용알림</strong>
                           <div class="inp-box">
                              <p class="txt">동의하지 않음</p>
                           </div>                        
                        </li>                     
                     </ul>                  
                  </div>
               </div>
               <div class="btn-area btn-end btn-area-type fpc">
                  <div class="align">                     
                     <button type="button" class="btn tertiary medium">해지</button>
                     <button type="button" class="btn tertiary medium">사용정지</button>
                     <button type="button" class="btn tertiary medium">갱신</button>
                     <button type="button" class="btn tertiary medium">부호변경</button>                                          
                     <button type="button" class="btn secondary medium">정보변경</button>
                  </div>
               </div>

               <div class="btn-area btn-end btn-area-type fmo">
                  <div class="align">
                     <div class="full-btn">
                        <button type="button" class="btn secondary medium">정보변경</button>
                     </div>
                     <button type="button" class="btn tertiary medium">사용정지</button>
                     <button type="button" class="btn tertiary medium">갱신</button>
                     <button type="button" class="btn tertiary medium">부호변경</button>                     
                     <button type="button" class="btn tertiary medium">해지</button>
                  </div>
               </div>
               <h5 class="add-title">배송 주소
                  <span class="txt">주소는 최대 20개 까지 등록 가능합니다.
                     <span class="num-area">
                           <strong class="number">3개</strong>
                           <strong class="max-num">/20개</strong>
                     </span>
                  </span>
               </h5>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>배송 주소에 대한 NO,배송지명,우편번호,기본주소,상세주소 표로 로 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">
                           <col style="width: 15.625%;">
                           <col style="width: 9.375%;">                           
                           <col style="width: 34.375%;">
                           <col style="width: 34.375%;">
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">NO</th>
                              <th scope="col"><span class="arr-ico">배송지명 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>
                              <th scope="col">우편번호</th>
                              <th scope="col">기본주소</th>
                              <th scope="col">상세주소</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>2</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>3</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>4</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>5</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>6</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>7</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>8</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>9</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>
                           <tr>
                              <td>10</td>
                              <td><p class="tb-title text-left">우리집1우리집1우리집1우리집1우리집1</p></td>
                              <td>35351</td>
                              <td><p class="tb-title text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123대전광역시 서구 월평동123대전광역시 서구 월평동123</p></td>                        
                              <td><p class="tb-title text-left">우리집빌라 301호우리집빌라 301호우리집빌라 301호우리집빌라 301호</p></td>                        
                           </tr>                           
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body box-line">
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>                                                                                                                     
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>                                                                                                                     
                     </ul>
                  </div> 
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 개인통관고유부호 조회/정보변경 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 조회/정보변경</button>   
                  <div id="modal1" class="modal d-none" data-ui="modal">
                     <div class="modal-wrap mw-760">
                        <div class="modal-header">
                           <h5>개인통관고유부호 조회/정보변경</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="txt-type">개인통관고유부호 사용정지/사용정지 해제 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                           </div>
                           <div class="modal-cont">
                              <div class="txt-box-type">
                                 <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                                 <div class="form-check">
                                    <input type="checkbox" name="chk_1" id="chk_1">
                                    <label for="chk_1">확인</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn modal-close tertiary medium">닫기</button>
                              <button type="button" class="btn primary medium">사용정지</button>
                        </div>
                     </div>
                  </div> 
                  <!-- // 개인통관고유부호 조회/정보변경 -->
                  <!-- 개인통관고유부호 부호변경 -->
                  <button type="button" data-modal-target="#modal2" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 조회/정보변경</button>
                  <div id="modal2" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>개인통관고유부호 조회/정보변경</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">                                    
                              <p class="txt-type">개인통관고유부호 재발급을 위하여 별도의 업무페<br>이지로 이동됩니다.</p>
                           </div>                                  
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn tertiary medium">취소</button>
                           <button type="button" class="btn primary medium">확인</button>
                        </div>
                     </div>
                  </div>               
                  <!-- // 개인통관고유부호 부호변경 -->
               </div>
               <!-- // 팝업 사용후 삭제해주세요 -->
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>