<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">통관현황</h3>    
            <h4 class="sr-only">빈텍스트</h4>        
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu active" title="선택됨">금액</button>
                  <button class="tab-menu">건수</button>                  
               </div>
               <h5 class="title-type3">개인 통관현황</h5>
               <div class="wrap-customs-info">
                  <div class="left-box">
                     <strong class="tit">최근 1년간 가장<br> 관세납부합계가 높은 월은 ?</strong>
                     <div class="data-box">
                        <strong class="data">2025년 11월</strong>
                        <strong class="customs-num">2,300,000</strong>
                        <span class="unit">(단위 : 원)</span>
                     </div>
                  </div>
                  <div class="right-box">
                     <strong class="tit">가장 많이 사용한 월 금액 Top 5</strong>
                     <ul class="customs-list">
                        <li><div class="customs-box"><strong class="num">1.</strong><span class="data">2025년 11월</span><span class="customs-num w-100">1,230,000</span></div></li>
                        <li><div class="customs-box"><strong class="num">2.</strong><span class="data">2025년 11월</span><span class="customs-num w-100">99,500</span></div></li>
                        <li><div class="customs-box"><strong class="num">3.</strong><span class="data">2025년 11월</span><span class="customs-num w-100">99,500</span></div></li>
                        <li><div class="customs-box"><strong class="num">4.</strong><span class="data">2025년 11월</span><span class="customs-num w-100">190,000</span></div></li>
                        <li><div class="customs-box"><strong class="num">5.</strong><span class="data">2025년 11월</span><span class="customs-num w-100">150,000</span></div></li>
                     </ul>
                  </div>
               </div>
               <div class="wrap-graph">
                  <div class="board-top title-top type1">
                     <div class="left-box">
                        <h5 class="title-type4 font-2">통계 조회 기간 <span>2025년 6월 ~ 2026년 6월</span></h5>      
                     </div>   
                     <div class="right-box">
                        <div class="form-toggle-switch medium">
                           <input type="checkbox" id="ex1" checked>
                           <label for="ex1">표로 보기</label>
                        </div>                        
                     </div>               
                  </div>
                  <div class="graph-box">
                     <div class="wrap-cont-tbl">
                        <div class="table-wrap scorll">
                           <table class="tbl col cont">
                              <caption>통계 조회 기간 표로 구분,통관금액,년도로 구성되어있다.</caption>
                              <colgroup>
                                 <col style="width:120px;" span="13">                                        
                              </colgroup>
                              <thead>                                          
                                 <tr class="line2 tr-first">                                                
                                    <th scope="col" class="text-left">구분</th>                                                                     
                                    <th scope="col">2025년 1월</th>
                                    <th scope="col">2025년 2월</th>
                                    <th scope="col">2025년 3월</th>
                                    <th scope="col">2025년 4월</th>
                                    <th scope="col">2025년 5월</th>
                                    <th scope="col">2025년 6월</th>
                                    <th scope="col">2025년 7월</th>
                                    <th scope="col">2025년 8월</th>
                                    <th scope="col">2025년 9월</th>
                                    <th scope="col">2025년 10월</th>
                                    <th scope="col">2025년 11월</th>                                                                     
                                    <th scope="col" class="bor-right-no">2025년 12월</th>                                                                     
                                 </tr>                           
                              </thead>
                              <tbody>
                                  <tr>
                                    <th scope="col">홍길동님의<br> 통관금액</th>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                    <td>250000</td>
                                  </tr>                                                                                                                                                                                                                                                        
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>   
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>