<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">Transaction Information submission status details</h3>            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col2 txt-list mw-640">
                           <strong class="tit">
                              <strong>Submitting<br>company name</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">해외EC물품판매업체</p>
                           </div>   
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>Submission<br>method</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">Rest API</p>
                           </div>   
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>Submission<br>number</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">123456789-250316-000003</p>
                           </div>   
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>Number of<br>submissions</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">300</p>
                           </div>   
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>1st verification<br>error</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">N</p>
                           </div>   
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>1st Verification<br>Processing Status</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">1. 접수완료</p>
                           </div>   
                        </li>
                        <li class="col2 txt-list">
                           <ul class="d-flex w100per">
                              <li class="col2 txt-list b-bottom-n">
                                 <strong class="tit">
                                    <strong>2st verification<br>error</strong>
                                 </strong>
                                 <div class="inp-box">
                                    <p class="txt">Y</p>
                                 </div>   
                              </li>
                              <li class="col2 txt-list b-bottom-n">
                                 <strong class="tit">
                                    <strong>Number of errors</strong>
                                 </strong>
                                 <div class="inp-box">
                                    <p class="txt">25</p>
                                 </div>   
                              </li>
                           </ul>                           
                        </li>                        
                        <li class="col2 txt-list">
                           <strong class="tit">
                              <strong>2st Verification<br>Processing Status</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">4. 부분오류반려</p>
                           </div>   
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>Submission date<br>and time</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">2025-03-15  13:10:25</p>
                           </div>   
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>Original file<br>submitted</strong>
                           </strong>
                           <div class="inp-box">
                              <ul class="addmore-list">
                                 <li class="gap0">
                                    <p class="title wauto">123456789-250315-000002.json</p>
                                    <p class="txt"><button class="btn text medium ml-0">download<i class="icon download medium ml-5"></i></button></p>
                                 </li>                                                                           
                              </ul>
                           </div>   
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>Error file</strong>
                           </strong>
                           <div class="inp-box">
                              <ul class="addmore-list">
                                 <li class="gap0">
                                    <p class="title wauto">123456789-250315-000002-err.json</p>
                                    <p class="txt"><button class="btn text medium ml-0">download<i class="icon download medium ml-5"></i></button></p>
                                 </li>                                                                           
                              </ul>
                           </div>   
                        </li>                                                                               
                     </ul>                  
                  </div>                              
               </div> 
               <h5 class="title-type3">Transaction Information registration status</h5>
               <div class="wrap-cont-tbl">
                  <div class="table-wrap">
                     <table class="tbl col cont">
                        <caption>Transaction Information submission status</caption>
                        <colgroup>
                           <col style="width:180px;">                                  
                           <col style="width:180px;">                                  
                           <col style="width:180px;">                                  
                           <col style="width:180px;">                                  
                           <col style="width:180px;">                                  
                           <col style="width:180px;">                                  
                           <col style="width:200px;">                                                             
                        </colgroup>
                        <thead>                                          
                           <tr>                                                                                              
                              <th scope="col" class="b-left-1">Number of<br>submissions</th>                                                                                                                                 
                              <th scope="col">Number of<br>registrations</th>                                                                                                                                 
                              <th scope="col">Number of errors</th>                                                                                                                                 
                              <th scope="col">Number of waybills</th>                                                                                                                                 
                              <th scope="col">Number of orders</th>                                                                                                                                 
                              <th scope="col">Number of products</th>                                                                                                                                 
                              <th scope="col" class="b-right-1">Total amount</th>                                                                                                                                                               
                           </tr>                                                      
                        </thead>
                        <tbody>                           
                           <tr>
                              <td>300</td>
                              <td>275</td>
                              <td>25</td>
                              <td>280</td>
                              <td>290</td>
                              <td>1,200</td>
                              <td>43,750,000</td>
                           </tr>                                                                                                                                                                                                                                                                              
                        </tbody>
                     </table>
                  </div>
               </div>
               <h5 class="title-type3">Error details</h5>
               <div class="txt-box-type type2">
                  <p class="title-type dotted-line-bottom w100per mt-0">A data validation error occurred in the submitted transaction Information JSON file.</p>
                  <p class="cl-2 d-flex f-align-center"><i class="icon danger medium mr-5"></i>Please download the “error file” or check the “error details” to see detailed error Information, correct the error, and resubmit.</p>
               </div>



            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->

   </div>
</body>
</html>