<!DOCTYPE html>
<html>
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">User management</h3>            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <h5 class="title-type3">Login Information</h5>     
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                         
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>Manager ID</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">shuhan</p>
                           </div>   
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>Email Address</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">zhugeliang@shuhan.com</p>
                           </div>   
                        </li>
                        <li class="col1 txt-list">
                           <strong class="tit">
                              <strong>e-Commerce Code</strong>
                           </strong>
                           <div class="inp-box">
                              <p class="txt">F25123456</p>
                           </div>   
                        </li>                                                       
                     </ul>                  
                  </div>                     
               </div>
               <h5 class="title-type3">Company employee management</h5>    
               <div class="wrap-check-tbl">
                  <div class="table-wrap">
                     <table class="tbl col check">
                        <caption>Company employee management</caption>
                        <colgroup>
                           <col style="width: 60px;">                           
                           <col style="width: 160px;">                           
                           <col style="width: 240px;">
                           <col style="width: 150px;">
                           <col style="width: 140px;">
                           <col style="width:380px;">                                                      
                           <col style="width:150px;">                                                      
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col"></th>
                              <th scope="col">ID</th>                              
                              <th scope="col">Email</th>                              
                              <th scope="col">User Name</th>                              
                              <th scope="col">Activation</th>                              
                              <th scope="col">Remark</th>       
                              <th scope="col">Application date</th>       
                                   
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk1">
                                    <label for="chk1"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>shuhan01</td>                              
                              <td>zhangfei@shuhan.com</td> 
                              <td>Zhang Fei</td> 
                              <td>
                                 <div class="form-group medium">                  
                                    <div class="form-conts">
                                       <select class="form-select" required="">
                                          <option value="" disabled="" hidden="">Activation</option>
                                          <option value="Yes" selected="">Yes</option>
                                          <option value="No">No</option>                                          
                                       </select>
                                    </div>                                    
                                 </div>
                              </td> 
                              <td>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input">
                                    </div>                                    
                                 </div>
                              </td> 
                              <td>2025-04-05</td> 
                           </tr>  
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk2">
                                    <label for="chk2"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>shuhan02</td>                              
                              <td>zhangfei@shuhan.com</td> 
                              <td>Zhang Fei</td> 
                              <td>
                                 <div class="form-group medium">                  
                                    <div class="form-conts">
                                       <select class="form-select" required="">
                                          <option value="" disabled="" hidden="">Activation</option>
                                          <option value="Yes">Yes</option>
                                          <option value="No" selected="">No</option>                                          
                                       </select>
                                    </div>                                    
                                 </div>
                              </td> 
                              <td>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input">
                                    </div>                                    
                                 </div>
                              </td> 
                              <td>2025-04-05</td> 
                           </tr>   
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="checkbox" id="chk3">
                                    <label for="chk3"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>shuhan03</td>                              
                              <td>zhangfei@shuhan.com</td> 
                              <td>Zhang Fei</td> 
                              <td>New</td> 
                              <td>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input">
                                    </div>                                    
                                 </div>
                              </td> 
                              <td><a href="" title="다운로드"><i class="icon download small"></i></a></td> 
                           </tr>                                                                                                                           
                        </tbody>
                     </table>
                  </div>     
               </div> 

               <div class="paging">
                  <ul>
                     <li class="morePrev on"><a href="#1"><span>첫페이지</span></a></li>
                     <li class="prev"><a href="#10"><span>이전</span></a></li>
                  </ul>
                  <ul class="pages">
                     <li class="selected"><strong>1</strong></li>   
                     <li><a href="#2">2</a></li>
                     <li><a href="#3">3</a></li>
                     <li><a href="#4">4</a></li>
                     <li><a href="#5">5</a></li>
                     <li><a href="#6">6</a></li>
                     <li><a href="#7">7</a></li>
                     <li><a href="#8">8</a></li>
                     <li><a href="#9">9</a></li>
                     <li><a href="#10">10</a></li>
                  </ul>
                  <ul>
                     <li class="next"><a href="#11"><span>다음</span></a></li>
                     <li class="moreNext"><a href="#11"><span>마지막페이지</span></a></li>
                  </ul>
               </div>


               <div class="btn-area btn-between">
                  <div class="align">                        
                     <button type="button" class="btn tertiary medium">Reset Password</button>
                  </div>
                  <div class="align">
                     <button type="button" class="btn tertiary medium">Search</button>
                     <button type="button" class="btn primary medium" disabled>approval</button>
                     <button type="button" class="btn primary medium" disabled>Save</button>
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->

   </div>
</body>
</html>