<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <!-- 휴대폰 인증페이지 -->
   <div id="wrap" class="login aut-pages">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit sr-only">빈텍스트</h3>            
            <h4 class="sr-only">빈텍스트</h4>
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-login">  
                  <h5 class="title-type3">휴대폰 인증</h5>                           
                  <div class="wrap-form-area">
                     <div class="inp-form">
                        <ul>                                       
                           <li class="col1 list1">
                              <label for="ex1" class="tit">이름 <i class="compulsory">필수</i></label>
                              <div class="inp-box">
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" id="ex1" class="input" value="홍길동" title="이름을 입력해주세요">
                                    </div>                           
                                 </div>
                              </div>  
                           </li>  
                           <li class="col1 list2">
                              <label for="ex2" class="tit">주민등록번호 <i class="compulsory">필수</i></label>
                              <div class="inp-box nowrap-list">
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input" id="ex2" value="991231" title="주민등록번호 앞자리를 입력해주세요">
                                    </div>                           
                                 </div>   
                                 <i class="hy">-</i>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">                                    
                                       <input type="text" class="input" title="주민등록번호 뒷자리를 입력해주세요" data-ui="hidden-input" value="1234567" data-props="showNum: 1;numberOnly: true">
                                    </div>                           
                                 </div>   
                              </div>
                              <div class="form-check medium">
                                 <input type="checkbox" id="chk1">
                                 <label for="chk1">가상키패드 사용</label>
                              </div>
                              <div class="txt-box-type type2">                              
                                 <ul class="top-list-box"> 
                                    <li>외국인의 경우 외국인등록번호를 입력해주세요.</li>                     
                                    <li>관세법시행령 제289조에 따라 주민등록번호 수집이 가능합니다.</li>
                                 </ul>
                              </div>
                           </li>   
                           <li class="col1 list3">
                              <label for="ex21" class="tit">자동입력방지코드 <i class="compulsory">필수</i></label>
                              <div class="inp-box">
                                 <div class="box1">
                                    <div class="form-group medium">                     
                                       <div class="form-conts">
                                          <input type="text" disabled class="input" id="ex21" title="자동입력방지코드를 확인할수있습니다">
                                       </div>                                          
                                    </div>          
                                    <button type="button" class="btn text medium">초기화 <i class="icon refresh medium"></i></button>
                                    <button type="button" class="btn text medium">음성 <i class="icon voice medium"></i></button>                                                           
                                 </div>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input" value="123456" title="자동입력방지코드를 입력해주세요">
                                    </div>                                          
                                 </div>                                 
                              </div>
                           </li>                   
                        </ul>                  
                     </div>   
                  </div>     
                  <div class="btn-area btn-end">
                     <div class="align">                        
                        <button type="button" class="btn primary large">인증번호 전송</button>                   
                     </div>
                  </div>      
               </div>

               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 인증 성공 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">인증 성공</button>
                  <div id="modal1" class="modal type1 d-none" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>인증 성공</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="txt-type">휴대폰 인증이 완료되었습니다</p>
                           </div>                           
                        </div>
                        <div class="modal-footer">                              
                              <button type="button" class="btn modal-enter primary medium">확인</button>
                        </div>
                     </div>
                  </div>
                  
                  <!-- 인증 성공 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->


            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>