<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 조회</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 1</span><i>/</i>Step 4</strong>
                  <h4 class="tit">기본 정보 입력</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 1</i>
                              <span class="step-tit">기본정보 입력</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">배송지 주소 등록</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 3</i>
                              <span class="step-tit">알림 동의</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">확인 및 등록</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호 정보변경 방법</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호 정보변경 방법</p>                  
               </div>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <!-- 국민비서 -->
               <div class="mt-50"></div>
               <button type="button" data-modal-target="#modal8" style="width:100%;height:50px;margin-bottom:20px">국민비서</button>   
               <div id="modal8" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760 population-box">
                     <div class="modal-header">
                        <h5>국민비서 가입절차</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <ul class="population-list">
                              <li>
                                 <h5 class="title-type3">1.로그인</h5>                        
                                 <div class="img-box"><img src="../assets/image/population1.png" alt="국민비서 신규가입 로그인 로그인 후 다양한 분야의 알림을 받아보세요 간편인증,모바일 신분증 공동 금융인증서 디지털원패스 민간ID 로그인이용안내"></div>
                                 <p><strong>01</strong>국민비서 사이트 접속 후, 서비스 신청자는 "간편인증·모바일 신분증", "공동·금융인증서", "디지털원패스", "민간ID" 로그인 후 이용 가능합니다.</p>
                              </li>
                              <li>
                                 <h5 class="title-type3">2.개인정보 수집·이용·제공 동의</h5>                        
                                 <div class="img-box"><img src="../assets/image/population2.png" alt="국민비서 서비스 제공을 위한 개인정보 수집.이용.제공 동의서 국민비서 개인정보 수집 및 이용에 대한 동의를 거부하실 권리가 있으며,거부 시 국민비서 알림서비스 신청 및 이용이 제한될 수 있습니다 전체 동의함 동의하지 않음"></div>
                                 <p><strong>01</strong>신규 가입 클릭 후 "국민비서 서비스 제공을 위한 개인정보 수집·이용·제공 동의서"에 관한 동의 화면이 조회됩니다.</p>
                                 <p class="dotted-line-top"><strong>02</strong>약관 전체 동의 체크 후 [확인] 버튼을 선택합니다.</p>
                              </li>
                              <li>
                                 <h5 class="title-type3">3.알림서비스 알림설정</h5>                        
                                 <div class="img-box"><img src="../assets/image/population3.png" alt="땡떙떙님의 등록된 휴대전화번호 땡떙떙입니다. 번호변경 등록된 휴대전화번호는 아래 용도로 사용되며,앱에서 재가입 시 앱에 등록된 휴대전화번호로 자동 변경됩니다. 1.고지 서비스 가입 안내,탈퇴안내 등 각종 서비스 이용안내 사항 2. 수신 채널로 문자 메시지를 선택한 경우,서비스를 문자로 제공"></div>
                                 <p><strong>01</strong>회원정보의 본인 휴대전화번호가 일치하는지 확인합니다.(일치하지 않는 경우 '정보수정'클릭하여 간편인증의 통신사 또는 각 인증업체 정보 확인)</p>
                                 <div class="img-box"><img src="../assets/image/population4.png" alt="알림설정 국민비서 알림 신규서비스 알림"></div>
                                 <p><strong>02</strong>국민비서 알림 중단 및 신규서비스 안내신청을 선택합니다. 서비스 중단 선택시 알림이 오지않고, 알림 서비스 추가, 변경시 안내를 받을 수 있습니다.</p>
                                 <div class="img-box"><img src="../assets/image/population5.png" alt="국민비서 알림 서비스를 수신받을 앱 선택"></div>
                                 <p><strong>03</strong>국민비서 알림 서비스를 수신받을 앱을 선택합니다.(알림 채널 2개까지 선택 가능)</p>
                                 <div class="img-box"><img src="../assets/image/population6.png" alt="선택 민원처리 전자상거래(해외직구)물품통관내역 상세"></div>
                                 <p><strong>04</strong>알림서비스 선택 > 민원처리 > 전자상거래(해외직구) 물품통관내역을 선택합니다.</p>
                                 <p class="dotted-line-top"><strong>05</strong>[설정] 버튼을 선택하여 서비스 가입을 완료합니다.</p>
                              </li>
                           </ul>
                        </div>                                       
                     </div>
                     <div class="modal-footer">   
                        <button type="button" class="btn tertiary medium">신청하지 않고 넘어가기</button>                        
                        <button type="button" class="btn modal-close primary medium">국민비서 알림서비스 신청하기</button>
                     </div>
                  </div>
               </div> 
               <!-- //국민비서 -->         
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>