<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">해외직구 환급신청</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 2</span><i>/</i>Step 3</strong>
                  <h4 class="tit">환급신청 란사항 정보</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="done">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 1</i>
                              <span class="step-tit">기본정보 입력</span>
                        </span>
                     </li>
                     <li class="active">
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">환급물품 정보</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 3</i>
                              <span class="step-tit">제출서류 등록</span>
                        </span>
                     </li>                     
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="txt-box-type type2">
                  <ul class="top-list-box"> 
                     <li>환급신청 할 수출 물품금액이200만원 초과일 경우 반드시 수출신고하여야 환급이 가능합니다.</li>
                     <li>수출신고번호 미 입력 시 환급 신청이 기각될 수 있습니다.</li>
                     <li>환급신청할란번호의 체크박스를 선택한 후 각  규격의 환급신청 할 수량을 입력 후 환급세액을 입력하셔야 신청이 가능합니다.</li>
                  </ul>
               </div>  
               <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>   
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <div class="form-check medium">
                        <input type="checkbox" id="chk_chk1">
                        <label for="chk_chk1"><span class="sr-only">선택</span></label>
                     </div>           
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">란번호</strong>   
                           <div class="inp-box">
                              <p class="txt">001</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col2 txt-list">
                           <strong class="tit">품명</strong>   
                           <div class="inp-box">
                              <p class="txt">TELEVISION 1234567890</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col2 txt-list">
                           <strong class="tit">수입신고번호</strong>   
                           <div class="inp-box">
                              <p class="txt">434124321M</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col2 txt-list">
                           <strong class="tit">관세</strong>   
                           <div class="inp-box">
                              <p class="txt">145,412</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col1 txt-list">
                           <strong class="tit">부가세 등</strong>   
                           <div class="inp-box">
                              <p class="txt">113,421</p>
                           </div>                                                                     
                        </li>                                         
                     </ul>     
                     <!--  해외직구 환급신청 드롭다운 -->
                     <div class="cont-acc-list type1">
                        <div class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">
                           <div class="accordion-header">
                              <a href="javascript: void(0);" class="accordion-btn" title="열기"><i class="icon btn-arrow-down medium"></i></a>
                           </div>
                           <div class="accordion-body d-none">
                              <div class="inp-form">
                                 <ul>                                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">번호</strong>   
                                       <div class="inp-box">
                                          <p class="txt">00101</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">모델 및 규격</strong>   
                                       <div class="inp-box">
                                          <p class="txt">RSG UHD 65 SEREIES 65 INCH CLASS 4K SMART UHD TV</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col2 txt-list">
                                       <strong class="tit">환급가능수량</strong>   
                                       <div class="inp-box">
                                          <p class="txt">1(PC)</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col2 txt-list">
                                       <strong class="tit">신고단가</strong>   
                                       <div class="inp-box">
                                          <p class="txt">1,525.57</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">신고금액</strong>   
                                       <div class="inp-box">
                                          <p class="txt">1,525.57</p>
                                       </div>                                                                     
                                    </li>    
                                    <li class="col1 dotted-line-top solid-line-bottom2">
                                       <label class="tit" for="drop-ex1">환급 신청 수량 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                     
                                             <div class="form-conts">
                                                <input type="text" id="drop-ex1" class="input text-right" value="1" title="환급 신청 수량 입력해주세요">
                                             </div>                           
                                          </div>                                          
                                       </div>                                                                     
                                    </li>                                    
                                    <li class="col1">
                                       <label for="drop-ex4" class="tit">란사항 신청액 합계 <i class="compulsory">필수</i></label>
                                       <div class="inp-box nowrap-list">
                                          <button type="button" class="btn secondary medium return-btn">환급세액입력</button>
                                          <div class="form-group medium mw-390">                     
                                             <div class="form-conts">
                                                <input type="text" class="input text-right" id="drop-ex4" value="140,860" disabled="" title="란사항 신청액 합계 확인할수있습니다">
                                             </div>                           
                                          </div>                                             
                                       </div>
                                       <p class="advice-txt">환급 신청 수량 입력 후 환급세액입력 버튼을 클릭하여 환급세액을 입력 하여야 합니다.</p>                                       
                                    </li>
                                    <li class="col1">
                                       <label class="tit" for="drop-ex2-21">수출신고구분 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <select class="form-select" id="drop-ex2-21" required="" title="수출신고번호 선택해주세요">
                                                <option value="" disabled="" hidden="">수출신고번호를 선택해주세요</option>
                                                <option value="수출신고" selected="">수출신고</option>                              
                                                <option value="수출통관목록">수출통관목록</option>  
                                                </select>
                                             </div>                           
                                          </div>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-11">수출신고번호 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box nowrap-list">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-11" class="input" disabled value="434124321M(선적완료)" title="수출신고번호를 확인해주세요">
                                             </div>                           
                                          </div>
                                          <button type="button" class="btn secondary medium inquiry">조회</button>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-22">수출신고 란번호 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-22" class="input" disabled value="001" title="수출신고 란번호를 확인해주세요">
                                             </div>                           
                                          </div>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-12">수출통관목록번호 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box nowrap-list">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-12" class="input" disabled value="" title="수출통관목록번호를 확인해주세요">
                                             </div>                           
                                          </div>
                                          <button type="button" class="btn secondary medium inquiry">조회</button>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-23">운송장 번호(H.B/L) <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-23" class="input" disabled value="001" title="운송장 번호(H.B/L)를 확인해주세요">
                                             </div>                           
                                          </div>
                                       </div>                                                                     
                                    </li>
                                 </ul> 
                              </div>
                           </div>
                        </div>
                     </div>      
                     <!--  해외직구 환급신청 드롭다운 -->                                    
                  </div>    
                  <div class="inp-form">
                     <div class="form-check medium">
                        <input type="checkbox" id="chk_chk2">
                        <label for="chk_chk2"><span class="sr-only">선택</span></label>
                     </div>           
                     <ul>                                                         
                        <li class="col2 txt-list">
                           <strong class="tit">란번호</strong>   
                           <div class="inp-box">
                              <p class="txt">001</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col2 txt-list">
                           <strong class="tit">품명</strong>   
                           <div class="inp-box">
                              <p class="txt">TELEVISION 1234567890</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col2 txt-list">
                           <strong class="tit">수입신고번호</strong>   
                           <div class="inp-box">
                              <p class="txt">434124321M</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col2 txt-list">
                           <strong class="tit">관세</strong>   
                           <div class="inp-box">
                              <p class="txt">145,412</p>
                           </div>                                                                     
                        </li>                                         
                        <li class="col1 txt-list">
                           <strong class="tit">부가세 등</strong>   
                           <div class="inp-box">
                              <p class="txt">113,421</p>
                           </div>                                                                     
                        </li>                                         
                     </ul>     
                     <!--  해외직구 환급신청 드롭다운 -->
                     <div class="cont-acc-list type1">
                        <div class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">
                           <div class="accordion-header">
                              <a href="javascript: void(0);" class="accordion-btn" title="열기"><i class="icon btn-arrow-down medium"></i></a>
                           </div>
                           <div class="accordion-body d-none">
                              <div class="inp-form">
                                 <ul>                                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">번호</strong>   
                                       <div class="inp-box">
                                          <p class="txt">00101</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">모델 및 규격</strong>   
                                       <div class="inp-box">
                                          <p class="txt">RSG UHD 65 SEREIES 65 INCH CLASS 4K SMART UHD TV</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col2 txt-list">
                                       <strong class="tit">환급가능수량</strong>   
                                       <div class="inp-box">
                                          <p class="txt">1(PC)</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col2 txt-list">
                                       <strong class="tit">신고단가</strong>   
                                       <div class="inp-box">
                                          <p class="txt">1,525.57</p>
                                       </div>                                                                     
                                    </li>                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">신고금액</strong>   
                                       <div class="inp-box">
                                          <p class="txt">1,525.57</p>
                                       </div>                                                                     
                                    </li>    
                                    <li class="col1 dotted-line-top solid-line-bottom2">
                                       <label class="tit" for="drop-ex1-1">환급 신청 수량 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                     
                                             <div class="form-conts">
                                                <input type="text" id="drop-ex1-1" class="input text-right" value="1" title="환급 신청 수량 입력해주세요">
                                             </div>                           
                                          </div>                                          
                                       </div>                                                                     
                                    </li>                                    
                                    <li class="col1">
                                       <label for="drop-ex4-4" class="tit">란사항 신청액 합계 <i class="compulsory">필수</i></label>
                                       <div class="inp-box nowrap-list">
                                          <button type="button" class="btn secondary medium return-btn">환급세액입력</button>
                                          <div class="form-group medium mw-390">                     
                                             <div class="form-conts">
                                                <input type="text" class="input text-right" id="drop-ex4-4" value="0" disabled="" title="란사항 신청액 합계 확인할수있습니다">
                                             </div>                           
                                          </div>                                             
                                       </div>
                                       <p class="advice-txt">환급 신청 수량 입력 후 환급세액입력 버튼을 클릭하여 환급세액을 입력 하여야 합니다.</p>                                       
                                    </li>
                                    <li class="col1">
                                       <label class="tit" for="drop-ex2-22">수출신고구분 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <select class="form-select" id="drop-ex2-22" required="" title="수출신고번호 선택해주세요">
                                                <option value="" disabled="" hidden="">수출신고번호를 선택해주세요</option>
                                                <option value="수출신고" selected="">수출신고</option>                              
                                                <option value="수출통관목록">수출통관목록</option>  
                                                </select>
                                             </div>                           
                                          </div>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-13">수출신고번호 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box nowrap-list">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-13" class="input" disabled value="434124321M(선적완료)" title="수출신고번호를 확인해주세요">
                                             </div>                           
                                          </div>
                                          <button type="button" class="btn secondary medium inquiry">조회</button>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-24">수출신고 란번호 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-24" class="input" disabled value="001" title="수출신고 란번호를 확인해주세요">
                                             </div>                           
                                          </div>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-14">수출통관목록번호 <i class="compulsory">필수</i></label>   
                                       <div class="inp-box nowrap-list">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-14" class="input" disabled value="" title="수출통관목록번호를 확인해주세요">
                                             </div>                           
                                          </div>
                                          <button type="button" class="btn secondary medium inquiry">조회</button>
                                       </div>                                                                     
                                    </li>
                                    <li class="col2">
                                       <label class="tit" for="new-21">운송장 번호(H.B/L) <i class="compulsory">필수</i></label>   
                                       <div class="inp-box">
                                          <div class="form-group medium mw-390">                  
                                             <div class="form-conts">
                                                <input type="text" id="new-21" class="input" disabled value="001" title="운송장 번호(H.B/L)를 확인해주세요">
                                             </div>                           
                                          </div>
                                       </div>                                                                     
                                    </li>
                                 </ul> 
                              </div>
                           </div>
                        </div>
                     </div>      
                     <!--  해외직구 환급신청 드롭다운 -->                                    
                  </div>    
                  <div class="total-area">
                     <p>신청액 합계</p>
                     <strong>145,060<span>원</span></strong>
                  </div>                         
               </div>  
               <div class="btn-area btn-between btn-area-type pc">
                  <div class="align">                     
                     <button type="button" class="btn tertiary large">이전</button>
                     <button type="button" class="btn tertiary large">목록</button>
                  </div>
                  <div class="align">
                     <button type="button" class="btn tertiary large">미리보기</button>                     
                     <button type="button" class="btn secondary large">임시저장</button>
                     <button type="button" class="btn primary large" disabled>다음</button>                     
                  </div>
               </div>

               <div class="btn-area btn-between btn-area-type mo">
                  <div class="align">                     
                     <div class="full-btn">
                        <button type="button" class="btn tertiary large">목록</button>
                     </div>
                     <button type="button" class="btn tertiary large">미리보기</button>                     
                     <button type="button" class="btn secondary large">임시저장</button>                     
                  </div>
                  <div class="align">                     
                     <button type="button" class="btn tertiary large btn-margin">이전</button>                     
                     <button type="button" class="btn primary large btn-margin" disabled>다음</button>                     
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>