<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">환급신청 처리결과 상세조회</h3>      
            <h4 class="sr-only">빈텍스트</h4>      
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호란?</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호란?</p>                  
               </div>
            </div>                                                      
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu active" title="선택됨">기본정보</button>
                  <button class="tab-menu">물품정보</button>
                  <button class="tab-menu">환급세액</button>
                  <button class="tab-menu">제출서류</button>                  
               </div>  
               <h5 class="title-type3">환급신청 기본정보</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">이름</strong>
                           <div class="inp-box">
                              <p class="txt">홍길동</p>
                           </div>                        
                        </li>                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">주민등록번호</strong>
                           <div class="inp-box">
                              <p class="txt">991231 – 1******</p>
                           </div>                        
                        </li>                                                             
                        <li class="col1 txt-list">
                           <strong class="tit">휴대전화번호</strong>
                           <div class="inp-box">
                              <p class="txt">010-1234-1234</p>
                           </div>                        
                        </li>                                                             
                        <li class="col1 txt-list">
                           <strong class="tit">주소</strong>
                           <div class="inp-box">
                              <p class="txt">(35353) 대전광역시 서구 월평동로123-12 월평빌라301호</p>
                           </div>                        
                        </li>                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">환급신청세관</strong>
                           <div class="inp-box">
                              <p class="txt">인천공항세관</p>
                           </div>                        
                        </li>                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">환급지급은행</strong>
                           <div class="inp-box">
                              <p class="txt">하나은행</p>
                           </div>                        
                        </li>                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">계좌번호</strong>
                           <div class="inp-box">
                              <p class="txt">(실명인증완료) ***-******-*****</p>
                           </div>                        
                        </li>                                                             
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">환급신청 처리정보</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">환급신청번호</strong>
                           <div class="inp-box">
                              <p class="txt">118521200056X</p>
                           </div>                        
                        </li> 
                        <li class="col2 txt-list">
                           <strong class="tit">신청일자</strong>
                           <div class="inp-box">
                              <p class="txt">2025-05-12</p>
                           </div>                        
                        </li> 
                        <li class="col2 txt-list">
                           <strong class="tit">환급번호</strong>
                           <div class="inp-box">
                              <p class="txt">021641201266</p>
                           </div>                        
                        </li> 
                        <li class="col2 txt-list">
                           <strong class="tit">환급신청금액</strong>
                           <div class="inp-box">
                              <p class="txt">10,000,000 원</p>
                           </div>                        
                        </li> 
                        <li class="col2 txt-list">
                           <strong class="tit">처리세관</strong>
                           <div class="inp-box">
                              <p class="txt">인천공항세관</p>
                           </div>                        
                        </li> 
                        <li class="col2 txt-list">
                           <strong class="tit">처리과</strong>
                           <div class="inp-box">
                              <p class="txt">환급심사과</p>
                           </div>                        
                        </li> 
                        <li class="col1 txt-list dotted-line-top">
                           <strong class="tit">처리상태</strong>   
                           <div class="inp-box">
                              <strong class="txt cl-2">기각</strong>
                           </div>                                                                     
                        </li>
                     </ul>                  
                  </div>
               </div>
               <h5 class="title-type3">환급신청 기각사유</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">기각일시</strong>
                           <div class="inp-box">
                              <p class="txt">2025-05-14 12:00:00</p>
                           </div>                        
                        </li> 
                        <li class="col2 txt-list">
                           <strong class="tit">담당자연락처</strong>
                           <div class="inp-box">
                              <p class="txt">010-1234-1234</p>
                           </div>                        
                        </li> 
                        <li class="col1 txt-list dotted-line-top">
                           <strong class="tit">기각사유</strong>   
                           <div class="inp-box">
                              <p class="txt">기각합니다</p>
                              <p class="txt">기각합니다</p>
                              <p class="txt">기각합니다</p>
                              <p class="txt">기각합니다</p>
                           </div>                                                                     
                        </li>
                     </ul>                  
                  </div>
               </div>
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>