/** 컨텐츠 여백 **/
.cont-body{
  .title-type1{margin-top:42px;margin-bottom:19px;}
  .btn-area:has(.medium){margin-top: 24px;}
  .btn-area:has(.large){margin-top: 48px;}  
  .title-type2{margin-top: 48px;margin-bottom: 14px;}
  .compulsory-txt{margin-top: 45px;margin-bottom: 13px;}
  [class*=txt-box-type].type2{margin-top: 48px;margin-bottom: 24px;}
  .txt-box-type{margin-top: 24px;}
  .txt-box-type.type2 + .txt-box-type.type2{margin-top: 24px;}
  .txt-box-type.type2:first-child{margin-top: 0;}  
  .txt-box-type.type3 + .wrap-check-tbl{margin-top: 24px;}
  .txt-box-type.type1 + .wrap-check-tbl{margin-top: 24px;}
  .txt-box-type.type1 + .wrap-check-tbl{margin-top: 24px;}
  .txt-box-type.type1 + .wrap-form-area,
  .txt-box-type.type1 + form{margin-top: 24px;}  
  .agree-title{margin-top: 43px;margin-bottom: 16px;}  
  .title-type3{margin-top: 58px;margin-bottom: 17px;}
  .title-type3 + .compulsory-txt{margin-top: -3px;}
  .title-type3:first-child{margin-top: 48px;}
  .search-box{margin-top: 24px;}  
  .search-box + .tbl-top{margin-top: 60px;}
  .search-box + .compulsory-txt{margin-top: 24px;margin-bottom: 49px;}
  .search-box + .wrap-graph{margin-top: 24px;}
  .tbl-top{margin-bottom: 19px;}  
  .title-top{margin-top: 48px;margin-bottom: 24px;}
  .title-top .advice-txt{margin-top: 0;}  
  .advice-txt{margin-top: 16px;}
  .advice-txt + .advice-txt{margin-top: 5px;}
  [class*=tabmenu-]{margin-top: 48px;}    
  [class*=tabmenu-] + .search-box{margin-top: 48px;}
  [class*=tabmenu-] + .wrap-graph{margin-top: 48px;}
  [class*=tabmenu-] + .board-top.tbl-top{margin-top: 48px;}
  .wrap-check-tbl + .wrap-form-area,
  .wrap-check-tbl + form{margin-top: 24px;}      
  .wrap-cont-tbl table:first-child{margin-top: 0;}  
  .accordion:nth-child(n+2){margin-top: 8px;}
  .title.mo{margin-top: 41px;margin-bottom: 24px;}
  .wrap-form-area + .board-top.no-wrap.title-top,
  form + .board-top.no-wrap.title-top{margin-top: 24px;}
  .wrap-form-area + .wrap-cont-tbl,
  .form + .wrap-cont-tbl{margin-top: 48px;}  
  .title-type.medium + .txt-box-type.type1{margin-top: 20px;}
  .wrap-graph + .compulsory-txt{margin-top: 24px;}  
  .add-title{margin-top: 48px;margin-bottom: 14px;}    
  .tb-tit{margin-top: 53px;margin-bottom: 14px;}
  .tb-tit .compulsory-txt{margin: 0;}
  .wrap-mypages{margin-top: 24px;}
  .wrap-customs-info + .wrap-graph{margin-top: 24px;}  
}

.wrap-form-area .inp-form:first-child{margin-top: 0;}
.wrap-form-area .inp-form{margin-top: 8px;}
.pagination{margin-top: 40px;}
.accordion + .cont-area .txt-box-type.type2:first-child{margin-top: 48px;}
.txt-box-type.end:first-child{margin-top: 0;}
.cont-body:has(.accordion) .cont-area .txt-box-type.end:first-child{margin-top: 24px;}



.modal-cont{
  .search-box + .compulsory-txt{margin-top: 24px;margin-bottom: 49px;}
  .title-type3{margin-top: 48px;margin-bottom: 17px;}
  .title-type3:first-child{margin-top: 5px;}
  .advice-txt{margin-top: 16px;}
  .modal-cont{margin-bottom: 32px;}
  .modal-cont .title-type3:first-child{margin-top: 0;}
  .board-top.tbl-top{margin-bottom: 19px;}
  //.board-top.tbl-top:first-child{margin-bottom: 0;}
  .title-type3 + .wrap-cont-tbl .tbl.col.cont{margin-top: 0;}
  .title-type3 + .wrap-cont-tbl.pc + .wrap-cont-tbl.mo .tbl.col.cont{margin-top: 0;}
  .wrap-form-area + .board-top.tbl-top{margin-top: 48px;}
  .form-group.large + .wrap-check-tbl{margin-top: 24px;}
  
}


.content-wrap {max-width: 1312px;margin: 0 auto;padding: 0 16px;position: relative;width: 100%;flex:1;height:100%;
  .cont-head {
    .head-util {display: flex;justify-content: space-between;margin-top: 24px;align-items: center;
      .breadcrumb-wrap {padding-left: 10px;}
      .language-area {width: auto;display: flex;justify-content: flex-end;}
    }
    .head-tit {font-size: 32px;padding: 55px 0;line-height: 150%;display: flex;flex-direction: column;
      .txt{font-size: 19px;color: #555;line-height: 150%;margin-top: 19px;}
    }
    .step-area {display: flex;justify-content: space-between;margin-bottom: 62px;
      .tit-box {display: flex;flex-direction: column;
        .tit-step {
          i{margin: 0 7px 0 4px;}
          span {color: #1D56BC;font-weight: 700;}
        }
        .tit {font-size: 25px;margin-top: 20px;padding-right: 20px;}
      }
      .step-tit {margin-top: 12px;}
    }
  }

  //페이지 도움말
  .cont-body .cont-advice{position: relative;background-color: #EDF1F5;border-radius: 8px;    
    &.active{border-radius: 8px 8px 0 0;
      i{transform: rotate(180deg);}
    }
    .accordion-btn {display: flex;width: 100%;height: 100%;padding: 24px;justify-content: space-between;align-items: center;
      strong{font-size: 19px;color: #003675;line-height: 150%;padding-right: 30px;}
      i{min-width: 16px;height: 16px;width:16px}
    }     
    .accordion-body{position: absolute;top:100%;left:0;width:100%;padding: 24px;border-radius: 0px 0px 8px 8px;background-color: #EDF1F5;z-index: 1;
      &::before{top:0;content:"";display:block;position:absolute;left:0;width:100%;height:2px;background-image:url(../assets/icons/dotted.svg)}
      p{color:#003675;line-height: 150%;}
    }
  }
}
/** 반응형 **/
.fpc{display: flex !important;}
.pc{display: block !important;}
.mo{display: none !important;}
.fmo{display: none !important;}

@media (max-width: 767px) {  
  .content-wrap {
    .cont-head {
      .head-util {flex-wrap: wrap;gap: 10px;
        .breadcrumb-wrap, .language-area {width: 100%;}
      }
      .head-tit {padding: 28px 0 38px 0;font-size: 25px;}      

      .step-area{
        .step-box{margin-top: 30px;}
        i.step, .step-tit {display: none !important;}
        .step-wrap {height: 100%;align-items: center;
          &.step-type2 li {min-width: 50px;}
        }

        li {
          &:last-child:before {display: block;}
          &:first-child::before {display: none;}
          &:after {left: auto;right: 0;}
        }
      }
    }
    .cont-head .head-util {margin-top: 16px;}
  } 
  /** 반응형 **/
  .fpc{display: none !important;}
  .pc{display: none !important;}
  .mo{display: block !important;}
  .fmo{display: flex !important;}
}

@media (max-width: 480px) {  
  //제목
  .head-tit{
    .txt{font-size:17px;font-weight: 400;}
  }

  .content-wrap {
    .cont-head .step-area{margin-bottom: 46px;
      .tit-box .tit {font-size: 21px;line-height: 150%;}
    }        

    //페이지 도움말
    .cont-body .cont-advice{      
      .accordion-btn,.accordion-body {padding: 20px;}                 
    }
  }  

  /** 컨텐츠 여백 **/
  .cont-body{
    .search-box + .tbl-top{margin-top: 48px;}
    .wrap-mypages{margin-top: 48px;}
  }  

  .modal-body{
    .title-type3:first-child{margin-top: 0;}
  }
}