/* ==========================================================================
   LAYOUT: Footer   
   ========================================================================== */
#footer {
  margin-top: 40px;
  background-color: #f0f0f0;
  border-top: 1px solid #d8d8d8;
}
#footer .foot-quick {
  background-color: #fff;
}
#footer .foot-quick .inner {
  max-width: 1280px;
  display: flex;
  justify-content: flex-end;
}
#footer .foot-quick button {
  background-color: #fff;
  max-width: 319px;
  width: 319px;
  height: 54px;
  padding: 0 24px;
  border-left: 1px solid #d8d8d8;
  text-align: left;
  position: relative;
}
#footer .foot-quick button:before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 24px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icons/plus.svg");
  transition: all 0.5s;
}
#footer .foot-quick button:last-child {
  border-right: 1px solid #d8d8d8;
}
#footer .foot-quick button:hover::before {
  transform: rotate(360deg);
}
#footer .inner {
  max-width: 1312px;
  margin: 0 auto;
}
#footer .f-box {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
}
#footer .f-top {
  display: flex;
}
#footer .f-box .f-logo {
  width: 168px;
  height: 42px;
  display: block;
  background-image: url("../assets/icons/f-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* 국문 로고 이미지 */
html[lang="ko"] #footer .f-box .f-logo{
  background-image: url("../assets/icons/f-kr-logo.svg");
}
#footer .f-box .f-cnt {
  flex: 1;
  padding-left: 45px;
  display: flex;
  justify-content: space-between;
}
#footer .f-box .f-cnt .info-cs {
  margin-top: 4px;
}
#footer .f-box .f-cnt .info-cs li {
  margin-top: 12px;
}
#footer .f-box .f-btm {
  width: 100%;
}
#footer .f-box .link-go {
  display: flex;
  flex-direction: column;
  margin-top: -16px;
}
#footer .f-box .link-go a {
  display: flex;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  position: relative;
  align-items: center;
  height: 24px;
  margin-top: 16px;
}
#footer .f-box .link-go a .right {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../assets/icons/btn-arrow-right.svg");
  margin-left: 4px;
  transition: all 0.5s;
}
#footer .f-box .link-go a:hover .right {
  margin-left: 10px;
}
#footer .f-box .link-sns {
  display: flex;
  gap: 8px;
}
#footer .f-box .link-sns a {
  width: 40px;
  height: 40px;
  display: flex;
  transition: all 0.5s;
}
#footer .f-box .link-sns a:hover {
  transform: scale(1.1);
}
#footer .f-box .link-sns .instagram {
  background-image: url("../assets/icons/Instagram.svg");
}
#footer .f-box .link-sns .youtube {
  background-image: url("../assets/icons/youtube.svg");
}
#footer .f-box .link-sns .twitter {
  background-image: url("../assets/icons/twitter.svg");
}
#footer .f-box .link-sns .facebook {
  background-image: url("../assets/icons/facebook.svg");
}
#footer .f-box .link-sns .blog {
  background-image: url("../assets/icons/blog.svg");
}
#footer .f-box .f-btm {
  margin-top: 20px;
  border-top: 1px solid #D8D8D8;
}
#footer .f-box .f-btm .f-btm-text {
  padding: 15px 2px 0 2px;
  display: flex;
  justify-content: flex-end;
}
#footer .f-box .f-btm .f-menu {
  margin-left: -24px;
}
#footer .f-box .f-btm .f-menu a {
  margin-left: 24px;
}
#footer .f-box .f-btm .f-menu a:hover {
  text-decoration: underline;
}
#footer .f-box .f-btm .f-menu a.point {
  color: #003675;
  font-weight: 700;
}
#footer .f-box .f-copy {
  color: #555;
}