/* ==========================================================================
   LAYOUT: Navigation   
   ========================================================================== */
#header .main-menu {
  border-bottom: 1px solid #d8d8d8;
  transform: translate(0px, 0px);
}
#header .main-menu i {
  font-style: normal;
}
#header .main-menu .inner {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 45px;
}
#header .main-menu .gnb-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}
#header .main-menu .gnb-menu > li {
  height: 100%;
  display: flex;
  align-items: center;
}
#header .main-menu .gnb-main-trigger {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  color: #555;
  line-height: 1.5;
  height: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;
}
#header .main-menu .gnb-main-trigger:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #16408d;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#header .main-menu .gnb-main-trigger:hover::before {
  width: 100%;
  left: 0;
}
#header .main-menu .gnb-main-trigger span {
  display: flex;
  color: #555;
  margin-top: -1px;
}
#header .main-menu .gnb-toggle-wrap {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 100;
  border-top: 1px solid #d8d8d8;
  width: 100%;
  display: none;
}
#header .main-menu .gnb-main-list {
  background-color: #fff;
  display: flex;
}
#header .main-menu .gnb-main-list .gnb-title {
  width: 400px;
  min-width: 400px;
  background-color: #f4f5f6;
  padding: 20px 20px;
}
#header .main-menu .gnb-main-list .gnb-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  padding: 20px 20px;
  gap: 15px;
}
#header .main-menu .gnb-main-list .gnb-list > li {
  width: calc(33.3333% - 10px);
}
#header .main-menu .gnb-main-list .gnb-list > li > i {
  font-weight: 700;
  border-bottom: 1px solid #c6c6c6;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#header .main-menu .gnb-main-list .gnb-list a {
  position: relative;
  display: inline-block;
  padding: 10px 7px 10px 20px;
}
#header .main-menu .gnb-main-list .gnb-list > li ul a i {
  display: block;
}
#header .main-menu .gnb-main-list .gnb-list a::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 7px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2d2d2d;
}
#header .main-menu .gnb-main-list .gnb-list > li ul a:hover {
  background-color: #EDF1F5;
  border-radius: 4px;
}
#header .main-menu .gnb-menu > li.active .gnb-main-trigger {
  color: #1D1D1D;
  font-weight: 700;
}
#header .main-menu .gnb-menu > li.active .gnb-main-trigger:before {
  left: 0;
  width: 100%;
}
#header .main-menu .gnb-menu > li.active .gnb-toggle-wrap {
  display: block !important;
}