@use "../mixin" as *;
@use "../variable" as *;


#header .main-menu {border-bottom: 1px solid #d8d8d8;padding: 0 16px;transform: translate(0px, 0px);
  .inner {max-width: 1280px;margin: 0 auto;display: flex;justify-content: space-between;height: 64px;}
  .gnb-menu {display: flex;max-width: 1202px;width: 1202px;align-items: center;justify-content: space-between;
    > li {height: 100%;display: flex;align-items: center;}
  }
  .gnb-main-trigger {background-color: rgba(0, 0, 0, 0);font-size: 19px;padding: 0 8px;position: relative;color: #555;line-height: 1.5;height: 100%;font-weight: 700;          
    &:before {content: "";display: block;position: absolute;bottom: 0px;left: 50%;width: 0;height: 4px;background-color: #16408d;transition: all 0.6s $easeOutExpo;}
    &:hover::before{width:100%;left: 0;}
    span {display: flex;font-size: 13px;color: #555;margin-top: -1px;}
  }
  .allmenu {background-color: rgba(0, 0, 0, 0);font-size: 0;background-image: url("../assets/icons/menu.svg");min-width: 36px;background-repeat: no-repeat;background-position: center;}
  .gnb-toggle-wrap {display: none;position: absolute;top: 64px;left: 0;width: 100%;background-color: #fff;z-index: 100;    border-top: 1px solid #d8d8d8;}
  .gnb-main-list {max-width: 1280px;margin: 0 auto;display: flex;
    .gnb-title {background-color: #f4f5f6;position: relative;min-width: 281px;
      &:before {content: "";display: block;position: absolute;top: 0;left: -1000px;width: 1000px;height: 100%;background-color: #f4f5f6;}
    }
  }
  .gnb-title-box {position: absolute;top: 40px;}
  .gnb-main-list {
    .gnb-title {
      .left-title {font-size: 25px;color: #060606;display: inline-block;}
      span {display: block;font-size: 15px;margin-top: 18px;color: #060606;line-height: 1.5;}
      p {margin-top: 29px;font-size: 15px;color: #555;line-height: 1.5;position: relative;padding: 0 68px 0 23px;
        &:before {content: "";display: block;position: absolute;top: 4px;left: 0;width: 16px;height: 16px;background-image: url("../assets/icons/live-area.svg");}
      }
    }
    .gnb-list {padding: 17px 0 40px 40px;display: flex;flex-wrap: wrap;margin-left: -24px;width: 100%;
      > li {width: calc(33.3333% - 24px);margin-left: 24px;
        &.w-auto{width:48%}
        .depth2 li {margin-top: 4px;}
        &.last-menu {margin-top: -102px;}
        &.right-menu {margin-left: calc(33.333% - -24px);}
      }
      .sub-title {display: block;font-size: 19px;padding: 16px 0 14px 0;margin-bottom: 6px;border-bottom: 1px solid #c6c6c6;line-height: 150%;
        span {display: block;font-size: 13px;color: #555;margin-top: 0;line-height: 150%;}
      }
      a.sub-title{display: none;}
      .depth2 {margin-top: 10px;
        a {display: block;padding: 5px 8px 5px 20px;
          &:hover, &:focus {background-color: #EDF1F5;border-radius: 4px;}
          i {font-style: normal;position: relative;display: inline-block;line-height: 150%;
            &:before {content: "";display: block;position: absolute;top: 12px;left: -13px;width: 4px;height: 4px;border-radius: 50%;background-color: #2d2d2d;transform: translateY(-50%);}
            &:after {content: "";display: block;position: absolute;top: 50%;right: -24px;width: 16px;height: 16px;transform: translateY(-50%);background-image: url("../assets/icons/live-area.svg");}
            &.no-ico {
              &:after {display: none;}
              padding: 0;
            }
          }
        }
        span {font-size: 13px;color: #555;display: block;font-style: normal;line-height: 150%;}
      }
    }
  }
  .gnb-menu {
    > li.active {
      .gnb-main-trigger {
        &:before {left: 0;width: 100%;}        
      }
      .gnb-toggle-wrap {display: block;}
    }

    &.gnb-allmenu {max-width: 1280px;width: auto;margin: 0 auto;display: flex;flex-direction: column;align-items: flex-start;
      .gnb-main-list .gnb-title h2 {font-size: 32px;}
      .gnb-toggle-wrap {display: block;position: relative;top: 0;padding: 64px 0 55px 0;border-bottom: 1px solid #e4e4e4;}
      .gnb-main-list {display: flex;flex-direction: column;
        .gnb-title {background-color: rgba(0, 0, 0, 0);
          &:before {display: none;}
        }
      }
      .gnb-title-box {position: relative;top: 0;}
      .gnb-main-list {
        .gnb-title span {margin-top: 4px;}
        .gnb-list {padding: 0;margin-top: 23px;margin-left: 0;
          > li {width: calc(33.3333% - 18px);margin-left: 24px;
            &:first-child {margin-left: 0;}
            &.last-menu {margin-top: 25px;}
          }
        }
      }
      > li {width: 100%;}
      .last-allmenu {
        .gnb-toggle-wrap {width: 33.3333%;border-bottom: 0;}
        .gnb-main-list .gnb-list {width: 100%;
          > li {width: 100%;}
        }
      }
      > li.last-allmenu {display: flex;align-items: flex-start;}
      .gnb-main-list .gnb-list .depth2 {
        a i {padding-right: 45px;}
        span {padding-right: 10px;}
        a i:after {right: 19px;}
      }
    }
  }
  &.main-allmenu {display: none;border-bottom: 0;background-color: #fff;position: absolute;left: 0;width: 100%;overflow-y: scroll;height: calc(100vh - 178px);
    &.large {height: calc(100vh - 146px);}
    .gnb-toggle-wrap{border-top:0;}
    .gnb-main-list .gnb-title .left-title{font-size: 32px;}
  }
  .allmenu.active {background-image: url("../assets/icons/close.svg");}
  .info-area{display: none;}
  .mobile-close{display: none;}
}   

@media (max-width: 1312px) {
  #header .main-menu{
    .gnb-menu.gnb-allmenu .gnb-title {padding-left: 0;}
    .gnb-title-box{top: 23px;}
    
    .gnb-main-list {
      .gnb-title {padding-left: 16px;
        p {padding: 0 50px 0 23px;}
      }
      .gnb-list {padding: 4px 20px 20px 20px;
        .sub-title {font-size: 18px;margin-bottom: 0;}
        .depth2 {padding-top: 0;}
        .depth2 a i {
          &:after {display: none;}
          font-size: 16px;
        }
      }

      .gnb-title h2 {font-size: 24px;}
      .gnb-list .depth2 a i br {display: none;}
    }
  } 
}

@media (max-width: 1200px) {
  #header .main-menu {
    .gnb-main-trigger {font-size: 16px;padding: 0 7px;}
    .gnb-menu.gnb-allmenu {
      .gnb-toggle-wrap {padding: 50px 0;}
      .gnb-main-list .gnb-title h2 {font-size: 32px;}
    }
  }
}

@media (max-width: 1023px) {  
  #header {   
    &:before {content: "";position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 1;}
    .main-menu {background: #fff;position: fixed;top: 0;right: 0;width: 390px;height: 100%;z-index: 9999;padding: 0 0 58px 0;
      &:before {content: "";display: block;position: absolute;top: 108px;left: 0;width: 120px;height: 100%;background-color: #EDF1F5;}
      .info-area {display: block;position: fixed;bottom: 0;border-top: 1px solid #D8D8D8;z-index: 999;width: 390px;background-color: #fff;padding: 23px 47px;font-size: 15px;color: #555;
        &:before {content: "";display: block;position: absolute;top: 49%;left: 24px;width: 16px;height: 16px;transform: translateY(-50%);background-image: url("../assets/icons/live-area.svg");}
      }
      .mobile-close {position: absolute;top: 20px;right: 24px;font-size: 0;display: block;}
      .gnb-menu {max-width: 100%;width: 100%;flex-direction: column;display: block;}
      .gnb-main-trigger {font-size: 15px;word-break: break-all;text-align: left;display: block;width: 120px;padding: 0px 27px;position: relative;color: #1D1D1D;font-weight: 700;
        span, &:before {display: none;}
      }
      .gnb-toggle-wrap {display: none;left: auto;right: 0;width: calc(100% - 120px);overflow: auto;padding: 40px 24px;border-left: 1px solid #D8D8D8;border-top:0;}
      .gnb-main-list {
        .gnb-title {background: rgba(0, 0, 0, 0);min-width: auto;padding-left: 0;width: 100%;
          &:before {display: none;}
          .left-title {border-bottom: 1px solid #D8D8D8;padding-bottom: 20px;display: block;font-size:17px;}
          p {display: none;}
          span {font-size: 13px;margin-top: 11px;}
        }
        .gnb-list {display: flex;margin-left: 0;padding: 0;position: absolute;top: 110px;right: 0;padding: 0px 24px 0 24px;
          > li {margin-left: 0;width: 100%;padding: 20px 0 12px 8px;}
          .sub-title {padding: 0 21px 0 0;font-size: 15px;border-bottom: 0;position: relative;font-weight: 700;
            &.active i {transform: rotate(180deg);}
            i {position: absolute;top: 0;right: 0;display: block;width: 16px;height: 16px;}
          }
          strong.sub-title {display: none;}
          > li.last-menu {margin-top: 0;
            &.right-menu{margin-left: 0;margin-bottom: 65px;}
          }
          > li.w-auto{width:100%;}
          .depth2 a {
            i {
              &:after {display: block;right: 0;}
              display: inline-block;
              font-size: 15px;
              padding-right: 25px;
            }
            padding: 8px 20px 8px 20px;
          }
          a.sub-title {display: block;}
        }
      }
      .gnb-title-box {position: initial;}
      .gnb-menu > li {
        &.dep2, &.dep3 {height: 89px;}
        &.dep1, &.dep4, &.dep5 {height: 66px;}
        &.dep6, &.dep7 {height: 59px;}
        &[class*="dep"]:not(.dep1) .gnb-list {top: 79px;}
        &.dep5 .gnb-list .depth2, &.dep6 .gnb-list .depth2, &.dep7 .gnb-list .depth2 {display: block !important;}
        &.dep5 .gnb-list > li, &.dep6 .gnb-list > li, &.dep7 .gnb-list > li {padding: 0;}
        &.active .gnb-main-trigger {background-color: #fff;color: #003675;
          &::after {content: "";display: block;position: absolute;top: 0;right: -10px;width: 20px;height: 100%;background-color: #fff;z-index: 9999;}
        }
      }
      .gnb-main-list .gnb-list .sub-title {
        + ul.depth2 {display: none;}
        &.mobile-active {
          i {transform: rotate(180deg);}
          + ul.depth2 {display: block;}
        }
      }
    }

    .allmenu {display: none;}   
    &:before, .main-menu {display: none;}
  }

  #wrap.mobile-open {
    .main-menu, #header:before {display: block !important;}
    .main-allmenu {display: none !important;}
  }

}