
<footer id="footer">     
   <div class="inner f-box">
      <div class="f-top">
         <div class="f-logo">
            <span class="sr-only">관세청 로고</span>
         </div>
         <div class="f-cnt">
            <div class="f-info">
            <p class="info-addr">35208) 189 Government Complex Daejeon, Cheongsa-ro, Seo-gu, Daejeon Metropolitan City, Building 1</p>
            <ul class="info-cs">
               <li><strong class="strong">Customer Support Center without area code 125</strong></li>               
               <li><strong class="strong">Electronic customs clearance system 1544-1285 <span>(weekdays 09:00 ~ 19:00)</span></strong></li>               
            </ul>
            </div>
         </div>
      </div>
      <div class="f-btm">
         <div class="f-btm-text">            
            <p class="f-copy">Copyright©Korea Customs Service. All Rights Reserved.</p>
         </div>            
      </div>
   </div>         
</footer>
