<footer id="footer">
   <!-- footer -->      
   <div class="foot-quick">
      <div class="inner">
         <button type="button" class="link" title="관련 누리집 레이어">관련 누리집</button>
         <button type="button" class="link" title="세관 바로가기 레이어">세관 바로가기</button>            
      </div>
   </div>
   <div class="inner f-box">
      <div class="f-top">
         <div class="f-logo">
            <span class="sr-only">관세청 로고</span>
         </div>
         <div class="f-cnt">
            <div class="f-info">
            <p class="info-addr">(35208) 대전광역시 서구 청사로 189 정부대전청사 1동</p>
            <ul class="info-cs">
               <li><strong class="strong">고객지원센터 국번없이 125</strong></li>
               <li><strong class="strong">전자통관 시스템 1544-1285</strong></li>
            </ul>
            </div>

            <div class="f-link">            
            <div class="link-sns">
               <a href="#" class="instagram" target="_blank" title="새 창 열기">
                  <span class="sr-only">인스타그램</span>                                       
               </a>
               <a href="#" class="youtube" target="_blank" title="새 창 열기">
                  <span class="sr-only">유튜브</span>                                       
               </a>
               <a href="#" class="twitter" target="_blank" title="새 창 열기">
                  <span class="sr-only">트위터</span>                                         
               </a>
               <a href="#" class="facebook" target="_blank" title="새 창 열기">
                  <span class="sr-only">페이스북</span>                     
               </a>               
               <a href="#" class="blog" target="_blank" title="새 창 열기">
                  <span class="sr-only">블로그</span>                     
               </a>               
            </div>
            </div>
         </div>
      </div>
      <div class="f-btm">
         <div class="f-btm-text">
            <div class="f-menu">
               <a href="#" class="point">개인정보처리방침</a>               
            </div>
            <p class="f-copy">© The Government of the Republic of Korea. All rights reserved.</p>
         </div>            
      </div>
   </div>      
   <!-- //footer -->
</footer>