<div id="skip-link">
   <a href="#breadcrumb">본문 바로가기</a>
</div>
<div id="masthead">
   <div class="toggle-wrap">
      <div class="toggle-head">
         <div class="inner">
            <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>            
         </div>
      </div>
   </div>
</div>
<header id="header">
   <div class="header-in">      
      <div class="header-container">
         <div class="inner">            
            <div class="header-branding">
               <h1 class="logo sample">
                  <a href="javascript: void(0);">
                     <span class="sr-only">대한민국정부</span>
                  </a>
               </h1>    
               <h2 class="sr-only">빈텍스트</h2>                          
               <div class="header-actions">
                  <div class="popup-box">                  
                     <button type="button" class="btn-navi popup">팝업</button>                                    
                     <div class="modal d-none">
                        <div class="modal-dialog">
                           <div class="modal-content">                        
                              <div class="modal-header">
                                 <strong class="modal-title">팝업</strong>
                              </div>                        
                              <div class="modal-conts">
                                 <div class="conts-area">
                                    <div class="menu-list">
                                       <ul>
                                          <li class="active"><a href="javascript: void(0);">관세청 전자상거래포털 신규 오픈</a></li>
                                          <li><a href="javascript: void(0);">개인통관고유부호 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">통관 진행 정보 확인 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                       </ul>
                                    </div>
                                    <div class="contents">
                                       <div class="box">
                                          콘텐츠 영역
                                       </div>  
                                       <div class="madal-btn-area">
                                          <div class="form-check">
                                             <input type="checkbox" id="popup-chk">
                                             <label for="popup-chk">오늘하루 그만보기</label>
                                          </div>
                                          <div class="btn-area btn-end">
                                             <div class="align">
                                                <button type="button" class="btn tertiary medium">바로가기</button>
                                                <button type="button" class="btn primary medium close-btn">닫기</button>
                                             </div>
                                          </div>
                                       </div>                                                                              
                                    </div>
                                 </div>
                              </div>                        
                              <button type="button" class="btn medium icon btn-close close-modal close-btn"><span class="sr-only">닫기</span><i class="svg-icon ico-popup-close"></i></button>                        
                           </div>
                        </div>                    
                     </div>                  
                  </div> 
                  <div class="name-box">
                     <p class="name"><strong>김관세</strong><span>님 환영합니다.</span></p>     
                     <span class="inform">+999</span>             
                     <span class="time">38:12</span>             
                  </div>                  
                  <button type="button" class="btn-navi sch" data-modal-target="#in-search">통합검색</button>
                  <!-- 통합검색 -->
                  <div id="in-search" class="modal d-none wrap-in-sch" data-ui="modal">
                     <div class="modal-wrap in-sch-box">                        
                        <div class="modal-body" tabindex="0">                           
                           <strong class="tit">검색어를 입력해주세요</strong>
                           <div class="sch-box wrap-search-area">
                              <input type="text" placeholder="검색어를 입력해주세요." title="검색어를 입력해주세요">
                              <button class="sch-delete"><i class="icon delete-circle xx-large">검색어 삭제</i></button>
                              <button class="sch"><i class="icon search xxx-large">검색</i></button>                              
                           </div>
                           <div class="popular-sch-box">
                              <strong class="tit">인기검색어</strong>
                              <ul>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1000</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num decrease"><i class="icon decrease x-small">하락</i>10</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num">-</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num decrease"><i class="icon decrease x-small">하락</i>100</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                              </ul>
                           </div>                                
                        </div>                        
                     </div>
                  </div>                  
                  <!-- // 통합검색 -->
                  <!--
                  <button type="button" class="btn-navi join">회원가입</button>
                  -->
                  <a href="javascript: void(0);" class="btn-navi login">로그인</a>                                               
                  <a href="javascript: void(0);" class="btn-navi loginout">로그인아웃</a>                  
                  <button type="button" class="btn-navi mobile-all-menu">전체메뉴</button>
               </div>
            </div>
         </div>
      </div>
      <!-- gnb -->
      <nav class="main-menu">
         <!-- 모바일 상단 정보 -->
         <div class="mobile-top-area header-actions">
            <!-- 로그인 전 -->
            <div class="login-work">
               디자인 작업예정
            </div>
            <!-- 로그인 전 -->     
            <!-- 로그인 후 -->
            <div class="name-box">
               <p class="name"><strong>김관세</strong><span>님 환영합니다.</span></p>     
               <span class="inform">+999</span>             
               <span class="time">38:12</span>             
            </div>                  
            <!-- 로그인 후 -->
         </div>
         <!-- 모바일 상단 정보 -->
         <div class="inner">
            <ul class="gnb-menu">               
               <li class="dep1">
                  <button type="button" class="gnb-main-trigger">개인통관고유부호 <span>Personal customs clearance code</span></button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">개인통관고유부호 <span>Personal customs clearance code</span></strong>
                              <p>간편, 공동 본인인증 후 이용이<br>가능합니다.</p>
                           </div>
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">개인통관고유부호 조회 <span>Personal customs clearance code inquiry</span></strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">개인통관고유부호 조회 <span>Personal customs clearance code inquiry</span> <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>개인통관 고유부호 조회/정보변경 </i> <span>Personal customs clearance code inquiry/information change</span></a></li>
                                       <li><a href="javascript: void(0);"><i>개인통관 고유부호 발급/이력조회</i> <span>Personal customs clearance code issuance history inquiry</span></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>   
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">개인통관고유부호 신청 <span>Application for personal customs clearance code</span></strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">개인통관고유부호 신청 <span>Application for personal customs clearance code</span> <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>개인통관고유부호 신규/부호변경</i> <span>New personal customs clearance code clearance code</span></a></li>
                                       <li><a href="javascript: void(0);"><i>개인통관고유부호 사용정지/해제</i> <span>Suspension/Release of Personal Customs Code</span></a></li>
                                       <li><a href="javascript: void(0);"><i>개인통관고유부호 유효기간 갱신</i> <span>Renewal of validity period of personal customs clearance code</span></a></li>
                                       <li><a href="javascript: void(0);"><i>개인통관고유부호 해지 신청</i> <span>Application for cancellation of personal customs clearance code</span></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                      
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">개인통관고유부호 도용신고 <span>Report of personal customs clearance code</span></strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">개인통관고유부호 도용신고 <span>Report of personal customs clearance code</span> <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>개인통관고유부호 도용신고</i> <span>Report of theft of personal customs clearance code</span></a></li>
                                       <li><a href="javascript: void(0);"><i>개인통관고유부호 신고내역 조회</i> <span>Personal customs clearance code report details inquiry</span></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                      
                           <li class="last-menu">                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">해외직구 인증번호 발급내역 <span>Overseas direct purchase authentication number issuance details</span></strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">해외직구 인증번호 발급내역 <span>Overseas direct purchase authentication number issuance details</span> <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>일회용 인증번호/개인통관고유부호<br>발급 내역 조회</i> <span>Inquiry on issuance history of one-time authentication number/personal customs code</span></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>
                           <li class="last-menu right-menu">                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">개인통관고유부호 방문발급 사전 신청 <span>Pre-application for issuance of personal customs clearance code</span></strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">개인통관고유부호 방문발급 사전 신청 <span>Pre-application for issuance of personal customs clearance code</span> <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">사전신청 등록</i> <span>Pre-application registration</span></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">사전신청 사항 조회/정보변경</i> <span>Check pre-application details/change information</span></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                   
                        </ul>
                     </div>                     
                  </div>                  
               </li>  
               <li class="dep2">
                  <button type="button" class="gnb-main-trigger">해외직구 납부·고지·환급</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">해외직구 납부·고지·환급</strong>
                              <p>간편, 공동 본인인증 후 이용이 가능합니다.</p>
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">수입신고 내역</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">수입신고 내역 <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>수입신고 내역 조회</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">관세 납부</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">관세 납부 <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>개인전자납부/납부내역 조회</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">관세환급</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">관세환급 <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>관세환급 신청</i></a></li>
                                       <li><a href="javascript: void(0);"><i>관세환급 신청 결과 조회</i></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                        </ul>
                     </div>                     
                  </div>                  
               </li>     
               <li class="dep3">
                  <button type="button" class="gnb-main-trigger">해외직구 수입통관 정보</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">해외직구 수입통관 정보</strong>
                              <p>간편, 공동 본인인증 후 이용이 가능합니다.</p>
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">통관정보</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">통관정보 <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>수입통관 내역 조회</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i>해외직구 거래 내역 조회</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>   
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">화물진행 정보</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">화물진행 정보 <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>수입화물 진행정보 조회</i></a></li>                                                                        
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                               
                        </ul>
                     </div>                     
                  </div>                  
               </li>   
               <li class="dep4">
                  <button type="button" class="gnb-main-trigger">해외직구 현황</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">해외직구 현황</strong>                           
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li class="w-auto">                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">통계</strong>
                                    <a href="javascript: void(0);"  class="sub-title mobile-dep-menu" title="메뉴열기">통계 <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">세관별/발송국별 전자상거래 물품 수입통관 현황</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">년도별 전자상거래 물품 수입통관 현황</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">세관별/발송국별 통관 소요시간 현황</i></a></li>                                                                           
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                      
                        </ul>
                     </div>                     
                  </div>                  
               </li> 
               <li class="dep5">
                  <button type="button" class="gnb-main-trigger">해외직구 정보제공</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">해외직구 정보제공</strong>                           
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">                                 
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">주간 환율</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">해외직구물품 예상세액 조회</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">해외직구 등록업체 조회</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">업무 안내</i></a></li>                                                                        
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                      
                        </ul>
                     </div>                     
                  </div>                  
               </li>
               <li class="dep6">
                  <button type="button" class="gnb-main-trigger">고객센터</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">고객센터</strong>                           
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">                                 
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">공지사항</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">자주묻는 질문</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">자료실</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">질의응답</i></a></li>                                                                        
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                      
                        </ul>
                     </div>                     
                  </div>                  
               </li>
               <li class="dep7">
                  <button type="button" class="gnb-main-trigger">마이페이지</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">마이페이지</strong>                           
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">                                 
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">나의 개인통관고유부호</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">나의 메시지</i></a></li>                                                                           
                                       <li><a href="javascript: void(0);"><i class="no-ico">통관 현황</i></a></li>                                          
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                      
                        </ul>
                     </div>                     
                  </div>                  
               </li>
            </ul>            
            <button class="allmenu">전체메뉴</button>
         </div>
         <p class="info-area">간편, 공동 본인인증 후 이용이 가능합니다.</p>
         <a href="javascript: void(0);" class="mobile-close"> <i class="icon close medium"></i>모바일 메뉴 닫기</a>
      </nav>
      <!-- gnb -->
      <!-- 전체메뉴 -->
      <div class="main-menu main-allmenu">
         <ul class="gnb-menu gnb-allmenu">
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">개인통관고유부호 <span>Personal customs clearance code</span></strong>                        
                        </div>
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">개인통관고유부호 조회 <span>Personal customs clearance code inquiry</span></strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>개인통관 고유부호 조회/정보변경</i> <span>Personal customs clearance code inquiry/information change</span></a></li>
                                    <li><a href="javascript: void(0);"><i>개인통관 고유부호 발급/이력조회</i> <span>Personal customs clearance code issuance history inquiry</span></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>   
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">개인통관고유부호 신청 <span>Application for personal customs clearance code</span></strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>개인통관고유부호 신규/부호변경</i> <span>New personal customs clearance code clearance code</span></a></li>
                                    <li><a href="javascript: void(0);"><i>개인통관고유부호 사용정지/해제</i> <span>Suspension/Release of Personal Customs Code</span></a></li>
                                    <li><a href="javascript: void(0);"><i>개인통관고유부호 유효기간 갱신</i> <span>Renewal of validity period of personal customs clearance code</span></a></li>
                                    <li><a href="javascript: void(0);"><i>개인통관고유부호 해지 신청</i> <span>Application for cancellation of personal customs clearance code</span></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                      
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">개인통관고유부호 도용신고 <span>Report of personal customs clearance code</span></strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>개인통관고유부호 도용신고</i> <span>Report of theft of personal customs clearance code</span></a></li>
                                    <li><a href="javascript: void(0);"><i>개인통관고유부호 신고내역 조회</i> <span>Personal customs clearance code report details inquiry</span></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                      
                        <li class="last-menu ml-0">                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">해외직구 인증번호 발급내역 <span>Overseas purchase authentication number details</span></strong>
                                 <a href="javascript: void(0);"  class="sub-title">해외직구 인증번호 발급내역 <span>Overseas purchase authentication number details</span></a>
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>일회용 인증번호/개인통관고유부호 발급 내역 조회</i> <span>Inquiry on issuance history of one-time authentication number/personal customs code</span></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                   
                        <li class="last-menu">                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">개인통관고유부호 방문발급 사전 신청 <span>Pre-application for issuance of personal customs clearance code</span></strong>
                                 <a href="javascript: void(0);"  class="sub-title">개인통관고유부호 방문발급 사전 신청 <span>Pre-application for issuance of personal customs clearance code</span></a>
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>사전신청 등록</i> <span>Pre-application registration</span></a></li>                                    
                                    <li><a href="javascript: void(0);"><i>사전신청 사항 조회/정보변경</i> <span>Check pre-application details/change information</span></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                   
                     </ul>
                  </div>                  
               </div>               
            </li>  
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">해외직구 납부·고지·환급</strong>                        
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">수입신고 내역</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>수입신고 내역 조회</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>             
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">관세 납부</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>개인전자납부/납부내역 조회</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>             
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">관세환급</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>관세환급 신청</i></a></li>
                                    <li><a href="javascript: void(0);"><i>관세환급 신청 결과 조회</i></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>             
                     </ul>
                  </div>                  
               </div>               
            </li>     
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">해외직구 수입통관 정보</strong>                        
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">통관정보</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>수입통관 내역 조회</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i>해외직구 거래 내역 조회</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>   
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">화물진행 정보</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>수입화물 진행정보 조회</i></a></li>                                                                        
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                               
                     </ul>
                  </div>                  
               </div>               
            </li>   
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">해외직구 현황</strong>                           
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">통계</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i class="no-ico">세관별/발송국별 전자상거래 물품 수입통관 현황</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">년도별 전자상거래 물품 수입통관 현황</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">세관별/발송국별 통관 소요시간 현황</i></a></li>                                                                        
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                      
                     </ul>
                  </div>                  
               </div>               
            </li> 
            <li class="last-allmenu">                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">해외직구 정보제공</strong>                           
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i class="no-ico">주간 환율</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">해외직구물품 예상세액 조회</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">해외직구 등록업체 조회</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">업무 안내</i></a></li>                                                                        
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                      
                     </ul>
                  </div>                  
               </div>       
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">고객센터</strong>                           
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i class="no-ico">공지사항</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">자주묻는 질문</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">자료실</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i class="no-ico">질의응답</i></a></li>                                                                        
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                      
                     </ul>
                  </div>                  
               </div>               
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">마이페이지</strong>                           
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>    
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i class="no-ico">나의 개인통관고유부호</i></a></li>                                                                        
                                    <li><a href="javascript: void(0);"><i class="no-ico">나의 메시지</i></a></li>      
                                    <li><a href="javascript: void(0);"><i class="no-ico">통관현황</i></a></li>      
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                      
                     </ul>
                  </div>                  
               </div>               
            </li>         
         </ul>
      </div>  
      <!-- 전체메뉴 -->
   </div>   
</header>
<div class="content-wrap">
   <div class="cont-head">
      <div class="head-util">
         <nav class="breadcrumb-wrap" id="breadcrumb">
            <ol class="breadcrumb">
               <li class="home"><a href="javascript: void(0);" class="txt" title="홈으로 바로가기">홈</a></li>
               <li><span class="txt">개인통관고유부호</span></li>                     
               <li><span class="txt">개인통관고유부호 조회</span></li>                     
               <li class="last-li"><a href="javascript: void(0);" class="txt" title="현재페이지">개인통관고유부호 조회/정보변경</a></li>                  
            </ol>
         </nav>         
         <div class="language-area">
            <div class="form-toggle-switch language-switch">
               <input type="radio" id="kr" name="language" checked>
               <label for="kr" class="kr">한글</label>
               <input type="radio" id="en" name="language">
               <label for="en" class="en">English</label>
            </div>
         </div>
      </div>