
<footer id="footer">     
   <div class="inner f-box">
      <div class="f-top">
         <div class="f-logo">
            <span class="sr-only">관세청 로고</span>
         </div>
         <div class="f-cnt">
            <div class="f-info">
            <p class="info-addr">[35208] 대전광역시 서구 청사로 189 정부대전청사 1층</p>
            <ul class="info-cs">
               <li><strong class="strong">고객지원센터 국번없이 125</strong></li>               
               <li><strong class="strong">기술지원센터 1544-1285 <span>(평일 09:00 ~ 19:00)</span></strong></li>               
            </ul>
            </div>
         </div>
      </div>
      <div class="f-btm">
         <div class="f-btm-text">            
            <p class="f-copy">Copyright©Korea Customs Service. All Rights Reserved.</p>
         </div>            
      </div>
   </div>         
</footer>
