<div id="skip-link">
   <a href="#breadcrumb">본문 바로가기</a>
</div>
<!--
<div id="masthead">
   <div class="toggle-wrap">
      <div class="toggle-head">
         <div class="inner">
            <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>            
         </div>
      </div>
   </div>
</div>
-->
<header id="header">
   <div class="header-in">      
      <div class="header-container">
         <div class="inner">            
            <div class="header-branding">
               <h1 class="logo sample">
                  <a href="javascript: void(0);">
                     <span class="sr-only">대한민국정부</span>
                  </a>
               </h1>    
               <h2 class="sr-only">빈텍스트</h2>                          
               <div class="header-actions">                  
                  <div class="myc-name">
                     <span>Welcome</span>
                     <strong class="cl-9">Company Name</strong>
                     <span class="font-6 cl-6">(2025-07-31, UTC)</span>
                  </div>                                    
                  <a href="javascript: void(0);" class="btn-navi login">Log In</a>                                               
                  <a href="javascript: void(0);" class="btn-navi loginout">Log Out</a>                                    
               </div>
            </div>
         </div>
      </div>
      <!-- gnb -->
      <nav class="main-menu">         
         <div class="inner">
            <ul class="gnb-menu">                               
               <li>
                  <a href="#none" class="gnb-main-trigger">전자상거래업자 관리</a>                 
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">    
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">전자상거래업자 관리</strong>
                              <p>로그인 후 이용이 가능합니다.</p>
                           </div>
                        </div>                    
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">전자상거래업자</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>전자상거래업자부호 조회/신청</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i>전자상거래업자부호 신청현황</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">협력인정업체</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>협력인정업체 조회/신청</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i>협력인정업체 신청현황</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                    
                        </ul>
                     </div>                     
                  </div>                  
               </li>  
               <li>
                  <a href="#none" class="gnb-main-trigger">거래정보&판매제한물품</a>                 
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">    
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">거래정보&판매제한물품</strong>
                              <p>로그인 후 이용이 가능합니다.</p>
                           </div>
                        </div>                    
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">거래정보</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>거래정보 엑셀제출</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i>거래정보 엑셀제출현황</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i>거래정보 제출현황</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">판매제한물품 관리</strong>                                    
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>판매제한물품 등록</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                  
                        </ul>
                     </div>                     
                  </div>                  
               </li>
               <li>
                  <a href="#none" class="gnb-main-trigger">개인통관고유부호</a>                 
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">    
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">개인통관고유부호</strong>
                              <p>로그인 후 이용이 가능합니다.</p>
                           </div>
                        </div>                    
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">개인통관고유부호 인증번호 발급</i></a></li>                                                                                                                  
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                   
                        </ul>
                     </div>                     
                  </div>                    
               </li>
              <li>
                  <a href="#none" class="gnb-main-trigger">정보조회</a>                 
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">    
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">정보조회</strong>
                              <p>로그인 후 이용이 가능합니다.</p>
                           </div>
                        </div>                    
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">전자상거래업자</i></a></li>                                                                                                                  
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                   
                        </ul>
                     </div>                     
                  </div>                    
               </li>   
               <li>
                  <a href="#none" class="gnb-main-trigger">서비스 관리</a>                 
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">    
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">서비스 관리</strong>
                              <p>로그인 후 이용이 가능합니다.</p>
                           </div>
                        </div>                    
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">공지사항</i></a></li>                                                                                                                  
                                       <li><a href="javascript: void(0);"><i class="no-ico">전자상거래API 사용관리</i></a></li>                                                                                                                  
                                       <li><a href="javascript: void(0);"><i class="no-ico">전자상거래API 토근발급내역</i></a></li>                                                                                                                  
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                   
                        </ul>
                     </div>                     
                  </div>                    
               </li>                                                  
            </ul>                        
         </div>         
      </nav>
      <!-- gnb -->      
   </div>   
</header>
<div class="content-wrap">
   <div class="cont-head">
      <!--
      <div class="head-util">
         <nav class="breadcrumb-wrap" id="breadcrumb">
            <ol class="breadcrumb">
               <li class="home"><a href="javascript: void(0);" class="txt" title="홈으로 바로가기">홈</a></li>
               <li><span class="txt">개인통관고유부호</span></li>                     
               <li><span class="txt">개인통관고유부호 조회</span></li>                     
               <li class="last-li"><a href="javascript: void(0);" class="txt" title="현재페이지">개인통관고유부호 조회/정보변경</a></li>                  
            </ol>
         </nav>         
         <div class="language-area">
            <div class="form-toggle-switch language-switch">
               <input type="radio" id="kr" name="language" checked>
               <label for="kr" class="kr">한글</label>
               <input type="radio" id="en" name="language">
               <label for="en" class="en">English</label>
            </div>
         </div>
      </div>
   -->